
<div class="panels start-stop">
    <div class="panel">
        <div ng-init="startProgress = 'start'" ng-switch="startProgress">
            <div ng-switch-when="start">
                <h1>Welcome to Sofitel Meetings</h1>
                <p>
                    To start your meeting, you will need the access code
                    that was provided to you by an AVPartners representative.
                </p>
                <p>
                    Please have this ready and press 'Next' to continue.
                </p>

                <div class="progress">
                    <button class="btn" ng-click="$parent.startProgress = 'key'">Next</button>
                    <div progress value="1" total="3"></div>
                </div>
            </div>
            <div ng-switch-when="key">
                <h1>&nbsp;</h1>
                <p>
                    Please enter your access code below
                </p>
                <input autofocus ng-model="pass" type="password" />

                <div class="progress">
                    <button class="btn" ng-click="$parent.startProgress = 'start'">Cancel</button>
                    <button
                        class="btn"
                        ng-click="coModuleInstance.$exec('changeState', pass)"
                    >Next</button>
                    <div progress value="2" total="3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
