@import "compass";
@import "variables";

body {
    background-color: #242424;
}

$header-color: #242424;

div.splash > div {
    background-color: #209FD9;
}

.phonemain div.numpad > div menu.numpad {
    background-color: white;
}

article.main {
    > header {
        background-color: $header-color;

        div.tray {
            text-align: left;
            padding-left: 1.5em;

            span.name {
                font-size: 24px;
            }

            > div > div {
                background-color: darken( #139CE4, 10% );
            }
        }

        div.logo {
            width: 150px;
            margin-top: 5px;
            padding: 5px 5px 5px 5px;
            height: 60px;
            margin-right: 10px;

            > div {
                background-image: url("../../branding/arup/logo.svg");
            }
        }
    }

    /* Not selected tab colour */
    > div > div > tabs > div > nav > div {
        color: black !important;
        background-color: #515151;

        &.active {
            background-color: white!important;
        }
    }

    div.tab-content {
        background-color: white;
    }

    footer {
        h1 {
            display: none;
        }

        &.audio-only {
            &> div {
                display: table;
                width: 100%;

                &> div {
                    display: table-row;
                    height: 100% !important;

                    &> div {
                        display: table-cell;
                        vertical-align: middle;

                        padding-left: 1em;
                    }
                }
            }
        }
    }

    // ==============================
    // Use Styles to change the names
    // ==============================
    .source-image, tabs nav > div > div {
        &.PC, &.residentpc {
            &+ span {
                font-size: 0;
                &::before {
                    font-size: 2.5vh!important;
                    content: 'Room';

                    @media all and (orientation: portrait) {
                        font-size: 2.2vw!important;
                    }
                }
            }
        }
    }
}


// Mobile styles
article.mobile {
    header {
        background-color: $header-color;
        text-align: left;
        height: 80px;
        line-height: 80px;

        span {
            &.name {
                display: inline-block;
                padding-left: 20px;
            }

            &#show-menu {
                height: 40px !important;
                margin-top: 20px;
                width: 120px;
                padding-right: 0.5em;
            }

            > div.logo {
                background-image: url("../../branding/arup/logo.svg");

                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
    }

    &.navDecorate > div#mobile-sources {
        @include box-shadow(3px 0px 5px 0px rgba(0,0,0,0.1));
    }

    > div#mobile-sources {
        background-color: $header-color;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 80px;
        @include box-shadow(3px 0px 5px 0px rgba(0,0,0,0.1));

        h2 {
            display: none;
        }

        p {
            margin-top: 0px;
            font-weight: 300;
            color: white;
            font-size: 16px;
            text-align: center;
        }

        .sources button {
            margin-bottom: 0px;
            border-radius: 0px;
            padding-top: 30px;
            padding-bottom: 30px;
            outline: none;

            color: white;
            font-size: 130%!important;

            &.active {
                @include box-shadow(inset 0 0 10px rgba(0,0,0,0.6));
            }

            > span {
                font-size: 130%!important;
            }
        }
    }

    > aside #aside-wrapper {
        #nav-wrapper {
            > nav {
                display: none !important;
            }

            > section {
                box-shadow: none !important;
                margin-right: 0 !important;
            }
        }

        #source-info {
            h1 {
                margin: 10px 0px 15px 0px;
            }
        }
    }

    aside div#nav-buffer {
        background-color: rgba(0, 0, 0, 0.3);
    }


    // ----------------
    // CAMERA CONTROL
    // ----------------
    div.camera-select {
        div.camera-control {
            width: 100%;
        }
    }
}
