<header ng-controller="Modals">
    <img src="branding/aca/oh.png">
    <button ng-touch="showModal('power')"><i class="fa fa-power-off"></i></button>
    <modal name="power" title="Shutdown?">
        <p>
            <b>Are you sure you want to turn off the system?</b>
            <br />It may take up to 5min to restart.
        </p>
        <menu>
            <button class="cancel" ng-touch="closeModal('power')">Cancel</button>
            <button class="ok" ng-touch="coModuleInstance.$exec('shutdown')">Shutdown</button>
        </menu>
        <div style="clear: both"></div>
    </modal>
</header>

<div co-bind="'inputs'">
    <div class="tab-content">
        <tabs current="tab" auto-select="false">
            <pane ng-repeat="input in inputs" title="{{input}}" icon="{{input}}">
                <div ng-include="'components/main/' + input + '/' + input + '.html'"></div>
            </pane>
        </tabs>
        <div>
            <div co-bind="'Loops' as source_names">
                <div  ng-init="currentTab('Loops')">
                    <div btn-group="selectedSource.source">
                        <button ng-repeat="loop in source_names" btn="loop" ng-click="selectSource(loop)">
                            <div class="img"><img ng-src="{{sources[loop].image}}"></div>
                            <h1 class="desc">{{sources[loop].title}} <span>{{sources[loop].dur}}</span></h1>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav co-bind="'tab'" exec>
        <a href="#" id="loops" class="selected"><i class="pe-7s-loop"></i></a>
        <a href="#" id="channels"><i class="pe-7s-monitor"></i></a>
    </nav>
</div>
