<div co-bind="'sources'"></div>
<div co-bind="'group_id'"></div>
<div co-bind="'muted'"></div>

<header ng-controller="Modals">
    <img src="branding/images/oh_logo.png">
    <span co-module="'Computer'" co-bind="'authenticated'">
        <button ng-show="authenticated > 0" id="captioning" ng-touch="showModal('captioning')"><i class="fa fa-cog"></i></button>
    </span>
    <button ng-touch="coModuleInstance.$exec('toggle_mute')" id="picture-mute"><i class="fa fa-desktop"></i><i ng-show="muted" class="fa fa-circle-o"></i><i ng-show="!muted" class="fa fa-ban"></i></button>
    <button ng-touch="showModal('finish')" id="power-off"><i class="fa fa-power-off"></i></button>
    <modal name="finish" title="Finish Presentation?">
        <p>
            <b>Pressing finish will blank the display</b>
        </p>
        <menu>
            <button class="cancel" ng-touch="closeModal('finish')">Cancel</button>
            <button class="ok" ng-touch="coModuleInstance.$exec('shutdown'); setState('shutdown')">Finish</button>
        </menu>
        <div style="clear: both"></div>
    </modal>

    <modal name="captioning" title="Captioning Control">
        <p co-module="'Lifter'" co-bind="'connected'">
            <button ng-touch="coModuleInstance.$exec('down'); ">Open</button>
            <button ng-touch="coModuleInstance.$exec('up'); ">Close</button>
            <br /><br /><button ng-touch="coModuleInstance.$exec('stop'); ">Stop</button>
        </p>
        <menu co-module="'Computer'" co-bind="'connected'">
            <button class="cancel" ng-touch="coModuleInstance.$exec('launch_application', 'c:\\aca-apps\\operahouse\\aca-caption.bat'); closeModal('captioning'); ">Captioning</button>
            <button class="ok" ng-touch="coModuleInstance.$exec('launch_application', 'c:\\aca-apps\\operahouse\\aca-kiosk.bat'); closeModal('captioning'); ">Tours</button>
        </menu>
        <div style="clear: both"></div>
    </modal>

    <modal name="scheduled" title="Presentation Scheduled">
        <p>
            <b>The video will begin playing momentarily</b>
        </p>
        <menu>
            <button class="ok" ng-touch="closeModal('scheduled')">OK</button>
        </menu>
        <div style="clear: both"></div>
    </modal>

    <modal name="schedfailed" title="Failed to Schedule">
        <p>
            <b>An error occured whilst trying to schedule the video</b>
            <br /> Click OK to try scheduling again.
        </p>
        <menu>
            <button class="ok" ng-touch="closeModal('schedfailed')">OK</button>
        </menu>
        <div style="clear: both"></div>
    </modal>
</header>

<div co-bind="'group_id'" ng-controller="Modals">
    <div ng-controller="ToursCtrl">
        <tabs current="tab" auto-select="false">
            <pane ng-repeat="lang in languages" text="{{lang.name}}">

                <div>
                    <h1>{{lang.name}}</h1>
                    <div btn-group="lang.name">
                        <button ng-repeat="playlist in playlists[lang.id]" btn="loop" ng-click="play(playlist)">
                            <div class="img"><img ng-src="{{playlist.poster_url}}"></div>
                            <h1 class="desc">{{playlist.name}}</h1>
                            <div class="cover" ng-if="scheduled_id == playlist.id" ng-click="$event.stopPropagation()"><i class="pe-7s-check"></i></div>
                        </button>
                    </div>
                </div>

            </pane>
        </tabs>
        <div id="scheduling" ng-class="{visible: scheduling}"><div class="spinner"></div></div>
    </div>
</div>

