
<div co-bind="'VC' as source_names" id="vc-inputs">
    <div ng-if="source_names" ng-init="selectSource(source_names[0])" class="standard-panel">
        <div>
            <div ng-if="numOutputs > 1">
                <span ng-if="source_names.length === 1">Select displays to show this video conference unit</span>
                <span ng-if="source_names.length > 1">Select the video conference unit, then select displays.</span>
            </div>
            <div ng-if="numOutputs === 1">
                <span ng-if="source_names.length === 1">The video conference unit is now displaying</span>
                <span ng-if="source_names.length > 1">The selected video conference unit will display.</span>
            </div>
            <p>
                Use the drop-down below to send secondary content<br />
                <select
                    ng-model="content_source"
                    ng-options="key as content.title for (key, content) in sources"
                    ng-touch="$event.stopPropagation()"
                    user-select="true" 
                    no-capture
                >
                    <option value="">select content source</option>
                </select>
                <button ng-if="content_source" ng-touch="coModuleInstance.$exec('vc_content', selectedSource.source, content_source)">Send Selection</button>
            </p>
        </div>
        <div class="sources" ng-if="source_names.length > 1">
            <div btn-group="selectedSource.source">
                <button ng-repeat="vc in source_names" btn="vc" ng-touch="selectSource(vc)" class="toggle" ng-class="sources[vc].type"><i class="fa fa-group"></i>{{sources[vc].title}}</button>
            </div>
        </div>
    </div>
</div>
