
<div co-bind="'VC' as source_names"
    id="vc-inputs"
    ng-init="coModuleInstance.$exec('init_vc')"
    class="phonemain"
    ng-controller="VcCtrl"
>
    <span co-bind="'vc_content_source' as vc.current_content"></span>
    <span co-bind="'mics_mutes'"></span>
    <span co-bind="'hide_vc_sources' as vc.hide_vc_sources"></span>

    <div ng-if="source_names" ng-init="selectSource(source_names[0])" class="standard-panel">
        <div class="presentation-layout" co-module="'VidConf'">
            <span co-bind="'searching' as vc.searching"></span>

            <!-- Content Selection -->
            <select ng-if="!vc.hide_vc_sources"
                ng-model="vc.content_source"
                ng-options="key as content.title for (key, content) in vc_sources"
                ng-touch="$event.stopPropagation()"
                user-select="true" 
                no-capture
            >
                <option value="">select content source</option>
            </select>

            <br />

            <!-- Presenation Mode -->
            <div id="vc-pres-mode" co-bind="'presentation' as vc.pres_mode">
                <span><br /></span>
                <div btn-group="vc.pres_mode" btn-class="btn">
                    <button
                        btn="'local'"
                        ng-touch="vc.pres_mode = 'local'; coModuleInstance.$exec('presentation_mode', vc.pres_mode)"
                    >Stop Pres</button>
                    <button
                        btn="'remote'"
                        ng-touch="vc.pres_mode = 'remote'; coModuleInstance.$exec('presentation_mode', vc.pres_mode)"
                    >Start Presentation</button>
                </div>
            </div>

            <br />

            <!-- Mute Mics -->
            <span class="mutebtn">
                <span ng-if="mics_mutes" co-module="'Mixer'" co-bind="'fader' + mics_mutes[0] + '_mute' as vc.muted"></span>
                <span ng-if="!mics_mutes" co-bind="'audio_mute' as vc.muted"></span>
                <button co-module="'System'" co-bind="'connected'" class="toggle" ng-class="{disabled: !vc.status.direction, muted: vc.muted}"
                    ng-touch="coModuleInstance.$exec('vc_mute', !vc.muted)"
                >
                    <span ng-if="!vc.muted"><i class="fa fa-microphone"></i> Mute Mics</span>
                    <span ng-if="vc.muted"><i class="fa fa-microphone-slash"></i> Unmute Mics</span>
                </button>
            </span>

            <br />
            <span co-module="'Bookings'">
                <span co-bind="'can_join_skype_meeting' as vc.skype_available"></span>
            </span>

            <span ng-if="!vc.status.direction && vc.skype_available">
                <br />
                <br />
                <button ng-touch="coModuleInstance.$exec('button_press', 'home', 'up', 'select')">
                    Join Meeting
                </button>
            </span>

            <div ng-if="vc.status.direction || !vc.skype_available" style="margin: 0 1em; text-align: left">
                To record a Skype conference you must:
                <ol>
                    <li>join the conference on your laptop</li>
                    <li>use the Skype client recording tools</li>
                </ol>
            </div>
        </div>
        <div>
            <div class="numpad" co-module="'VidConf'">
                <div co-bind="'search_results' as vc.results">
                    <div>
                        <h1 ng-if="!vc.selected">Search or dial</h1>
                        <h1 ng-if="vc.selected">Dial: {{vc.selected.name}}</h1>
                        <div class="number">
                            <input
                                ng-model="vc.search_string"
                                ng-touch="$event.stopPropagation()"
                                user-select="true"
                                ng-focus="inputFocused()"
                                no-capture>

                            <span role="button" class="fa fa-arrow-circle-o-left clear-num" ng-click="vc.show_directory = false; vc.selected = null; vc.dial_string = vc.search_string = ''; " ng-show="vc.search_string.length || vc.dial_string.length || vc.show_directory"></span>
                            <span class="fa fa-keyboard-o clear-num" ng-click="focusInput()" ng-show="!(vc.search_string || vc.dial_string) && !vc.show_directory"></span>
                        </div>

                        <menu class="numpad" ng-if="!vc.show_directory">
                            <button ng-click="dial('1')">1</button>
                            <button ng-click="dial('2')">2</button>
                            <button ng-click="dial('3')">3</button>

                            <button ng-click="dial('4')">4</button>
                            <button ng-click="dial('5')">5</button>
                            <button ng-click="dial('6')">6</button>

                            <button ng-click="dial('7')">7</button>
                            <button ng-click="dial('8')">8</button>
                            <button ng-click="dial('9')">9</button>

                            <button ng-click="dial('*')">*</button>
                            <button ng-click="dial('0')">0</button>
                            <button ng-click="dial('#')">#</button>
                        </menu>

                        <div class="results" ng-if="!vc.status.direction && !vc.searching && vc.show_directory && (vc.results && vc.results.length)">
                            <div ng-repeat="result in vc.results" ng-click="vc.selected = result" ng-class="{selected: vc.selected === result}">
                                <span class="title">{{result.name}}</span><br />
                                {{result.number}}
                            </div>
                        </div>

                        <div class="results" ng-if="!vc.status.direction && vc.searching && vc.show_directory">
                            <br />
                            Searching...
                            <div class="spinner" style="width: 60px; height: 60px;">
                            </div>
                        </div>

                        <div class="results" ng-if="!vc.status.direction && !vc.searching && vc.show_directory && !(vc.results && vc.results.length)">
                            <br />
                            No results. Try adjusting your search.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sources" co-module="'VidConf'">
            <span co-bind="'call_status' as vc.status"></span>
            <!-- NOTE:: this is a bit hacky -->
            <span ng-if="vc.status" ng-init="vc.module = coModuleInstance"></span>

            <table class="remote">
                <tr>
                    <td class="call"
                        ng-touch="coModuleInstance.$exec('dial', vc.dial_string, vc.search_string); $event.preventDefault();"
                    ></td>
                    <td></td>
                    <td class="hangup"
                        ng-touch="coModuleInstance.$exec('button_press', 'hangup'); $event.preventDefault();"
                    ></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="up"
                        ng-touch="coModuleInstance.$exec('button_press', 'up'); $event.preventDefault();"
                    ></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="left"
                        ng-touch="coModuleInstance.$exec('button_press', 'left'); $event.preventDefault();"
                    ></td>
                    <td class="center"
                        stylz="font-size: 1em; background-color: #57bdcb; border-radius: 0.6em; padding: 0 5px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;"
                        ng-touch="coModuleInstance.$exec('button_press', 'select')"
                    >
                    </td>
                    <td class="right"
                        ng-touch="coModuleInstance.$exec('button_press', 'right'); $event.preventDefault();"
                    ></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="down"
                        ng-touch="coModuleInstance.$exec('button_press', 'down'); $event.preventDefault();"
                    ></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="back"
                        ng-touch="coModuleInstance.$exec('button_press', 'back'); $event.preventDefault();"
                    ></td>
                    <td class="home"
                        ng-touch="coModuleInstance.$exec('button_press', 'home')"
                    ></td>
                    <td class="menu"
                        ng-touch="coModuleInstance.$exec('button_press', 'menu'); $event.preventDefault();"
                    ></td>
                </tr>
            </table>
        </div>
    </div>
</div>
