
<div co-bind="'VC' as source_names"
    id="vc-inputs"
    ng-init="coModuleInstance.$exec('init_vc')"
    class="phonemain"
>
    <div ng-if="source_names" ng-init="selectSource(source_names[0])" class="standard-panel">
        <div>
            <div class="numpad">
                <div>
                    <div>
                        <h1>Search for remote site</h1>
                        <div class="number">
                            <input
                                ng-touch="$event.stopPropagation()"
                                user-select="true" 
                                no-capture>
                            <span role="button" class="fa fa-arrow-circle-o-left clear-num" ng-click="backspace()" ng-show="phone.number.length"></span>
                        </div>

                        <menu class="numpad">
                            <button ng-click="addNum(1)">1</button>
                            <button ng-click="addNum(2)">2</button>
                            <button ng-click="addNum(3)">3</button>

                            <button ng-click="addNum(4)">4</button>
                            <button ng-click="addNum(5)">5</button>
                            <button ng-click="addNum(6)">6</button>

                            <button ng-click="addNum(7)">7</button>
                            <button ng-click="addNum(8)">8</button>
                            <button ng-click="addNum(9)">9</button>

                            <button ng-click="addNum('*')">*</button>
                            <button ng-click="addNum(0)">0</button>
                            <button ng-click="addNum('#')">#</button>
                        </menu>
                    </div>
                </div>
            </div>
        </div>
        <div class="sources">
            <div>
                <select
                    ng-model="content_source"
                    ng-options="key as content.title for (key, content) in sources"
                    ng-touch="$event.stopPropagation()"
                    user-select="true" 
                    no-capture
                >
                    <option value="">select content source</option>
                </select>
                <button ng-if="content_source" ng-touch="coModuleInstance.$exec('vc_content', selectedSource.source, content_source)">
                    Send Selection
                </button>
                <button class="toggle"
                    ng-class="{disabled: phone.ringing || phone.incall || !phone.number.length}"
                    ng-touch="coModuleInstance.$exec('phone_dial', phone_settings.dial_id)"
                >
                    <i class="fa fa-hand-pointer-o"></i>Dial
                </button>
                <button class="toggle" ng-class="{disabled: !(phone.ringing || phone.incall)}"
                    ng-touch="coModuleInstance.$exec('phone_hangup', phone_settings.hangup_id)"
                >
                    <i class="fa fa-tty"></i>Hang Up
                </button>
                <span ng-if="mics_mutes" co-module="'Mixer'">
                    <span co-bind="'fader' + mics_mutes[0] + '_mute' as phone.muted"></span>
                    <button class="toggle" ng-class="{disabled: !(phone.ringing || phone.incall), muted: phone.muted}"
                        ng-touch="coModuleInstance.$exec('mute', mics_mutes, !phone.muted)"
                    >
                        <span ng-if="!phone.muted"><i class="fa fa-microphone"></i>Mute Mics</span>
                        <span ng-if="phone.muted"><i class="fa fa-microphone-slash"></i>Unmute Mics</span>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
