
@import "../../../../bower_components/angular-button-group/button-group.scss";


#vc-inputs {
    button.muted {
        background-color: rgba(255, 0, 0, 0.5);
    }

    #vc-pres-mode {
        @include button-group();

        button {
            min-width: 5em;
        }

        margin-bottom: 8px;
    }

    div.presentation-layout {
        select {
            margin-bottom: 10px;
            padding: 10px;
            -webkit-appearance: none;

            font-size: larger;
        }

        button {
            padding: 10px;
            margin-bottom: 2px;
        }

        div.nosee {
            opacity: 0;
        }

        span.mutebtn > button {
            width: 90%;
        }
    }

    div.numpad {
        h1 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    div.results {
        height: 19.3em;
        text-align: left;
        overflow: hidden;
        overflow-y: scroll;

        &> div {
            margin-top: 0.7em;
            padding: 0.3em;
            background-color: #D7D7D7;
            border-radius: 4px;
            color: black;

            &.selected {
                background-color: #25383C;
                color: white;
            }

            span.title {
                font-weight: bold;
            }
        }
    }

    table.remote {
        width: 100%;
        max-width: 250px;
        margin: 0 auto;
        margin-bottom: 1.5em;

        font-family: FontAwesome;

        tr {
            height: 60px;

            &> td {
                width: 33.3%;
                font-size: 30px;
                vertical-align: middle;

                &.up:before {
                    content: "\f077";
                }
                
                &.left:before {
                    content: "\f053";
                }

                &.right:before {
                    content: "\f054";
                }

                &.down:before {
                    content: "\f078";
                }


                &.center:before {
                    content: "\f192";
                }

                &.zoomin:before {
                    content: "\f00e";
                }

                &.zoomout:before {
                    content: "\f010";
                }

                &.home:before {
                    content: "\f015";
                }

                &.back:before {
                    content: "\f177";
                }

                &.menu:before {
                    content: "\f0c9";
                }

                &.call {
                    color: green;
                    &:before {
                        content: "\f095";
                    }
                }

                &.hangup {
                    color: red;
                    &:before {
                        content: "\f1e4";
                    }
                }
            }
        }
    }
}
