
@import "../../../../bower_components/angular-button-group/button-group.scss";


#vc-inputs {
    #vc-pres-mode {
        @include button-group();

        button {
            min-width: 5em;
        }

        margin-bottom: 8px;
    }

    div.presentation-layout {
        select {
            margin-bottom: 10px;
            padding: 10px;
            -webkit-appearance: none;

            font-size: larger;
        }

        button {
            padding: 10px;
            margin-bottom: 2px;
        }

        div.nosee {
            opacity: 0;
        }
    }

    div.numpad {
        h1 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    div.results {
        height: 19.3em;
        text-align: left;
        overflow: hidden;
        overflow-y: scroll;

        &> div {
            margin-top: 0.7em;
            padding: 0.3em;
            background-color: #D7D7D7;
            border-radius: 4px;
            color: black;

            &.selected {
                background-color: #25383C;
                color: white;
            }

            span.title {
                font-weight: bold;
            }
        }
    }
}
