<!--
    Mixer used for audio
    We check against undefined as 0 is falsey
-->
<div ng-if="output.mixer_id !== undefined" co-bind="'vol_min'">
    <div class="mute"  co-module="'Mixer'" co-bind="'fader_' + output.mixer_id + '_mute' as mute" exec="mute(output.mixer_id, mute)">
        <div image-toggle model="mute"></div>
    </div>
    <div class="volume" co-bind="'vol_max'">
        <div co-module="'Mixer'" co-bind="'fader_' + output.mixer_id as volume" exec="fader(output.mixer_id, volume)">
            <div>
                <div co-range model="volume" min="vol_min" max="vol_max"></div>
            </div>
        </div>
    </div>
</div>

<!--
    Master Audio / All displays
-->
<div ng-if="!output" co-bind="'vol_min'">
    <div class="mute" co-bind="'master_mute' as mute" exec>
        <div image-toggle model="mute"></div>
    </div>
    <div class="volume" co-bind="'vol_max'">
        <div co-bind="'master_volume' as volume" exec>
            <div>
                <div co-range model="volume" min="vol_min" max="vol_max"></div>
            </div>
        </div>
    </div>
</div>


<!--
    Display only audio
-->
<div ng-if="output && output.mixer_id === undefined" co-bind="'vol_min'">
    <div class="mute" co-module="output.$key" co-bind="'mute'" exec>
        <div image-toggle model="mute"></div>
    </div>
    <div class="volume" co-bind="'vol_max'">
        <div co-module="output.$key" co-bind="'volume'" exec>
            <div>
                <div co-range model="volume" min="vol_min" max="vol_max"></div>
            </div>
        </div>
    </div>
</div>
