<!--
    Mixer used for audio
    We check against undefined as 0 is falsey
-->
<div ng-if="output.mixer_id !== undefined" co-bind="'vol_min'">
    <div class="mute" 
        co-module="'Mixer'"
        co-bind="'fader' + (output.feedback_id || output.mixer_id) + '_' + (output.mixer_mute_index || output.mixer_index || 1) + '_mute' as mute"
        exec="mute(output.mixer_id, mute, output.mixer_mute_index || output.mixer_index || 1)"
    >
        <div image-toggle model="mute"></div>
    </div>
    <div class="volume" co-bind="'vol_max'">
        <div
            co-module="'Mixer'"
            co-bind="'fader' + (output.feedback_id || output.mixer_id) + '_' + (output.mixer_index || 1) as volume"
            exec="fader(output.mixer_id, volume, output.mixer_index || 1)"
        >
            <div>
                <div co-range model="volume" min="vol_min" max="vol_max"></div>
            </div>
        </div>
    </div>
</div>

<!--
    Master Audio / All displays
-->
<div ng-if="!output" co-bind="'vol_min'">
    <div class="mute" co-bind="'master_mute' as mute" exec="global_mute(mute)">
        <div image-toggle model="mute"></div>
    </div>
    <div class="volume" co-bind="'vol_max'">
        <div co-bind="'master_volume' as volume" exec="global_vol(volume)">
            <div>
                <div co-range model="volume" min="vol_min" max="vol_max"></div>
            </div>
        </div>
    </div>
</div>


<!--
    Display only audio
    Assume no audio mute - just lower volume to zero
-->
<div
    ng-if="output && output.mixer_id === undefined && !output.no_audio"
    co-module="output.$key"
    co-implicit-index
    co-bind="'volume_min'"
    volume-mute
    ng-init="mute = false"
>
    <div class="mute">
        <div image-toggle model="mute"></div>
    </div>
    <div class="volume" co-bind="'volume_max'">
        <div
            co-bind="'volume' as volume"
            exec
        >
            <div>
                <div co-range model="volume" min="volume_min" max="volume_max"></div>
            </div>
        </div>
    </div>
</div>
