<!--
    Mixer used for audio
    We check against undefined as 0 is falsey
-->
<div ng-if="output.mixer_id !== undefined && output.basic_mixer !== true" co-bind="'vol_min' as audio.min">
    <div class="mute" 
        co-module="'Mixer'"
        co-bind="'fader' + (output.feedback_id || output.mixer_id) + '_' + (output.mixer_mute_index || output.mixer_index || 1) + '_mute' as audio.mute"
        exec="mute(output.mixer_id, audio.mute, output.mixer_mute_index || output.mixer_index || 1)"
    >
        <div image-toggle model="audio.mute"></div>
    </div>
    <div class="volume" co-bind="'vol_max' as audio.max">
        <div
            co-module="'Mixer'"
            co-bind="'fader' + (output.feedback_id || output.mixer_id) + '_' + (output.mixer_index || 1) as audio.volume"
            exec="fader(output.mixer_id, audio.volume, output.mixer_index || 1)"
        >
            <div>
                <div co-range model="audio.volume" min="audio.min" max="audio.max"></div>
            </div>
        </div>
    </div>
</div>

<!--
    A mixer that doesn't support indexes - such as the DMP64
-->
<div ng-if="output.mixer_id !== undefined && output.basic_mixer === true" co-bind="'vol_min' as audio.min">
    <div class="mute" 
        co-module="'Mixer'"
        co-bind="'fader' + (output.mute_feedback_id || output.mute_id || output.feedback_id || output.mixer_id) + '_mute' as audio.mute"
        exec="mute(output.mute_id || output.mixer_id, audio.mute)"
    >
        <div image-toggle model="audio.mute"></div>
    </div>
    <div class="volume" co-bind="'vol_max' as audio.max">
        <div
            co-module="'Mixer'"
            co-bind="'fader' + (output.feedback_id || output.mixer_id) as audio.volume"
            exec="fader(output.mixer_id, audio.volume)"
        >
            <div>
                <div co-range model="audio.volume" min="audio.min" max="audio.max"></div>
            </div>
        </div>
    </div>
</div>

<!--
    Master Audio / All displays
-->
<div ng-if="!output" co-bind="'vol_min' as audio.min">
    <div class="mute" co-bind="'master_mute' as audio.mute" exec="global_mute(audio.mute)">
        <div image-toggle model="audio.mute"></div>
    </div>
    <div class="volume" co-bind="'vol_max' as audio.max">
        <div co-bind="'master_volume' as audio.volume" exec="global_vol(audio.volume)">
            <div>
                <div co-range model="audio.volume" min="audio.min" max="audio.max"></div>
            </div>
        </div>
    </div>
</div>


<!--
    Display only audio
    Assume no audio mute - just lower volume to zero
-->
<div
    ng-if="output && output.mixer_id === undefined && !output.no_audio"
    co-bind="'vol_min' as audio.min"
    volume-mute
    ng-init="audio.virtual_mute = false"
>
    <div ng-if="output.no_mute" class="mute" >
        <div image-toggle model="audio.virtual_mute"></div>
    </div>
    <div ng-if="!output.no_mute"
        co-module="output.$key"
        co-implicit-index
        class="mute" 
        co-bind="'audio_mute' as audio.mute"
        exec="mute_audio(audio.mute)"
    >
        <div image-toggle model="audio.mute"></div>
    </div>
    <div class="volume" co-bind="'vol_max' as audio.max">
        <div
            co-module="output.$key"
            co-implicit-index
            co-bind="'volume' as audio.volume"
            exec
        >
            <span co-bind="'volume_min' as audio.devmin"></span>
            <span co-bind="'volume_max' as audio.devmax"></span>
            <div>
                <div co-range model="audio.volume" min="audio.min_actual" max="audio.max_actual"></div>
            </div>
        </div>
    </div>
</div>
