
<span class="name">{{name}}</span>

<!-- 
    POWER Pop up
 -->
<div>
    <div class="power" ng-touch="showModal('power')">
        <modal name="power" title="Shutdown?">
            <p>
                <b>Are you sure you want to turn off the system?</b>
                <br />It may take up to 5min to restart.
            </p>
            <menu co-bind="'joined'">
                <button class="cancel" ng-touch="closeModal('power')">Cancel</button>
                <button class="ok" ng-touch="coModuleInstance.$exec('shutdown')">Shutdown</button>
                <button 
                    class="ok"
                    ng-if="joined.rooms.length > 1"
                    ng-touch="coModuleInstance.$exec('shutdown', true)"
                    style="margin-right: 1em;"
                >Shutdown All</button>
            </menu>
            <div style="clear: both"></div>
        </modal>
    </div>
</div>

<!-- 
    HELP Pop up
 -->
<div>
    <div class="help" ng-touch="showModal('help')">
        <modal name="help" title="Need Support?" co-bind="'help_msg'">
            <p ng-bind-html="help_msg"></p>
            <p>The room or system name is: <b>{{name}}</b></p>
        </modal>
    </div>
</div>

<!-- 
    Room Joining Pop up
 -->
<div co-bind="'room_ids'">
    <span co-bind="'is_slave_system'"></span>
    <div ng-if="room_ids.length > 1" ng-show="!is_slave_system" co-bind="'joined'" class="joining" ng-class="{active: joined.rooms.length > 1}" ng-touch="showModal('joining')" ng-controller="JoiningCtrl">
        <div co-bind="'rooms'"></div>
        <modal name="joining" title="Select Rooms to Link">
            <div class="basic-wrapper">
                <!-- Room is joined to others: -->
                <div ng-if="joined.rooms.length > 1">
                    <h3>The following rooms are Linked:</h3>

                    <ul>
                        <li ng-repeat="room in joined.rooms">
                            {{rooms[room]}}
                        </li>
                    </ul>

                    <menu>
                        <button ng-click="coModuleInstance.$exec('unjoin'); closeModal('joining')">
                            Seperate / Unlink
                        </button>

                        <button class="ok" ng-click="closeModal('joining')">
                            Close
                        </button>
                    </menu>
                </div>

                <!-- Room is independant: -->
                <div ng-if="joined.rooms.length == 1">
                    <h3>Select the rooms you would like to link with.</h3>

                    <label ng-repeat="id in room_ids" ng-if="id !== controlSystem">
                        <div co-system="id" co-module="'System'" co-bind="'joined' as remoteJoin">
                            <label ng-if="remoteJoin.rooms.length <= 1">
                                <div image-toggle model="joiner.selected[id]"></div>
                                <span ng-touch="joiner.selected[id] = !joiner.selected[id]">{{rooms[id]}}</span>
                            </label>


                            <label ng-if="remoteJoin.rooms.length > 1" ng-controller="Modals" ng-init="popupName = 'remoteUnjoin' + id">
                                {{rooms[id]}} is currently linked to another room
                                <button ng-click="showModal(popupName)">unlink with care</button>

                                <modal class="confirm-unjoin" name="{{popupName}}" title="Perform Remote Unjoin?">
                                    <p>Warning! Please ensure that the following rooms are not in use:</p>

                                    <ul>
                                        <li ng-repeat="room in remoteJoin.rooms">{{rooms[room]}}</li>
                                    </ul>

                                    <menu>
                                        <button class="ok" ng-click="coModuleInstance.$exec('unjoin'); closeModal(popupName)">
                                            Continue Unlinking
                                        </button>

                                        <button ng-click="closeModal(popupName)">
                                            Cancel
                                        </button>
                                    </menu>

                                    <div style="clear: both"></div>
                                </modal>
                            </label>
                        </div>
                    </label>

                    <br />
                    <br />
                    <menu>
                        <button ng-click="joinRooms()">Link selected to This room</button>
                    </menu>

                    <div style="clear: both"></div>
                </div>
            </div>
        </modal>

        <modal name="notify_joining" title="Linking Notice" no-close="true">
            <p>This room has been linked to: {{rooms[joined.initiator]}}</p>

            <menu>
                <button ng-if="!is_slave_system" class="ok" ng-click="closeModal('notify_joining')">
                    Got it
                </button>
                <button ng-if="is_slave_system" class="ok" ng-click="coModuleInstance.$exec('unjoin'); closeModal('notify_joining')">
                    Unlink
                </button>
            </menu>

            <div style="clear: both"></div>
        </modal>
    </div>
</div>

<!-- 
    Screen Control Pop up
 -->
<div>
    <div ng-if="hasScreens || hasLifters" class="screens" ng-touch="showModal('screens')">
        <modal name="screens" title="Raise/Lower Control">
            <h2 ng-if="hasScreens">Screens:</h2>

            <!-- Get the number of screens and list them -->
            <table ng-if="hasScreens" class="entries" co-module="'Screen'">
                <tr
                    ng-repeat="display in outputs | orderObjectBy:'pri'"
                    ng-if="display.screen"
                    co-module="display.screen.module"
                    co-implicit-index
                    co-bind="'lifter' + (display.screen.index || 1) as screen" exec="state(screen, display.screen.index)"
                >
                    <td>{{display.title}}</td>
                    <td ><div ios-toggle model="screen" true-value="'down'" false-value="'up'"></div></td>
                    <td class="onoff">{{screen === 'down' ? 'Down' : 'Up'}}</td>
                </tr>
            </table>

            <h2 ng-if="hasLifters">Lifters:</h2>

            <!-- Get the number of screens and list them -->
            <table ng-if="hasLifters" class="entries" co-module="'Lifter'">
                <tr
                    ng-repeat="display in outputs | orderObjectBy:'pri'"
                    ng-if="display.lifter"
                    co-module="display.lifter.module"
                    co-implicit-index
                    co-bind="'lifter' + (display.lifter.index || 1) as lifter" exec="state(lifter, display.lifter.index)"
                >
                    <td>{{display.title}}</td>
                    <td ><div ios-toggle model="lifter" true-value="'down'" false-value="'up'"></div></td>
                    <td class="onoff">{{lifter === 'down' ? 'Down' : 'Up'}}</td>
                </tr>
            </table>
        </modal>
    </div>
</div>

<!-- 
    Manual Control Pop up
 -->
<div>
    <div ng-if="has_preview || poweredOutputs > 1" class="displays" ng-touch="showModal('displays')">
        <modal name="displays" title="Display Control">
            <h2>Displays:</h2>

            <!-- Get the number of displays and list them -->
            <table class="entries" co-module="'Display'">
                <tr
                    ng-repeat="display in outputs | orderObjectBy:'pri'"
                    ng-if="!display.no_mod"
                    co-module="display.$key"
                    co-implicit-index
                    co-bind="'power'" exec
                >
                    <td>{{display.title}}</td>
                    <td ><div ios-toggle model="power"></div></td>
                    <td class="onoff">{{power ? 'On' : 'Off'}}</td>
                </tr>
            </table>
        </modal>
    </div>
</div>

<!-- 
    Microphone popup
 -->
<div co-bind="'mics'">
    <div class="mics" ng-if="mics && mics[0].basic_mixer === undefined" co-module="'Mixer'" ng-touch="showModal('mics')">
        <modal name="mics" title="Microphones">
            <div 
                class="mic"
                ng-repeat="mic in mics"
                co-index="mic.mixer || 1"
            >
                <h2>{{mic.name}}</h2>
                <div>
                    <div 
                        class="mute"
                        co-bind="'fader' + (mic.feedback_id || mic.id) + '_' + (mic.mute_index || mic.index || 1) + '_mute' as mute"
                        exec="mute(mic.id, mute, mic.mute_index || mic.index || 1)"
                    >
                        <div image-toggle model="mute"></div>
                    </div>
                    <div class="mic_level">
                        <div
                            co-bind="'fader' + mic.id + '_' + (mic.index || 1) as level"
                            exec="fader(mic.id, level, (mic.index || 1))"
                            init-val="mic.min"
                        >
                            <div>
                                <div co-range model="level" min="mic.min" max="mic.max"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </modal>
    </div>
    <div class="mics" ng-if="mics && mics[0].basic_mixer === true" co-module="'Mixer'" ng-touch="showModal('mics')">
        <modal name="mics" title="Microphones">
            <div 
                class="mic"
                ng-repeat="mic in mics"
                co-index="mic.mixer || 1"
            >
                <h2>{{mic.name}}</h2>
                <div>
                    <div 
                        class="mute"
                        co-bind="'fader' + (mic.mute_feedback_id || mic.mute_id || mic.feedback_id || mic.id) + '_mute' as mute"
                        exec="mute(mic.mute_id || mic.id, mute)"
                    >
                        <div image-toggle model="mute"></div>
                    </div>
                    <div class="mic_level">
                        <div
                            co-bind="'fader' + (mic.feedback_id || mic.id) as level"
                            exec="fader(mic.id, level)"
                            init-val="mic.min"
                        >
                            <div>
                                <div co-range model="level" min="mic.min" max="mic.max"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </modal>
    </div>
</div>

<!-- 
    Lighting Pop up
 -->
<div co-bind="'lights'">
    <div class="lights" ng-if="lights" co-bind="'light_level'" exec ng-touch="showModal('lights')">
        <modal name="lights" title="Lighting Modes">
            <div btn-group="light_level">
                <button ng-repeat="level in lights.levels" btn="level.name" ng-touch="coModuleInstance.$exec('lights_to', level.name)" class="{{level.name}} toggle"><i class="fa fa-lightbulb-o"></i>{{level.name}}</button>
            </div>
        </modal>
    </div>
</div>
