@import "compass";
@import "variables";



/////////////////////////////
// TRAY (DESKTOP + TABLET) //
/////////////////////////////
div.tray {
    text-align: center;

    &> span {
        color: white;
        font-size: 20px;
        line-height: 80px;
    }


    &> div {
        float: right;
        height: 60px;
        margin-top: 10px;

        > div {
            float: right;
            width: 60px;
            height: 100%;
            margin-right: 10px;
            background-color: rgba(255,255,255,0.1);
            @include border-radius($radius);

            font-family: 'doe';
            font-size: 40px;
            text-align: center;
            line-height: 60px;
            color: rgba(255,255,255,0.9);

            &.lights::before {
                content: "\0053";
            }

            &.displays::before {
                content: "\0048";
            }

            &.screens::before {
                content: "\0057";
            }

            &.help::before {
                margin-left: -4px;
                content: "\004a";
            }

            &.cameras::before {
                content: "\0045";
            }

            &.power::before {
                margin-left: -4px;
                content: "\004c";
            }

            &.mics::before {
                content: "\004f";
            }

            &.catering {
                &::before {
                    content: "\004e";
                }

                &.pending {
                    background-color: rgba(255, 100, 0, 1);
                }

                &.accepted {
                    background-color: rgba(0, 255, 0, 0.5);
                }
            }

            &.waiter {
                background-image: url("../../components/images/waiter.svg");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: auto 60%;

                &.pending {
                    background-color: rgba(255, 100, 0, 1);
                }

                &.accepted {
                    background-color: rgba(0, 255, 0, 0.5);
                }
            }

            &.joining {
                &::before {
                    content: "\0052";
                }

                &.active {
                    background-color: rgba(255, 0, 0, 0.5);
                }
            }
        }
    }
}


//////////////////////////
// MODAL CUSTOMISATIONS //
//////////////////////////
modal {
    span.close {
        position: absolute;
        top: 2px;
        right: 10px;

        font-family: FontAwesome;
        font-size: 34px;
        color: grey;

        &::before {
            content: "\f00d";
        }
    }

    .btn-group {
        padding: 0px 30px;

        button {
            height: 40px;
        }
    }

    &> div > div p {
        font-size: 16px;
    }

    &> div > div h1 {
        font-size: 18px;
    }
}



modal[name=cameras] {
    > div > div {
        width: 90%;
    }

    div.standard-panel {
        display: table;
        width: 100%;
        height: 100%;

        > div {
            display: table-cell;
            vertical-align: top !important;
            height: 100%;
            position: relative;

            &.presets {
                padding-left: 2em;
            }

            &.sources {
                padding-top: 2em;

                button > i {
                    margin-right: 0.5em;
                }
            }

            &.camera-control {
                height: 22em;

                div.track {
                    background-color: lightgrey !important;
                }
            }
        }
    }
}


//////////////////
// POPUP STYLES //
//////////////////
modal[name=lights] {
    button {
        text-align: left;

        i {
            margin-right: 10px;
            font-size: 20px;
        }

        &.Off i {
            opacity: 0.15;
        }

        &.Presentation i {
            opacity: 0.5;
        }

        &.Full i {
            opacity: 1;
        }
    }
}



// Manual control popup
modal[name=displays], modal[name=screens] {
    &> div > div {
        width: 300px;
    }

    h2 {
        padding-left: 2em;
    }

    table.entries {
        margin: 0 auto;

        td {
            padding: 0.4em 0.3em;

            &.onoff {
                width: 4em;
            }
        }
    }
}


modal[name=help] {
    p.helpoptions {
        text-align: center;

        button {
            margin-bottom: 10px;
            margin-left: 0.2em !important;
        }
    }
}

// Hide help popup on mobile
article.mobile {
    div.help {
        display: none;
    }
}


// Mic control popup
@import "../../../bower_components/angular-named-toggle/image-toggle.scss";
@import "../../../bower_components/angular-range-slider/angular-range-slider.scss";

modal[name=mics] {
    div.mic {
        padding: 0 30px;

        &> h2 {
            margin-bottom: 0;
        }

        &> div {
            display: table;
            position: relative;
            width: 100%;
            height: 50px;

            &> div {
                display: table-cell;
                vertical-align: middle;
            }

            &> div.mute {
                width: 40px;

                @include image-toggle(
                    $trueImage: "../../components/images/microphone-mute.svg",
                    $falseImage: "../../components/images/microphone.svg",
                    $width: 50px,
                    $height: 50px
                );
                padding-right: 15px;
            }

            &> div.mic_level {
                width: 100%;

                @include co-range-slider(
                    $handle-size: 40px,
                    $track-girth: 20px,
                    $track-colour:$contentBackground
                );
            }

        }
    }

    div.audio_presets {
        padding: 0 30px;

        button {
            font-size: larger;
            margin-right: 1em;
        }
    }
}


@import "../../../bower_components/angular-named-toggle/image-toggle.scss";
modal[name=joining] {
    div.basic-wrapper {
        h3 {
            padding-left: 1.5em;
        }

        label > div {
            padding-left: 1.5em;
            padding-bottom: 0.8em;
        }
    }

    @include image-toggle($trueImage: '../../components/shared/checkbox-checked.png', $falseImage: '../../components/shared/checkbox-empty.png');

    .image-toggle {
        padding-right: 0.8em;

        > div {
            width: 2em;
            height: 2em;

            cursor: pointer;
        }
    }
}


//////////////////////////
//    Catering Popup    //
//////////////////////////

$selection-width: 55%;
$order-width: 45%;

modal[name=catering] {
    &> div > div {
        width: 90%;
        height: 92%;

        position: relative;

        div.selection {
            menu {
                width: $selection-width;
                position: absolute;
                bottom: 0;
                left: 0;

                button.add {
                    float: right;
                }
            }

            nav {
                position: absolute;
                top: 50px;
                left: 0;

                width: $selection-width;
                height: 80px;

                // --------
                // THE TABS
                // --------
                &> div {
                    border-bottom: 1px solid rgba(255,255,255,0.2);

                    position: relative;
                    top: 1px;
                    display: inline-block;
                    vertical-align: top;

                    height: 100%;
                    width: 20%;
                    max-width: 200px;

                    @include border-top-right-radius(6px);
                    @include border-top-left-radius(6px);

                    background-color: rgba(255,255,255,0.2);
                    margin-left: 14px;
                    text-align: center;

                    &> span {
                        position: absolute;
                        bottom: 10px;
                        left: 0;
                        right: 0;
                    }

                    &.active {
                        background-color: white;
                        color: black;

                        border: 3px solid #444;
                        border-bottom: none;

                        &> span {
                            text-decoration: underline;
                            font-weight: bold;
                        }
                    }

                    &> div {
                        width: 100%;
                        height: 100%;
                        vertical-align: middle;

                        text-align: middle;

                        // each tab icon is a font icon drawn in the ::before
                        // psuedo element of each a element
                        &:before {
                            font-family: 'doe';
                            font-size: 40px;
                            color: black;
                            text-decoration: none;
                            text-align: center;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;

                            position: relative;
                            top: 0.1em;
                            width: 100%;
                        }

                        &.coffee:before {
                            content: "\f0f4";
                        }

                        &.tea {
                            background-image: url("../../components/images/cup-of-tea.svg");

                            background-size: auto 2.5em;
                            background-repeat: no-repeat;
                            background-position: center 4px;
                        }

                        &.lemonade {
                            background-image: url("../../components/images/lemonade.svg");

                            background-size: auto 2.5em;
                            background-repeat: no-repeat;
                            background-position: center 4px;
                        }

                        &.star:before {
                            content: "\f005";
                        }
                    }
                }
            }

            // ----------------
            // THE TABS CONTENT
            // ----------------
            div.tab-content {
                position: absolute;
                top: 120px;
                left: 0;
                width: $selection-width;
                bottom: 60px;

                @include border-bottom-right-radius($radius);
                @include border-bottom-left-radius($radius);

                &> pane {
                    display: none;

                    &.active {
                        display: block;
                        position: relative;
                        width: 100%;
                        height: 100%;

                        padding: 1em;
                    }

                    div.extras {
                        position: absolute;
                        right: 3em;
                        bottom: 1em;

                        table {
                            background-color: #777;
                            color: white;

                            -moz-border-radius: 3px;
                            -webkit-border-radius: 3px;
                            border-radius: 3px;

                            tr {
                                padding-bottom: 0.5em;

                                td.title {
                                    font-weight: bold;
                                    padding: 0 0.5em;
                                }

                                td.option {
                                    label {
                                        display: block;
                                        padding: 0.5em;
                                    }
                                }
                            }
                        }
                    }

                    div.menu-item {
                        margin: 0 1em;
                        margin-top: 0.5em;
                        font-size: large;
                        color: white;

                        width: 40%;
                        float: left;

                        &.lineBreak {
                            width: 100%!important;
                            clear: both;
                            margin-bottom: 5px!important;
                        }

                        label {
                            display: block;
                            height: 100%;
                            padding: 0.5em;
                            background-color: #777;

                            -moz-border-radius: 3px;
                            -webkit-border-radius: 3px;
                            border-radius: 3px;

                            input {
                                margin-right: 0.5em;
                            }
                        }
                    }

                    h3 {
                        margin-bottom: 5px;
                        margin-right: 1.5em;
                        float: left;
                    }
                }
            }
        }

        div#orderoverview {
            width: $order-width;
            margin-left: $selection-width;

            b {
                font-size: 1.3em;
                text-decoration: underline;
            }


            menu {
                width: $order-width;
                position: absolute;
                bottom: 0;
                left: $selection-width;

                text-align: right;
            }

            table {
                margin-top: 1.8em;
            }
        }

        div#orderwaiter {
            position: absolute;
            top: 4em;
            right: 1em;
            width: 30%;
        }
    }
}
