
<span class="name">{{SystemName}}</span>

<!--
    POWER Pop up
 -->
<div>
    <div class="power" ng-touch="showModal('power')">
        <modal name="power" title="Shutdown?">
            <p>
                <b>Are you sure you want to finish your meeting?</b>
            </p>
            <menu co-bind="'joined'">
                <button class="cancel" ng-touch="closeModal('power')">Cancel</button>
                <button class="ok" ng-touch="coModuleInstance.$exec('shutdown')">Yes</button>
                <button
                    class="ok"
                    ng-if="joined.rooms.length > 1"
                    ng-touch="coModuleInstance.$exec('shutdown', true)"
                    style="margin-right: 1em;"
                >Shutdown All</button>
            </menu>
            <div style="clear: both"></div>
        </modal>
    </div>
</div>

<!--
    HELP Pop up
 -->
<div>
    <div class="help" ng-touch="showModal('help'); $root.$emit('$track', 'popup', 'help')">
        <modal name="help" title="Need Support?" co-bind="'help_msg'">
            <p>
                <span ng-bind-html="help_msg"></span>
            </p>
            <p class="helpoptions" co-bind="'help_options'">
                <span ng-repeat="issue in help_options.issues">
                    <button ng-touch="coModuleInstance.$exec('request_help', issue); closeModal('help'); showModal('help-confirm')">{{issue}}</button>
                </span>
            </p>
        </modal>

        <modal name="help-confirm" title="We're on our way!">
            <p>
                A technical staff member will be with you shortly.
            </p>
            <menu>
                <button class="ok" ng-touch="closeModal('help-confirm')">OK</button>
            </menu>
            <div style="clear: both"></div>
        </modal>
    </div>
</div>

<!--
    Room Joining Pop up
 -->
<div co-bind="'room_ids'">
    <span co-bind="'is_slave_system'"></span>
    <div ng-if="room_ids.length > 1" ng-show="!is_slave_system" co-bind="'joined'" class="joining" ng-class="{active: joined.rooms.length > 1}" ng-touch="showModal('joining'); $root.$emit('$track', 'popup', 'joining')" ng-controller="JoiningCtrl">
        <div co-bind="'rooms'"></div>
        <modal name="joining" title="Select Rooms to Link">
            <div class="basic-wrapper">
                <!-- Room is joined to others: -->
                <div ng-if="joined.rooms.length > 1">
                    <h3>The following rooms are Linked:</h3>

                    <ul>
                        <li ng-repeat="room in joined.rooms">
                            {{rooms[room]}}
                        </li>
                    </ul>

                    <menu>
                        <button ng-click="coModuleInstance.$exec('unjoin'); closeModal('joining')">
                            Seperate / Unlink
                        </button>

                        <button class="ok" ng-click="closeModal('joining')">
                            Close
                        </button>
                    </menu>
                </div>

                <!-- Room is independant: -->
                <div ng-if="joined.rooms.length == 1">
                    <h3>Select the rooms you would like to link with.</h3>

                    <label ng-repeat="id in room_ids" ng-if="id !== controlSystem">
                        <div co-system="id" co-module="'System'" co-bind="'joined' as remoteJoin">
                            <label ng-if="remoteJoin.rooms.length <= 1">
                                <div image-toggle model="joiner.selected[id]"></div>
                                <span ng-touch="joiner.selected[id] = !joiner.selected[id]">{{rooms[id]}}</span>
                            </label>


                            <label ng-if="remoteJoin.rooms.length > 1" ng-controller="Modals" ng-init="popupName = 'remoteUnjoin' + id">
                                {{rooms[id]}} is currently linked to another room
                                <button ng-click="showModal(popupName)">unlink with care</button>

                                <modal class="confirm-unjoin" name="{{popupName}}" title="Perform Remote Unjoin?">
                                    <p>Warning! Please ensure that the following rooms are not in use:</p>

                                    <ul>
                                        <li ng-repeat="room in remoteJoin.rooms">{{rooms[room]}}</li>
                                    </ul>

                                    <menu>
                                        <button class="ok" ng-click="coModuleInstance.$exec('unjoin'); closeModal(popupName)">
                                            Continue Unlinking
                                        </button>

                                        <button ng-click="closeModal(popupName)">
                                            Cancel
                                        </button>
                                    </menu>

                                    <div style="clear: both"></div>
                                </modal>
                            </label>
                        </div>
                    </label>

                    <br />
                    <br />
                    <menu>
                        <button ng-click="joinRooms()">Link selected to This room</button>
                    </menu>

                    <div style="clear: both"></div>
                </div>
            </div>
        </modal>

        <modal name="notify_joining" title="Linking Notice" no-close="true">
            <p>This room has been linked to: {{rooms[joined.initiator]}}</p>

            <menu>
                <button class="ok" ng-click="coModuleInstance.$exec('unjoin'); closeModal('notify_joining')">
                    Unlink
                </button>
            </menu>

            <div style="clear: both"></div>
        </modal>
    </div>
</div>

<!--
    Screen Control Pop up
 -->
<div co-bind="'blinds'">
    <div ng-if="hasScreens || hasLifters || blinds" class="screens" ng-touch="showModal('screens'); $root.$emit('$track', 'popup', 'screens')">
        <modal name="screens" title="Raise/Lower Control">
            <h2 ng-if="hasScreens">Screens:</h2>

            <!-- Get the number of screens and list them -->
            <table ng-if="hasScreens" class="entries">
                <tr
                    ng-repeat="display in outputs | orderObjectBy:'pri'"
                    ng-if="display.screen"
                    co-module="display.screen.module"
                    co-implicit-index
                    co-bind="'screen' + (display.screen.index || 1) as screen" exec="state(screen, display.screen.index)"
                >
                    <td>{{display.title}}</td>
                    <td ><div ios-toggle model="screen" true-value="'down'" false-value="'up'"></div></td>
                    <td class="onoff">{{screen === 'down' ? 'Down' : 'Up'}}</td>
                </tr>
            </table>

            <h2 ng-if="hasLifters">Lifters:</h2>

            <!-- Get the number of screens and list them -->
            <table ng-if="hasLifters" class="entries">
                <tr
                    ng-repeat="display in outputs | orderObjectBy:'pri'"
                    ng-if="display.lifter"
                    co-module="display.lifter.module"
                    co-implicit-index
                    co-bind="'lifter' + (display.lifter.index || 1) as lifter" exec="state(lifter, display.lifter.index)"
                >
                    <td>{{display.title}}</td>
                    <td ><div ios-toggle model="lifter" true-value="'down'" false-value="'up'"></div></td>
                    <td class="onoff">{{lifter === 'down' ? 'Down' : 'Up'}}</td>
                </tr>
            </table>

            <h2 ng-if="blinds">Blinds:</h2>

            <!-- Get the number of screens and list them -->
            <table ng-if="blinds" class="entries">
                <tr
                    ng-repeat="blind in blinds"
                    co-module="blind.module"
                    co-implicit-index
                    ng-init="result = {}"
                    co-bind="blind.feedback as result.state"
                >
                    <td>{{blind.title}}</td>
                    <!-- Controller in Joining Control due to laziness -->
                    <td ng-controller="BlindCtrl">
                        <div ng-if="!blind.manual" ios-toggle model="result.state" true-value="blind.closed_value" false-value="blind.open_value" on-change="blindChanged()"></div>
                        <div ng-if="blind.manual">
                            <button ng-touch="blindMove('up')">Up</button>
                        </div>
                    </td>
                    <td ng-if="!blind.manual" class="onoff">{{result.state === blind.closed_value ? 'Closed' : 'Open'}}</td>
                    <td ng-if="blind.manual && blind.stop" ng-controller="BlindCtrl">
                        <button ng-touch="blindMove('stop')">Stop</button>
                    </td>
                    <td ng-if="blind.manual" ng-controller="BlindCtrl">
                        <button ng-touch="blindMove('down')">Down</button>
                    </td>
                </tr>
            </table>
        </modal>
    </div>
</div>

<!--
    Manual Control Pop up
 -->
<div co-bind="'cog_modes'">
    <div ng-if="has_preview || poweredOutputs > 1 || cog_modes" class="displays" ng-touch="showModal('displays'); $root.$emit('$track', 'popup', 'manual')">
        <modal name="displays" title="Display Control">
            <div ng-if="cog_modes" co-bind="'current_cog_mode'">
                <h2>System Modes:</h2>
                <div btn-group="current_cog_mode">
                    <button ng-repeat="mode in cog_modes" btn="mode" ng-touch="coModuleInstance.$exec('switch_mode', mode)" class="toggle">{{mode}}</button>
                </div>
            </div>

            <div ng-if="!cog_modes">
                <h2>Displays:</h2>

                <!-- Get the number of displays and list them -->
                <table class="entries">
                    <tr
                        ng-repeat="display in outputs | orderObjectBy:'pri'"
                        ng-if="!display.no_mod"
                        co-module="display.$key"
                        co-implicit-index
                        co-bind="'power'" exec
                    >
                        <td>{{display.title}}</td>
                        <td ><div ios-toggle model="power"></div></td>
                        <td class="onoff">{{power ? 'On' : 'Off'}}</td>
                    </tr>
                </table>
            </div>
        </modal>
    </div>
</div>

<!--
    Camera Control Popup
 -->
<div co-bind="'Camera' as cam_sources">
    <div ng-if="cam_sources" class="cameras" ng-touch="showModal('cameras'); $root.$emit('$track', 'popup', 'cameras')">
        <modal name="cameras" title="Camera Control">

            <div ng-include="'components/main/Camera/Camera.html'"></div>

        </modal>
    </div>
</div>

<!--
    Microphone popup
 -->
<div co-bind="'mics'">
    <span co-bind="'audio_presets' as audio_presets"></span>

    <div class="mics" ng-if="mics && mics[0].basic_mixer === undefined" co-module="'Mixer'" ng-touch="showModal('mics'); $root.$emit('$track', 'popup', 'microphones')">
        <modal name="mics" title="Microphones">
            <div
                class="mic"
                ng-repeat="mic in mics"
                co-index="mic.mixer || 1"
            >
                <h2>{{mic.name}}</h2>
                <div>
                    <div
                        class="mute"
                        co-bind="'fader' + (mic.feedback_id || mic.id) + '_' + (mic.mute_index || mic.index || 1) + '_mute' as mute"
                        exec="mute(mic.id, mute, mic.mute_index || mic.index || 1)"
                    >
                        <div image-toggle model="mute"></div>
                    </div>
                    <div class="mic_level">
                        <div
                            co-bind="'fader' + (mic.feedback_id || mic.id) + '_' + (mic.index || 1) as level"
                            exec="fader(mic.id, level, (mic.index || 1))"
                            init-val="mic.min"
                        >
                            <div>
                                <div co-range model="level" min="mic.min" max="mic.max"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="audio_presets" class="audio_presets">
                <h3 co-bind="'connected'">Presets</h3>
                <button ng-repeat="preset in audio_presets" ng-touch="coModuleInstance.$exec('trigger', preset.trigger)">{{preset.name}}</button>
            </div>
        </modal>
    </div>
    <div class="mics" ng-if="mics && mics[0].basic_mixer === true" co-module="'Mixer'" ng-touch="showModal('mics'); $root.$emit('$track', 'popup', 'microphones')">
        <modal name="mics" title="Microphones">
            <div
                class="mic"
                ng-repeat="mic in mics"
                co-index="mic.mixer || 1"
            >
                <h2>{{mic.name}}</h2>
                <div ng-if="!mic.mute_only">
                    <div
                        ng-if="!mic.no_mute"
                        class="mute"
                        co-bind="'fader' + (mic.mute_feedback_id || mic.mute_id || mic.feedback_id || mic.id) + '_mute' as mute"
                        exec="mute(mic.mute_id || mic.id, mute)"
                    >
                        <div image-toggle model="mute"></div>
                    </div>
                    <div class="mic_level">
                        <div
                            co-bind="'fader' + (mic.feedback_id || mic.id) as level"
                            exec="fader(mic.id, level)"
                            init-val="mic.min"
                        >
                            <div>
                                <div co-range model="level" min="mic.min" max="mic.max"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="mic.mute_only">
                    <div
                        class="mute"
                        co-bind="'fader' + (mic.mute_feedback_id || mic.mute_id || mic.feedback_id || mic.id) + '_mute' as mute"
                        exec="mute(mic.mute_id || mic.id, mute)"
                    >
                        <div ios-toggle model="mute"></div>
                    </div>
                </div>
            </div>

            <div ng-if="audio_presets" class="audio_presets">
                <h3 co-bind="'connected'">Presets</h3>
                <button ng-repeat="preset in audio_presets" ng-touch="coModuleInstance.$exec('trigger', preset.trigger)">{{preset.name}}</button>
            </div>
        </modal>
    </div>
</div>

<!--
    Lighting Pop up
 -->
<div co-bind="'lights'">
    <div class="lights" ng-if="lights" co-bind="'light_level'" exec ng-touch="showModal('lights'); $root.$emit('$track', 'popup', 'lighting')">
        <modal name="lights" title="Lighting Modes">
            <div btn-group="light_level">
                <button ng-repeat="level in lights.levels" btn="level.name" ng-touch="coModuleInstance.$exec('lights_to', level.name)" class="{{level.name}} toggle"><i class="fa fa-lightbulb-o"></i>{{level.name}}</button>
            </div>
        </modal>
    </div>
</div>

<!--
    Coffee Ordering
 -->
<div co-module="'Bookings'" co-bind="'catering'" ng-controller="OrderCtrl">
    <span co-bind="'order_status'"></span>
    <span co-bind="'waiter_call' as book.waiter" exec></span>
    <span co-bind="'waiter_status' as book.waiter_status"></span>

    <div class="catering" ng-if="catering" ng-touch="reset(); showModal('catering'); $root.$emit('$track', 'popup', 'catering')" ng-class="order_status">
        <modal name="catering" title="Beverage Request" no-close="true">
            <div class="selection">
                <tabs type="touch" co-bind="'menu' as book.menu" >
                    <pane ng-repeat="category in book.menu" text="{{category.name}}" icon="{{category.icon}}">
                        <div class="menu-item" ng-repeat="beverage in category.options" ng-class="{lineBreak: beverage.name === 'line-break'}">
                            <label ng-if="beverage.name !== 'line-break'">
                                <input type="radio" ng-model="book.selected.name" ng-value="beverage.name" ng-change="selected(category, beverage, beverage.selected)" /> {{beverage.name}}
                            </label>
                        </div>

                        <div class="extras" ng-if="category.extras && book.selected.extras">
                            <h3>Options:</h3>
                            <table>
                                <tr ng-repeat="(title, options) in category.extras">
                                    <td class="title">{{title}}:</td>
                                    <td class="option" ng-repeat="extra in options">
                                        <label>
                                            <input type="radio" ng-model="book.selected.items[title]" ng-value="extra" />
                                            {{extra}}
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </pane>
                </tabs>

                <menu>
                    <button class="cancel" ng-click="closeModal('catering');">Cancel Order</button>
                    <button class="add" ng-touch="addToOrder()">Add to Order</button>
                </menu>
            </div>

            <div id="orderoverview">
                <b>Order:</b>

                <table>
                    <tr ng-repeat="item in book.drinks">
                        <td>{{generateName(item)}}</td>
                        <td><button ng-click="removeItem($index);">Remove</button></td>
                    </tr>
                </table>

                <menu>
                    <button class="ok" ng-click="submit_order() && closeModal('catering')">Submit Order</button>
                </menu>
            </div>
            <div style="clear: both"></div>
            <div id="orderwaiter">
                <b>Service Required:</b> <span ios-toggle model="book.waiter"></span>
                <span ng-show="book.waiter">&nbsp;staff have been notified</span>
            </div>
        </modal>
    </div>

    <div
        ng-touch="showModal('waiter_call'); $root.$emit('$track', 'popup', 'waiter_call')"
        class="waiter"
        ng-if="catering"
        ng-class="book.waiter_status"
    >
        <modal name="waiter_call" title="Waiter Call">
            <p>
                <b>Service Required:</b> <span ios-toggle model="book.waiter"></span>
                <span ng-show="book.waiter">&nbsp;staff have been notified</span>
            </p>
        </modal>
    </div>
</div>

<!--
    CISCO VC Pop up
 -->
<div ng-show="false" co-bind="'show_vc_popup'">
    <span ng-if="show_vc_popup" ng-init="showModal('vc_accept')"></span>
    <span ng-if="!show_vc_popup" ng-init="closeModal('vc_accept')"></span>

    <div co-module="'VidConf'">
        <modal name="vc_accept" title="Accept VC Call?" no-close="true">
            <p co-bind="'call_status'">
                <b>Accept incomming call?</b>
            </p>
            <menu>
                <button class="cancel" ng-touch="coModuleInstance.$exec('call', 'reject')">Reject</button>
                <button class="ok" ng-touch="coModuleInstance.$exec('call', 'accept')">Accept</button>
            </menu>
            <div style="clear: both"></div>
        </modal>
    </div>
</div>
