@import "compass";
@import "variables";


//---------------
// Modals Support
//---------------
@import "../../bower_components/co-modals/co-modals.scss";
@include co-modals();

// Include helpers
@import "../../bower_components/angular-named-toggle/angular-named-toggle.scss";
@include named-toggle();

@import "../../bower_components/angular-named-toggle/ios-toggle.scss";
@include ios-toggle();



//--------------
// Splash screen
//--------------

// Touch to start background
$masterblue: #78A1D6;
$masteryellow: #8dc63f;
$masterred: #BE1428;


// animated background
@-webkit-keyframes crossfade {
    0% {
        background-color: $masterblue;
    }
    35% {
        background-color: $masteryellow;
    }
    70% {
        background-color: $masterred;
    }
    100% {
        background-color: $masterblue;
    }
}

@-moz-keyframes crossfade {
    0% {
        background-color: $masterblue;
    }
    35% {
        background-color: $masteryellow;
    }
    70% {
        background-color: $masterred;
    }
    100% {
        background-color: $masterblue;
    }
}

@-ms-keyframes crossfade {
    0% {
        background-color: $masterblue;
    }
    35% {
        background-color: $masteryellow;
    }
    70% {
        background-color: $masterred;
    }
    100% {
        background-color: $masterblue;
    }
}

@-o-keyframes crossfade {
    0% {
        background-color: $masterblue;
    }
    35% {
        background-color: $masteryellow;
    }
    70% {
        background-color: $masterred;
    }
    100% {
        background-color: $masterblue;
    }
}

@keyframes crossfade {
    0% {
        background-color: $masterblue;
    }
    35% {
        background-color: $masteryellow;
    }
    70% {
        background-color: $masterred;
    }
    100% {
        background-color: $masterblue;
    }
}

div.splash {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 70; // This is bigger than the mobile z-indexes
    
    height: 100%;
    width: 100%;


    // Animate out the splash screen
    &.ng-leave {
        opacity: 1;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;
    }
    &.ng-leave-active {
        opacity: 0;
    }


    // Isolate the crossfade animations so angular doesn't
    // attempt to wait for them
    &> div {
        display: table;
        height: 100%;
        width: 100%;

        background-color: $masterblue;

        -webkit-animation: crossfade 10s linear;
        -webkit-animation-iteration-count: infinite;
        -moz-animation: crossfade 10s linear;
        -moz-animation-iteration-count: infinite;
        -ms-animation: crossfade 10s linear;
        -ms-animation-iteration-count: infinite;
        -o-animation: crossfade 10s linear;
        -o-animation-iteration-count: infinite;
        animation: crossfade 10s linear;
        animation-iteration-count: infinite;

        &> div {
            display: table-row;

            height: 100%;

            &> div {
                display: table-cell;

                text-align: center;
                vertical-align: middle;
            }

            span {
                color: white;
            }
        }
    }

    h1 {
        color: white;
        font-weight: 300;
        font-size: 250%;

        position: relative;
    }
}


// Icon Launch Lists

div.launch-icons {
    cursor: pointer;
    width: 60px;
    height: 85px;

    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 1em;

    position: relative;
    float: left;

    &> div.icon {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 1.2em;

        -webkit-background-size: contain !important;
        -moz-background-size: contain !important;
        -ms-background-size: contain !important;
        -o-background-size: contain !important;
        background-size: contain !important;

        background-repeat: no-repeat !important;
        background-position: center center !important;

        &.explorer {
            background-image: url("../components/images/apps/ie10.svg");
        }

        &.firefox {
            background-image: url("../components/images/apps/firefox.svg");
        }

        &.vlc {
            background-image: url("../components/images/apps/vlc.svg");
        }

        &.sankore {
            background-image: url("../components/images/apps/tablet.svg");
        }

        // Channel 7
        &.ch-7digital {
            background-image: url("../components/images/tv/seven.svg");
        }

        &.ch-7two {
            background-image: url("../components/images/tv/seven-two.svg");
        }

        &.ch-7mate {
            background-image: url("../components/images/tv/seven-mate.svg");
        }


        // ABC
        &.ch-abc1 {
            background-image: url("../components/images/tv/abc.svg");
        }

        &.ch-abc2 {
            background-image: url("../components/images/tv/abc2.svg");
        }

        &.ch-abc3 {
            background-image: url("../components/images/tv/abc3.svg");
        }

        &.ch-abcnews {
            background-image: url("../components/images/tv/abc-news-24.svg");
        }


        // Nine
        &.ch-nine {
            background-image: url("../components/images/tv/nine.svg");
        }

        &.ch-ten {
            background-image: url("../components/images/tv/ten.svg");
        }


        // Others
        &.ch-eleven {
            background-image: url("../components/images/tv/eleven.svg");
        }

        &.ch-gem {
            background-image: url("../components/images/tv/gem.svg");
        }

        &.ch-go {
            background-image: url("../components/images/tv/go.svg");
        }

        &.ch-one {
            background-image: url("../components/images/tv/one.svg");
        }

        &.ch-abcdig {
            background-image: url("../components/images/tv/dig-radio.svg");
        }
    }

    &> span {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1em;

        text-align: center;
    }
}




// WEBCAM CONTROLS
div.webcam-controls {
    text-align: center;
    table {
        width: 100%;
        max-width: 250px;
        margin: 0 auto;
        margin-bottom: 1.5em;

        font-family: FontAwesome;

        tr {
            height: 45px;

            &> td {
                width: 33.3%;
                font-size: 30px;
                vertical-align: middle;

                &.up:before {
                    content: "\f077";
                }
                
                &.left:before {
                    content: "\f053";
                }

                &.right:before {
                    content: "\f054";
                }

                &.down:before {
                    content: "\f078";
                }


                &.center:before {
                    content: "\f192";
                }

                &.zoomin:before {
                    content: "\f00e";
                }

                &.zoomout:before {
                    content: "\f010";
                }
            }
        }
    }
}
