@import "compass";
@import "variables";

body {
    background-color: #333338;
}

$header-color: #b7162c;

article.main {
    > div > div > tabs {
        top: 110px;
    }

    > header {
        background-color: darken($header-color, 10%);

        div.logo {
            background-color: $header-color;
            width: 150px;
            margin-top: 0px;
            padding: 5px 20px 10px 20px;
            height: 90px;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.3);

            > div {
                background-image: url(../../../branding/tafesa/logo.png);
            }
        }
    }
}


// Mobile styles
article.mobile {
    header {
        background-color: $header-color;

        span > div.logo {
            background-image: url(../../../branding/tafesa/logo.png);

            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    aside div#nav-buffer {
        background-color: darken($header-color, 10%);
    }
}
