@import "compass";
@import "variables";

article {
    > header {
        div.logo {
            background-color: #b7162c;
            width: 150px;
            margin-top: 0px;
            padding: 5px 20px 10px 20px;
            height: 65px;

            > div {
                background-image: url(logo.png);
            }
        }
    }
}
