@import "compass";
@import "variables";

body {
    background-color: #333338;
}

article {
    > div > div > tabs {
        top: 110px;
    }

    > header {
        background-color: darken(#b7162c, 10%);

        div.logo {
            background-color: #b7162c;
            width: 150px;
            margin-top: 0px;
            padding: 5px 20px 10px 20px;
            height: 90px;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.3);

            > div {
                background-image: url(../../branding/tafesa/logo.png);
            }
        }
    }
}
