<div ng-controller="MeetingCtrl" id="meeting">
    <h1>
        {{meeting.name}}
        <menu>
            <a href="#" ng-click="back()"><i class="pe-7s-angle-left-circle"></i> Back</a>
            <a href="#"><i class="pe-7s-video"></i> Start Recording</a>
        </menu>
    </h1>

    <nav id="playlists" btn-group="selected.id">
        <a href="#" ng-repeat="playlist in meeting.playlists" btn="playlist.id" ng-click="selectPlaylist(playlist)">
            <i class="pe-7s-play" ng-if="playing && (playing.id == playlist.id)"></i>{{playlist.name}}
        </a>
    </nav>

    <div id="entries">
        <div id="no-selected" ng-if="!selected">
            <h1>Select a playlist</h1>
        </div>
        <div id="selected" ng-if="selected">
            <h1>
                {{selected.name}}
                <button ng-click="play(selected)">
                    <span ng-if="playing && (playing.id == selected.id)">Stop</span>
                    <span ng-if="!playing || (playing.id != selected.id)">Play</span>
                </button>
            </h1>
            <ul>
                <li ng-repeat="entry in selected.entries">
                    <div class="transition">fade</div>
                    <div class="poster">
                        <img ng-src="{{entry.poster}}" ng-if="entry.poster">
                        <i class="pe-7s-volume" ng-if="entry.media_type == 2"></i>
                    </div>
                    <aside>{{entry.duration | duration}}</aside>
                    <span>{{entry.article_title}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
