@import "compass";
@import "variables";

body {
    background-color: #333338;
}

$header-color: #b7162c;

article.main {
    > div > div > tabs {
        top: 110px;
    }

    > header {
        background-color: darken($header-color, 10%);

        div.logo {
            width: 150px;
            margin-top: 0px;
            padding: 15px 15px 15px 0px;
            height: 80px;

            > div {
                background-image: url("../../branding/pwc/logo2.png");
                background-position: left center;
            }
        }
    }

    // Shadow over inactive tabs
    > div > div > tabs > div > nav > div {
        &:not(.active) {
            @include box-shadow(rgba(0, 0, 0, 0.2) 0px -4px 14px inset);
        }
    }

    // Volume slider
    div.volume > div div.co-range-slider > div .progress {
        background-color: #DC6900;
    }


    // ================================
    // We Present and other PwC sources
    // ================================

    // We Present Styles
    .source-image, tabs nav > div > div {
        &.WePresent::before, &.wepresent::before {
            content: "\00A0";
        }
        
        &.WePresent, &.wepresent {
            background-image: url("../../components/main/WePresent/wepresent.svg");

            background-size: auto 1em;
            background-repeat: no-repeat;
            background-position: center top;

            &+ span {
                font-size: 0;
                &::before {
                    font-size: 16px;
                    content: 'Wireless Presenter';
                }
            }
        }

        &.Wired, &.wired {
            &+ span {
                font-size: 0;
                &::before {
                    font-size: 16px;
                    content: 'Wired Presenter';
                }
            }
        }
    }

    .source-image, tabs nav > div.active > div {
        &.WePresent, &.wepresent {
            background-image: url("../../components/main/WePresent/wepresent-active.svg") !important;
        }
    }

    div.standard-panel div.sources button > i {
        &.WePresent, &.wepresent {
            height: 1em;
            width: 1em;
            background-image: url("../../components/main/WePresent/wepresent-active.svg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
        }
    }
}


// Mobile styles
article.mobile {
    header {
        background-color: $header-color;

        text-align: left;
        height: 80px;
        line-height: 80px;

        &.name {
            display: inline-block;
            padding-left: 20px;
        }

        &#show-menu {
            height: 40px !important;
            margin-top: 20px;
            width: 120px;
            padding-right: 0.5em;
        }

        span {
            > div.logo {
                background-image: url("../../branding/pwc/logo.png");

                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
    }

    &.navDecorate > div#mobile-sources {
        @include box-shadow(3px 0px 5px 0px rgba(0,0,0,0.1));
    }

    > div#mobile-sources {
        background-color: $header-color;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 80px;
        @include box-shadow(3px 0px 5px 0px rgba(0,0,0,0.1));

        h2 {
            display: none;
        }

        p {
            margin-top: 0px;
            font-weight: 300;
            color: white;
            font-size: 16px;
            text-align: center;
        }

        .sources button {
            margin-bottom: 0px;
            border-radius: 0px;
            padding-top: 30px;
            padding-bottom: 30px;
            outline: none;

            color: white;
            font-size: 130%!important;

            &.active {
                @include box-shadow(inset 0 0 10px rgba(0,0,0,0.6));
            }

            > span {
                font-size: 130%!important;
            }
        }
    }

    > aside #aside-wrapper {
        #nav-wrapper {
            > nav {
                display: none !important;
            }

            > section {
                box-shadow: none !important;
                margin-right: 0 !important;
            }
        }

        #source-info {
            h1 {
                margin: 10px 0px 15px 0px;
            }
        }
    }

    aside div#nav-buffer {
        background-color: darken($header-color, 10%);
    }


    // ----------------
    // CAMERA CONTROL
    // ----------------
    div.camera-select {
        div.camera-control {
            width: 100%;
        }
    }


    // ============
    // We Present!!
    // ============
    div#mobile-sources div.sources > button > span {
        &.wepresent {
            display: inline-block;
            width: 1em;
            height: 1em;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            background-image: url("../../components/main/WePresent/wepresent-active.svg");
        }
    }
}
