

// -------------------------
// VARIABLES FOR THE MAIN UI
// -------------------------
$background: #131518;
$backgroundContrast: lighten($background, 15%);

$contentBackground: #F0F0F0;
$footerBackground: darken($contentBackground, 10%);

$padding: 20px;
$color-primary: black;
$color-contrast: white;

$radius: 4px;
