@import "compass";
@import "variables";


@import "../../../bower_components/angular-named-toggle/image-toggle.scss";
@import "../../../bower_components/angular-range-slider/angular-range-slider.scss";


// IOS 8 header support
body.ios-app-mode {
    article.main {
        &> header {
            height: 90px !important;

            div.tray {
                // Room name
                > span {
                    line-height: 90px !important;
                }

                // Icons
                > div {
                    margin-top: 20px !important;
                }
            }

            div.logo {
                //margin-top: 20px !important;
                height: 100px !important;
            }
        }

        // Tabs starting position
        &> div > div > tabs {
            top: 110px !important;
        }
    }
}


// -----------
// CORE LAYOUT
// -----------
article.main {
    background-color: $background;
    color: $color-primary;


    // -------------
    // LOGO AND TRAY
    // -------------
    &> header {
        height: 80px;
        background-color: $background;

        div.logo {
            float: left;
            width: 60px;
            height: 60px;
            margin: 10px 0px 10px 20px;

            > div {
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                width: 100%;
                height: 100%;
            }
        }
    }


    // ----------
    // THE INPUTS
    // ----------
    &> div > div > tabs {
        position: absolute;
        top: 100px;
        left: $padding;
        right: $padding;
        bottom: 25%;


        &> div {
            position: relative;

            height: 100%;
            width: 100%;

            &> nav {
                position: absolute;
                top: 0px;
                left: 0;
                right: 0;

                height: 20%;

                //border-bottom: 1px solid #ddd;

                // Tabs can be scrolled when there are too many
                overflow: hidden;
                overflow-x: auto;
                -webkit-overflow-scrolling: touch;

                white-space: nowrap;

                // --------
                // THE TABS
                // --------
                &> div {
                    position: relative;
                    display: inline-block;
                    vertical-align: top;

                    height: 100%;
                    width: 18%;
                    max-width: 200px;

                    @include border-top-right-radius($radius);
                    @include border-top-left-radius($radius);

                    background-color: rgba(255,255,255,0.2);
                    margin-right: 4px;
                    color: $color-contrast;
                    text-align: center;

                    &> span {
                        position: absolute;
                        bottom: 10px;
                        left: 0;
                        right: 0;
                    }

                    &:not(.active) {
                        @include box-shadow(rgba(0, 0, 0, 0.2) 0px -4px 14px inset);
                    }

                    &.active {
                        background-color: $contentBackground;
                        color: $color-primary;
                    }

                    > div {
                        padding-top: 15px;
                        font-size: 5vh;

                        &.Laptop {
                            padding-top: 17px;
                        }
                    }
                }
            }

            // ----------------
            // THE TABS CONTENT
            // ----------------
            &> div {
                position: absolute;
                top: 20%;
                left: 0;
                right: 0;
                bottom: 0;

                @include border-bottom-right-radius($radius);
                @include border-bottom-left-radius($radius);

                background-color: $contentBackground;

                &> pane {
                    display: none;

                    &.active {
                        display: block;
                        position: relative;
                        width: 100%;
                        height: 100%;

                        &> div {
                            position: absolute;
                            top: 15px;
                            left: 15px;
                            right: 15px;
                            bottom: 15px;

                            &> div {
                                position: relative;
                                width: 100%;
                                height: 100%;

                                &> div {
                                    height: 100%;

                                    // Standard-panel here!
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // ----------------
    // SOURCE SELECTION
    // ----------------
    div.standard-panel {
        display: table;
        width: 100%;
        height: 100%;

        &> div {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }

        div.sources {
            width: 35%;
            margin-top: 15px;

            button {
                height: 7vh;
                font-size: 2.5vh;

                i {
                    float: left;
                    margin-left: 20px;
                    font-size: 3vh;
                }
            }
        }
    }


    // -----------
    // THE OUTPUTS
    // -----------
    &> div > div > footer {
        position: absolute;
        top: 75%;
        left: $padding + 10;
        right: $padding + 10;
        bottom: $padding;

        @include border-bottom-right-radius($radius);
        @include border-bottom-left-radius($radius);

        overflow: hidden;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        background-color: $footerBackground;
        @include box-shadow(darken($footerBackground, 15%) 0px 4px 14px inset);


        // The scrolling container
        &> div {
            height: 100%;
            white-space: nowrap;

            // the display selection UI
            &> div {
                display: inline-block;

                height: 100%;
                width: 23%;
                max-width: 300px;

                padding-left: $padding;
                padding-top: $padding;

                &:last-child {
                    padding-right: $padding;
                }

                // A wrapper div
                &> div.icon {
                    position: relative;
                    height: 70%;

                    &> div.inner {
                        > span {
                            display: block;
                            padding: 0.3em 0.5em;
                            text-align: right;
                            position: absolute;
                            top: 5px;
                            right: 5px;
                            background-color: black;
                            color: white;
                        }

                        .source {
                            display: table;
                            width: 100%;
                            height: 100%;

                            > div {
                                display: table-cell;
                                vertical-align: middle;

                                .source-image {
                                    font-size: 5.5vh;
                                    text-align: center;

                                    span {
                                        font-size: 2.5vh;
                                        font-family: $default-font;
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }

                &> div.audio {
                    height: 30%;
                    width: 100%;

                    &> div {
                        display: table;
                        position: relative;
                        width: 100%;
                        height: 100%;

                        &> div {
                            display: table-cell;
                            vertical-align: middle;
                            

                            &.mute {
                                width: 40px;

                                @include image-toggle(
                                    $trueImage: "../../components/images/volume-mute.svg", 
                                    $falseImage: "../../components/images/volume.svg",
                                    $width: 30px,
                                    $height: 30px
                                );
                            }

                            &.volume > div {
                                width: 100%;
                            }

                            @include co-range-slider(
                                $handle-size: 40px,
                                $track-girth: 20px,
                                $track-colour:white
                            );
                        }
                    }
                }
            }
        }
    }


    .source-image, tabs nav > div > div {
        font-family: FontAwesome;

        &.PC::before, &.residentpc::before {
            content: "\f108";
        }

        &.Laptop::before, &.aux_hdmi::before {
            content: "\f109";
        }

        &.Camera::before, &.vc-camera::before {
            content: "\f03d";
        }

        &.VC::before, &.vc-active::before {
            content: "\f0c0";
        }
    }
}
