
<!-- Show the system when online, here for performance and pre-load -->
<article
    class="main"
    ng-if="state === 'online'"
    ng-controller="SourceCtrl"
    co-bind="'sources'"
>
    <header co-bind="'name'">
        <div class="logo"><div></div></div>

        <div class="tray" ng-include="'components/shared/popups.html'"  ng-controller="Modals"></div>
    </header>

    <div ng-if="sources" co-bind="'inputs'">
        <div co-bind="'tab'" exec>
            <!-- Tabs -->
            <tabs current="tab" auto-select="false">
                <pane ng-repeat="input in inputs" title="{{input}}" icon="{{input}}">
                    <div ng-include="'components/main/' + input + '/' + input + '.html'">
                    </div>
                </pane>
            </tabs>

            <!-- Show when more than one output available -->
            <footer ng-if="outputs && numOutputs > 1">
                <div>
                    <!-- 
                        source === what is currently displaying
                        output.type == projector / lcd / conference
                        overlay is for indicating warming / cooling / errors etc
                     -->
                    <div display ng-repeat="output in outputs | orderObjectBy:'pri'"
                         co-bind="output.$key as source"
                         ng-init="source = {source: 'none'}"
                         ng-class="output.type"
                    >
                        <div class="icon" touch-action="pan-x" ng-click="presetSource()">
                            <div class="outer"></div>
                            <div class="inner" ng-class="{pulse: doPulse}">
                                <span class="title">{{output.title || output.pri}}</span>
                                <div class="source">
                                    <div>
                                        <div class="source-image" ng-class="source.type">
                                            <span ng-if="source && source.source !== 'none'">{{source.title}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--
                                Only show if a module exists for this output as
                                we'll query it directly
                            -->
                            <div ng-if="!output.no_mod"
                                 class="overlay"
                                 co-module="device.module"
                                 index = "device.index"
                                 co-bind="'power'"
                            >
                                <div>
                                    <span co-bind="'warming'" ng-show="warming">Warming up</span>
                                    <span co-bind="'mute'" ng-show="mute && power">Muted</span>
                                    <span co-bind="'connected'" ng-show="!connected" class="error">Comms Error</span>
                                </div>
                            </div>
                        </div>

                        <!--
                            An output may not output any audio (VC for example)
                        -->
                        <div
                            ng-if="!output.no_audio"
                            class="audio"
                            ng-include="'components/shared/audio.html'"
                        ></div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</article>
