@import "compass";
@import "variables";


//-----------------
// PROJECTOR STYLES
//-----------------
article.main > div > div > footer > div > div.projector > div.icon {

    // These make up the output icon
    &> div.outer {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        border: 0;
        border-top: 15px solid $background;
        border-bottom: 5px solid $background;
    }

    &> div.inner {
        position: absolute;
        top: 10px;
        bottom: 0;
        left: 3%;
        right:3%;

        border: 5px solid $background;
        border-left: 6px solid $background;
        border-right: 6px solid $background;

        background-color: white;
    }
}


//-------------------
// LCD DISPLAY STYLES
//-------------------
article.main > div > div > footer > div > div.lcd > div.icon,
article.main > div > div > footer > div > div.vidwall > div.icon {

    // These make up the output icon
    &> div.outer {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 3%;
        right: 3%;

        border: 0;
        border-bottom: 15px solid $background;

        @include border-bottom-right-radius($radius);
        @include border-bottom-left-radius($radius);
    }

    &> div.inner {
        position: absolute;
        top: 0;
        bottom: 10px;
        left: 3%;
        right:3%;

        border: 5px solid $background;
        background-color: white;

        @include border-top-right-radius($radius);
        @include border-top-left-radius($radius);
    }
}


//----------------
// VID CONF STYLES
//----------------
article.main > div > div > footer > div > div.conference > div.icon {

    // These make up the output icon
    &> div.outer {
        position: absolute;
        top: 10px;
        bottom: 0;
        left: 15px;
        right: 0;

        border: 5px solid $background;
        background-color: white;
    }

    &> div.inner {
        position: absolute;
        top: 0;
        bottom: 15px;
        left: 0;
        right:15px;

        border: 5px solid $background;
        background-color: white;
    }
}


//---------------
// OUTPUT PULSATE
//---------------


article.main > div > div > footer > div > div > div.icon {
    &> div.inner.enable.pulse {
        -webkit-animation: pulsate 1s ease-out;
        -webkit-animation-iteration-count: 2;
        -moz-animation: pulsate 1s ease-out;
        -moz-animation-iteration-count: 2;
        -ms-animation: pulsate 1s ease-out;
        -ms-animation-iteration-count: 2;
        -o-animation: pulsate 1s ease-out;
        -o-animation-iteration-count: 2;
        animation: pulsate 1s ease-out;
        animation-iteration-count: 2;
    }
}


@-webkit-keyframes pulsate {
    0% {
      background-color: white;
    }
    50% {
      background-color: $backgroundContrast;
    }
    100% {
      background-color: white;
    }
}

@-moz-keyframes pulsate {
    0% {
      background-color: white;
    }
    50% {
      background-color: $backgroundContrast;
    }
    100% {
      background-color: white;
    }
}

@-ms-keyframes pulsate {
    0% {
      background-color: white;
    }
    50% {
      background-color: $backgroundContrast;
    }
    100% {
      background-color: white;
    }
}

@-o-keyframes pulsate {
    0% {
      background-color: white;
    }
    50% {
      background-color: $backgroundContrast;
    }
    100% {
      background-color: white;
    }
}

@keyframes pulsate {
    0% {
      background-color: white;
    }
    50% {
      background-color: $backgroundContrast;
    }
    100% {
      background-color: white;
    }
}


//------------------------
// FLASHING OVERLAY STYLES
//------------------------
article.main > div > div > footer > div > div > div.icon {

    // This is the warming up / muted warning
    &> div.overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        display: table;

        &> div {
            display: table-cell;
            vertical-align: middle;

            width: 100%;
            height: 100%;

            &> span {
                display: block;
                padding: 0.4em 0;

                text-align: center;
                color: white;
                background-color: blue;

                &.ng-hide-remove {
                    -webkit-animation: flash 1s ease-out;
                    -webkit-animation-iteration-count: 1;
                    -moz-animation: flash 1s ease-out;
                    -moz-animation-iteration-count: 1;
                    -ms-animation: flash 1s ease-out;
                    -ms-animation-iteration-count: 1;
                    -o-animation: flash 1s ease-out;
                    -o-animation-iteration-count: 1;
                    animation: flash 1s ease-out;
                    animation-iteration-count: 1;
                }
                
                &.error {
                    color: white;
                    background-color: red;

                    -webkit-animation: none;
                    -moz-animation: none;
                    -ms-animation: none;
                    -o-animation: none;
                    animation: none;
                }
            }
        }
    }
}


@-webkit-keyframes flash {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@-moz-keyframes flash {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@-ms-keyframes flash {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@-o-keyframes flash {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes flash {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

