@import "compass";

modal .btn-group {
    padding: 0px 30px;

    button {
        height: 40px;
    }
}

modal[name=lights] {
    button {
        text-align: left;

        i {
            margin-right: 10px;
            font-size: 20px;
        }

        &.Off i {
            opacity: 0.15;
        }

        &.Presentation i {
            opacity: 0.5;
        }

        &.Full i {
            opacity: 1;
        }
    }
}

// Manual control popup
modal[name=manual] {
    &> div > div {
        width: 300px;
    }

    h2 {
        padding-left: 2em;
    }

    table.entries {
        margin: 0 auto;

        td {
            padding: 0.4em 0.3em;

            &.onoff {
                width: 2.5em;
            }
        }
    }
}

