
<div co-bind="'Wireless Presenter' as source_names">
    <div ng-if="source_names" ng-init="selectSource(source_names[0])" class="standard-panel">
        <div id="wirelessmain">
            <span ng-if="numOutputs > 1 || has_preview">
                You can project on one or both displays in this room.<br />
                Touch the screens below to select the display for your presentation.<br /><br />
            </span>
            <div>
                   Follow the instructions on the LCD Display or Projector to show your display wirelessly
            </div>
        </div>
    </div>
</div>
