
<div co-bind="'Camera' as source_names" id="camera-inputs" ng-init="coModuleInstance.$exec('start_cameras')">
    <div ng-if="source_names" ng-init="selectSource(source_names[0])" class="standard-panel">
        <div class="presets" ng-if="selectedSource.presets">
            <h3>Presets:</h3>
            <button ng-repeat="preset in selectedSource.presets" ng-touch="coModuleInstance.$exec('camera_preset', selectedSource.source, preset);">
                {{preset.name}}
            </button>
        </div>
        <div class="camera-control" co-module="selectedSource.mod" co-index="selectedSource.index" co-bind="'joy_right'">
            <div co-bind="'joy_left'">
                <div co-bind="'joy_center'" ng-controller="CamCtrl" class="webcam-controls">
                    <br />
                    <br /><button ng-touch="coModuleInstance.$exec('preset', 'default')">Return to Default Position</button>

                    <table>
                        <tr>
                            <td></td>
                            <td class="up"
                                ng-touch="coModuleInstance.$exec('adjust_tilt', 'up'); $event.preventDefault();"
                                ng-release="coModuleInstance.$exec('adjust_tilt', 'stop')"
                            ></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="left"
                                ng-touch="coModuleInstance.$exec('adjust_pan', 'left'); $event.preventDefault();"
                                ng-release="coModuleInstance.$exec('adjust_pan', 'stop')"
                            ></td>
                            <td class="center"
                                ng-touch="coModuleInstance.$exec('home')"
                            ></td>
                            <td class="right"
                                ng-touch="coModuleInstance.$exec('adjust_pan', 'right'); $event.preventDefault();"
                                ng-release="coModuleInstance.$exec('adjust_pan', 'stop')"
                            ></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="down"
                                ng-touch="coModuleInstance.$exec('adjust_tilt', 'down'); $event.preventDefault();"
                                ng-release="coModuleInstance.$exec('adjust_tilt', 'stop')"
                            ></td>
                            <td></td>
                        </tr>
                    </table>

                    <span class="zoom-text">Zoom:</span>
                    <div co-bind="'zoom'" exec></div>
                    <span co-bind="'no_discrete_zoom'"></span>

                    <div ng-if="!no_discrete_zoom" co-bind="'zoom'" exec>
                        <div co-bind="'zoom_min'">
                            <div co-bind="'zoom_max'">
                                <div co-range model="zoom" min="zoom_min" max="zoom_max"></div>
                            </div>
                        </div>
                    </div>

                    <div ng-if="no_discrete_zoom">
                        <div>
                            <div style="font-size: 3em">
                                <div style="display: inline-block; margin-right: 2em; margin-left: 1em"
                                  ng-touch="coModuleInstance.$exec('zoom', 'out'); $event.preventDefault();"
                                  ng-release="coModuleInstance.$exec('zoom', 'stop')"
                                ><i class="fa fa-search-minus" aria-hidden="true"></i></div>
                                <div style="display: inline-block"
                                  ng-touch="coModuleInstance.$exec('zoom', 'in'); $event.preventDefault();"
                                  ng-release="coModuleInstance.$exec('zoom', 'stop')"
                                ><i class="fa fa-search-plus" aria-hidden="true"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sources" ng-if="source_names.length > 1">
            <div btn-group="selectedSource.source">
                <button ng-repeat="cam in source_names" btn="cam" ng-touch="selectSource(cam)" class="toggle" ng-class="sources[cam].type"><i class="fa fa-video-camera"></i>{{sources[cam].title}}</button>
            </div>
        </div>
    </div>
</div>
