
<div co-bind="'Camera' as source_names" id="camera-inputs" ng-init="coModuleInstance.$exec('start_cameras')">
    <div ng-if="source_names" class="standard-panel">
        <div class="presets" ng-if="selected.camera.presets && !selected.camera.auto_camera">
            <h3>Presets:</h3>
            <button ng-repeat="preset in selected.camera.presets" ng-touch="coModuleInstance.$exec('camera_preset', selected.camera.source, preset);">
                {{preset.name}}
            </button>
        </div>
        <div class="camera-control" co-module="selected.camera.mod" co-index="selected.camera.index" co-bind="'joy_right'">
            <div ng-if="!selected.camera.auto_camera" co-bind="'joy_left'">
                <div co-bind="'joy_center'" ng-controller="CamCtrl" class="webcam-controls">
                    <br />
                    <br /><button ng-touch="coModuleInstance.$exec('preset', 'default')">Return to Default Position</button>

                    <table>
                        <tr>
                            <td></td>
                            <td class="up"
                                ng-touch="coModuleInstance.$exec('adjust_tilt', 'up'); $event.preventDefault();"
                                ng-release="coModuleInstance.$exec('adjust_tilt', 'stop')"
                            ></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="left"
                                ng-touch="coModuleInstance.$exec('adjust_pan', 'left'); $event.preventDefault();"
                                ng-release="coModuleInstance.$exec('adjust_pan', 'stop')"
                            ></td>
                            <td class="center"
                                ng-touch="coModuleInstance.$exec('home')"
                            ></td>
                            <td class="right"
                                ng-touch="coModuleInstance.$exec('adjust_pan', 'right'); $event.preventDefault();"
                                ng-release="coModuleInstance.$exec('adjust_pan', 'stop')"
                            ></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="down"
                                ng-touch="coModuleInstance.$exec('adjust_tilt', 'down'); $event.preventDefault();"
                                ng-release="coModuleInstance.$exec('adjust_tilt', 'stop')"
                            ></td>
                            <td></td>
                        </tr>
                    </table>

                    <span class="zoom-text">Zoom:</span>
                    <div co-bind="'zoom'" exec>
                        <div co-bind="'zoom_min'">
                            <div co-bind="'zoom_max'">
                                <div co-range model="zoom" min="zoom_min" max="zoom_max"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="selected.camera.auto_camera" style="padding-left: 2em; font-size: larger;">
                This camera will track speakers automatically.
            </div>
        </div>
        <div class="sources" ng-if="source_names.length > 1">
            <div btn-group="selected.camera.source">
                <button ng-repeat="cam in source_names" btn="cam" ng-touch="selectCamera(cam)" class="toggle" ng-class="sources[cam].type"><i class="fa fa-video-camera"></i>{{sources[cam].title}}</button>
            </div>
        </div>
    </div>
</div>
