@import "compass";

html, body {
    background-color: #ECECEC;
}

header {
    display: block;
    background-color: white;
    line-height: 75px;
    height: 75px;
    position: relative;

    img {
        vertical-align: middle;
        display: inline-block;
        width: 90px;
        position: absolute;
        top: 16px;
        left: 15px;
    }

    h1 {
        font-size: 16px;
        font-weight: normal;
        line-height: 22px;
        position: relative;
        background-color: white;
        position: absolute;
        top: 22px;
        right: 20px;
    }

    p {
        position: absolute;
        top: 12px;
        right: 20px;
        font-size: 13px;
        color: #555;
    }
}

main {
    text-align: center;

    h1 {
        margin-bottom: 15px;
        margin-top: 30px;
    }

    ul {
        list-style-type: none;

        li {
            cursor: pointer;
            border: 1px solid #999;
            background-color: #f9f9f9;
            border-radius: 3px;
        }

        &#tv {
            margin-left: 10px;

            li {
                display: inline-block;
                width: 90px;
                height: 90px;
                margin-right: 10px;
                margin-bottom: 10px;
                overflow: hidden;

                div {
                    width: 70px;
                    height: 70px;
                    margin-top: 10px;
                    margin-left: 10px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center center;

                    // abc
                    &.abc_1 {
                        background-image: url(images/icons/abc_1.svg);
                    }

                    &.abc_2 {
                        background-image: url(images/icons/abc_2.svg);
                    }

                    &.abc_3 {
                        background-image: url(images/icons/abc_3.svg);
                    }

                    &.abc_news_24 {
                        background-image: url(images/icons/abc_news_24.svg);
                    }


                    // sbs
                    &.sbs_one {
                        background-image: url(images/icons/sbs_one.svg);
                    }

                    &.sbs_2 {
                        background-image: url(images/icons/sbs_2.svg);
                    }


                    // 10
                    &.one {
                        background-image: url(images/icons/one.svg);
                    }

                    &.ten {
                        background-image: url(images/icons/ten.svg);
                    }
                    
                    &.eleven {
                        background-image: url(images/icons/eleven.svg);
                    }


                    // 9
                    &.nine {
                        background-image: url(images/icons/nine.svg);
                    }

                    &.gem {
                        background-image: url(images/icons/gem.svg);
                    }

                    &.go {
                        background-image: url(images/icons/go.svg);
                    }


                    // 7
                    &.seven {
                        background-image: url(images/icons/seven.svg);
                    }

                    &.seven_mate {
                        background-image: url(images/icons/seven_mate.svg);
                    }

                    &.seven_two {
                        background-image: url(images/icons/seven_two.svg);
                    }
                }
            }
        }

        &#others {
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;

            li {
                padding: 8px;
                margin-top: 7px;
                font-size: 16px;
            }
        }
    }
}


