@import "compass";


// telstra colours
@import "../../bower_components/angular-named-toggle/ios-toggle.scss";
@include ios-toggle(25px, #F05A00);

@import "../../bower_components/angular-range-slider/angular-range-slider.scss";
@include co-range-slider($progress-colour: #F05A00, $handle-size: 25px, $track-girth: 15px);


// up arrow mixin from cotag ui
@mixin up-arrow($width, $left: 50%, $border-colour: #e5e5e5) {
    &:after, &:before {
        top: -(2 * $width);
        left: $left;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        z-index: 4;
    }

    &:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: white;
        border-width: $width;
        margin-left: -$width;
    }

    &:before {
        border-color: rgba(229, 229, 229, 0);
        border-bottom-color: $border-colour;
        border-width: $width + 2px;
        margin-left: -($width + 2px);
        margin-top: -4px;
    }
}


// telstra font
@import "branding/fonts/gravur/style";

html, body {
    font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, sans-serif;
}

h1, h2, h3 {
    font-family: "Gravur";
}


// splash
#system {
    background-image: url(images/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    #splash h1, #splash h2 {
        color: white !important;
    }

    #splash-container {
        width: 100%;
        height: 100%;
    }
}


// main content
$header-height: 80px;

#content {
    @include background-image(linear-gradient(#EA2359, #FD960C));

    header {
        background-color: white;
        height: $header-height;
        line-height: $header-height;

        img {
            height: $header-height - 20px;
            vertical-align: middle;
            margin-left: 40px;
        }

        menu {
            display: inline-block;
            position: absolute;
            right: 40px;
            top: 10px;

            a {
                text-decoration: none;
                font-size: 30px;
                color: #333;
                margin-left: 20px;
            }
        }
    }

    #pincode-panel {
        > div {
            h1 {
                color: white !important;
            }

            #pin-input input[type=password] {
                background-color: rgba(255, 255, 255, 0.9);
                border: none;
                padding-bottom: 1px;
            }

            #clear-pin {
                top: 7px;
            }

            #numpad {
                background-color: rgba(255,255,255,0.4);
                border-bottom: none;

                button {
                    background-color: rgba(0, 0, 0, 0.2);
                    color: white;
                    outline: none;
                }
            }

            #cancel-pin {
                color: white;
                font-family: Gravur;
            }
        }
    }

    main {
        position: absolute;
        top: $header-height;
        left: 0px;
        right: 0px;
        bottom: 0px;
        width: auto;
        height: auto;
    }

    // control panel
    > menu {

        &#controls {
            @include up-arrow(10px, 425px);
            position: absolute;
            top: $header-height + 15px;
            right: 80px;

            height: 450px;
        }

        &#mics {
            @include up-arrow(10px, 398px);
            position: absolute;
            top: $header-height + 15px;
            right: 100px;
            

            height: 150px;
        }

        &#camera {
            @include up-arrow(10px, 457px);
            position: absolute;
            top: $header-height + 15px;
            right: 60px;

            height: 500px;
        }

        &#dvd {
            @include up-arrow(10px, 380px);
            position: absolute;
            top: $header-height + 15px;
            right: 125px;

            height: 500px;

            table {
                width: 100%;
                font-size: 90%;
                margin-top: 0.5em;

                tr.bold {
                    font-weight: bold;

                    td {
                        padding-top: 0.3em;
                    }
                }
            }
        }

        width: 500px;
        
        background-color: white;
        box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
        z-index: 10;
        border-radius: 3px;
        box-sizing: border-box;
        padding: 30px;

        button {
            background: none;
            border: none;
            background-color: #eee;
            padding: 10px 15px;
            text-transform: uppercase;
            font-size: 14px;
            color: #777;
            font-family: Gravur;
            outline: none;

            &.active, &:active {
                background-color: #F05A00;
                color: white;
            }

            margin-bottom: 0.3em;
        }

        > div {
            overflow: auto;
            width: 100%;
            height: 100%;

            h1 {
                color: #AB004C;
                text-transform: uppercase;
                font-size: 20px;
                margin-bottom: 15px;
            }

            > div {
                margin-bottom: 20px;

                &+h1 {
                    margin-top: 60px;
                }

                label {
                    display: inline-block;
                    font-size: 15px;
                    //width: 80px;
                    vertical-align: middle;
                    color: #444;
                    text-transform: uppercase;
                    font-family: Gravur;
                    font-weight: bold;
                }

                joystick {
                    position: relative;
                    display: block;
                    top: 30px;
                    left: 80px;
                    height: 260px;
                    width: 260px;
                    border: 1px solid #eee;
                    margin-bottom: 60px;

                    &> img {
                        position: absolute;
                        width: 50px;
                        height: 50px;
                        z-index: 10;
                    }
                }


                > div {
                    display: inline-block;

                    &.slider {
                        width: 235px;
                        margin-right: 20px;
                        padding-left: 12.5px;
                    }
                }
            }
        }
    }
}


#bookings, #meeting {
    nav > a {
        background-color: rgba(255,255,255,0.8);
        margin: 0px 40px 40px 40px;
        list-style-type: none;
        padding: 20px;
        border-radius: 3px;
        font-family: Gravur;
        color: #444;
        font-size: 21px;
        display: block;
        text-decoration: none;

        aside {
            display: inline-block;
            font-weight: bold;
            color: #000;
            font-size: 15px;
            margin-right: 15px;
            vertical-align: top;
            position: relative;
            top: 4px;
        }
    }
}



// bookings list
#bookings {
    padding-top: 30px;

    h1 {
        text-transform: uppercase;
        font-size: 26px;
        margin-bottom: 30px;
        padding-left: 40px;
        color: white;
    }

    #listing {
        position: absolute;
        top: 90px;
        bottom: 140px;
        left: 0px;
        right: 0px;
        overflow: auto;
    }

    #impromptu {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 140px;
        border-top: 1px solid rgba(255,255,255,0.6);
        padding-top: 40px;

        a {
            background-color: white;
        }
    }
}

#meeting {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    @include background-image(linear-gradient(#EA2359, #FD960C));
    padding: 30px;

    > h1 {
        border-bottom: 1px solid rgba(255,255,255,0.6);
        padding-left: 0px;
        padding-bottom: 7px;

        menu {
            float: right;
            position: relative;
            top: -3px;

            a {
                color: white;
                text-decoration: none;
                font-size: 16px;
                margin-left: 15px;

                i {
                    font-size: 20px;
                    vertical-align: top;
                    position: relative;
                    top: 5px;
                    left: -2px;
                }
            }
        }
    }

    #playlists {
        width: 30vw;

        a {
            margin: 10px 0px;

            &.active {
                background-color: white;
            }

            i {
                font-size: 18px;
                margin-right: 10px;
                position: relative;
                top: 1px;
            }

            aside {
                float: right;
                display: block;
                position: relative;
                top: -3px;

                span {
                    display: block;
                    text-align: right;
                    font-weight: normal;
                    color: #555;
                }
            }
        }
    }

    #entries {
        position: absolute;
        top: 94px;
        bottom: 30px;
        right: 30px;
        width: 62vw;
        border-radius: 3px;
        background-color: rgba(255,255,255,1);

        #no-selected {
            display: table;
            width: 100%;
            height: 100%;

            h1 {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                padding-left: 0px;
            }
        }
        
        #selected {
            position: absolute;
            top: 30px;
            right: 30px;
            bottom: 30px;
            left: 30px;
            overflow: auto;

            h1 {
                text-transform: none;
                color: #222;
                font-weight: normal;
                font-size: 22px;
                padding-left: 0px;
                line-height: 40px;

                button {
                    float: right;
                    background-color: rgba(0,0,0,0.10);
                    padding: 10px 15px;
                    border-radius: 3px;
                    font-family: Gravur;
                    color: #222;
                    font-size: 18px;
                    border: none;
                    outline: none;
                    position: relative;
                    left: -2px;
                    height: 38px;
                    line-height: 16px;
                }
            }

            ul {
                border-top: 1px solid rgba(0,0,0,0.2);

                li {
                    list-style-type: none;
                    padding-left: 0px;
                    line-height: 60px;
                    border-bottom: 1px solid rgba(0,0,0,0.2);
                    clear: both;
                    font-family: Gravur;
                    position: relative;

                    .transition {
                        text-align: center;
                        line-height: 12px;
                        font-size: 12px;
                        position: absolute;
                        top: -8px;
                        left: 50%;
                        padding: 2px 4px;
                        background-color: white;
                        display: inline;
                        border-radius: 3px;
                        opacity: 0.6
                    }

                    span {
                        font-size: 18px;
                    }

                    .poster {
                        display: inline-block;
                        margin-right: 10px;
                        width: 40px;
                        height: 40px;
                        vertical-align: middle;

                        i {
                            font-size: 30px;
                            position: relative;
                            top: -3px;
                        }

                        img {
                            width: 40px;
                            height: 40px;
                            position: relative;
                            top: -2px;
                        }
                    }

                    aside {
                        display: block;
                        float: right;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

// WEBCAM CONTROLS
div.webcam-controls {
    text-align: center;
    table {
        width: 100%;
        max-width: 250px;
        margin: 0 auto;
        margin-bottom: 1.5em;

        font-family: FontAwesome;

        tr {
            height: 45px;

            &> td {
                width: 33.3%;
                font-size: 30px;
                vertical-align: middle;

                &.up:before {
                    content: "\f077";
                }
                
                &.left:before {
                    content: "\f053";
                }

                &.right:before {
                    content: "\f054";
                }

                &.down:before {
                    content: "\f078";
                }


                &.center:before {
                    content: "\f015";
                }

                &.zoomin:before {
                    content: "\f00e";
                }

                &.zoomout:before {
                    content: "\f010";
                }
            }
        }
    }
}



// DVD Transport Controls
div.dvd-controls {
    text-align: center;
    table {
        width: 100%;
        max-width: 250px;
        margin: 0 auto;
        margin-bottom: 1.5em;

        font-family: FontAwesome;

        tr {
            height: 45px;

            &> td {
                width: 33.3%;
                font-size: 30px;
                vertical-align: middle;

                &.up:before {
                    content: "\f077";
                }
                
                &.left:before {
                    content: "\f053";
                }

                &.right:before {
                    content: "\f054";
                }

                &.down:before {
                    content: "\f078";
                }


                &.center:before {
                    content: "\f192";
                }
            }
        }
    }
}



