@import "compass";

$header-height: 80px;
$tab-width: 200px;
$tab-height: 60px;
$margin: 30px;

main.tours {
    width: 100%;
    height: 100%;
    position: relative;

    header {
        background-color: #fff;
        padding: 10px 20px;
        position: relative;
        height: $header-height;

        img {
            width: 100px;
            position: relative;
            top: 7px;
        }

        button {
            outline: none;
            background-color: transparent;
            border: none;
            position: absolute;
            top: 20px;
            width: 32px;

            i {
                font-size: 30px;
                position: absolute;
                top: 0px;
                left: 0px;
            }
        }

        #power-off {
            right: 20px;
        }

        #picture-mute {
            right: 80px;

            .fa-desktop {
                font-size: 20px;
                top: 6px;
                left: 6px;
            }

            .fa-ban, .fa-circle-o {
                color: rgba(0,0,0, 0.4);
                font-size: 46px;
                top: -8px;
                left: -3px;
            }
        }
    }

    > div {
        position: absolute;
        top: $header-height;
        left: 0px;
        right: 0px;
        bottom: 0px;

        tabs nav {
            background-color: #252525;
            position: absolute;
            top: 0px;
            left: 0px;
            bottom: 0px;
            width: $tab-width;
            overflow: auto;

            > div {
                display: block;
                color: #9b9da8;
                height: $tab-height;
                line-height: $tab-height;
                text-align: center;

                &.active {
                    color: white;
                    background-color: #d75509;
                }

                span {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: block;
                    width: 100%;
                }
            }
        }

        .tab-content {
            position: absolute;
            top: 0px;
            left: $tab-width;
            bottom: 0px;
            right: 0px;
            padding: $margin $margin/2;
            overflow: auto;

            h1 {
                margin: 0px;
                font-weight: 300;
                text-align: center;
                font-size: 7vmin;
            }

            .img {
                vertical-align: top;
                height: 140px;
                overflow: hidden;

                img {
                    width: 100%;
                }
            }

            h1.desc {
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
                text-align: left;
                margin-top: 15px;
                padding: 0px 10px 6px 0px;

                /* span {
                    float: right;
                    color: #959595;
                    font-size: 17px;
                } */
            }

            .btn-group {
                text-align: center;
                margin-top: $margin;
                max-width: 1200px;
                margin: $margin auto 0px auto;

                button {
                    position: relative;
                    display: inline-block;
                    outline: none;
                    border: 1px solid #efefef;
                    background-color: white;
                    width: 358px;
                    overflow: hidden;
                    vertical-align: top;
                    padding: 10px 14px;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    @include border-radius(3px);

                    &.active {
                        border-color: #aaa;
                        background-color: #eee;
                    }

                    p {
                        text-align: left;
                        font-size: 16px;
                        color: #333;
                        font-weight: 300;
                        margin: 0px;
                    }

                    .cover {
                        background-color: rgba(0, 0, 0, 0.75);
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 100%;
                        height: 100%;

                        i {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            color: white;
                            font-size: 60px;
                            margin-left: -30px;
                            margin-top: -30px;
                        }
                    }
                }
            }
        }
    }

    #scheduling {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 0px;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0.0;
        -webkit-transition: opacity 0.3s;

        &.visible {
            opacity: 1.0;
            height: 100%;
        }

        .spinner {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -20px;
            margin-left: 55px;
        }
    }
}


#captioning {
    div.modal-content {
        margin: 0em 1em;

        > div {
            padding-bottom: 1em;
        }

        button {
            font-size: larger;
            margin: 0.5em;
        }

        #captionslide {
            padding: 0.8em;
        }
    }
}
