@import "compass";

$header-height: 80px;
$tab-dimen: 18vmin;
$margin: 30px;

main.tours {
    width: 100%;
    height: 100%;
    position: relative;

    header {
        background-color: #fff;
        padding: 10px 20px;
        position: relative;
        height: $header-height;

        img {
            width: 100px;
            position: relative;
            top: 7px;
        }

        button {
            outline: none;
            background-color: transparent;
            border: none;
            font-size: 30px;
            position: absolute;
            top: 20px;
            right: 20px;
        }
    }

    > div {
        position: absolute;
        top: $header-height;
        left: 0px;
        right: 0px;
        bottom: 0px;

        tabs nav {
            background-color: #252525;
            position: absolute;
            top: 0px;
            left: 0px;
            bottom: 0px;
            width: $tab-dimen;

            > div {
                display: block;
                color: #9b9da8;
                height: $tab-dimen;
                line-height: $tab-dimen;
                text-align: center;

                // hide name
                /*span {
                    display: none;
                }*/

                // icon
                /*div {
                    &::before {
                        font-family: "Pe-icon-7-stroke";
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        font-size: 7vmin;
                        position: relative;
                        left: -2px;
                    }

                    &.Loops::before {
                        content: "\e63d";
                    }

                    &.TV::before {
                        content: "\e634";
                    }
                }*/

                &.active {
                    color: white;
                    background-color: #d75509;
                }
            }
        }

        .tab-content {
            position: absolute;
            top: 0px;
            left: $tab-dimen;
            //left: 0px;
            bottom: 0px;
            right: 0px;
            padding: $margin $margin/2;
            overflow: auto;

            h1 {
                margin: 0px;
                font-weight: 300;
                text-align: center;
                font-size: 7vmin;
            }

            .img {
                vertical-align: top;
                height: 140px;
                overflow: hidden;

                img {
                    width: 100%;
                }
            }

            #hero {
                margin-top: 40px;
                width: 358px;
                margin: 30px auto 8px auto;
            }

            #hero + aside {
                width: 358px;
                margin: 0px auto;
            }

            h1.desc {
                font-size: 20px;
                font-weight: 900;
                text-transform: uppercase;
                text-align: left;
                margin-top: 20px;
                padding: 0px 10px;

                span {
                    float: right;
                    color: #959595;
                    font-size: 17px;
                }
            }

            .btn-group {
                text-align: center;
                margin-top: $margin;
                max-width: 1200px;
                margin: $margin auto 0px auto;

                button {
                    display: inline-block;
                    outline: none;
                    border: 1px solid #efefef;
                    background-color: white;
                    /*width: 380px;
                    height: 280px;*/
                    width: 358px;
                    //height: 30px;
                    overflow: hidden;
                    vertical-align: top;
                    padding: 10px 14px;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    @include border-radius(3px);

                    &.active {
                        border-color: #aaa;
                        background-color: #eee;
                    }

                    p {
                        text-align: left;
                        //padding: 0px 10px;
                        font-size: 16px;
                        color: #333;
                        font-weight: 300;
                        margin: 0px;
                    }
                }
            }

            #tvchannels {
                button {
                    height: 200px;

                    .img {
                        background-color: white;
                        padding: 10px;

                        div {
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: contain;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    h1 {
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    table {
        width: 100%;
        height: 100%;

        th {
            font-size: 20px;
            width: 40%;
        }

        #middle {
            width: 20%;
        }

        button {
            background-color: white;
            border: 3px solid #333;
            width: 100%;
            height: 100%;
            font-size: 17px;
        }
    }
}

