@import "compass";
@import "common";

// widget colours
@import "../../bower_components/angular-named-toggle/ios-toggle.scss";
@include ios-toggle(25px, $primary-colour);

@import "../../bower_components/angular-range-slider/angular-range-slider.scss";
@include co-range-slider($progress-colour: $primary-colour, $handle-size: 25px, $track-girth: 15px);

// font
html, body {
    font-family: "Open Sans", Helvetica, sans-serif;
}

// background
#system, #content {
    background-image: url(images/white-lady-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

// splash
#system #splash-container {
    width: 100%;
    height: 100%;
}

// main content
#content {
    main {
        position: absolute;
        top: $header-height;
        left: 0px;
        right: 0px;
        bottom: 0px;
        width: auto;
        height: auto;
    }
}
