<h1>Select video language</h1>

<div class="img" id="hero">
    <img src="branding/images/oh/tours.jpg">
</div>
<aside>
    <h1 class="desc">TOURS <span>7:43</span></h1>
</aside>

<div co-bind="'Loops' as source_names">
    <div  ng-init="currentTab('Loops')">
        <div btn-group="selectedSource.source">
            <button ng-repeat="loop in source_names" btn="loop" ng-click="selectSource(loop)">
                <!-- <div class="img"><img ng-src="{{sources[loop].image}}"></div>
                <h1 class="desc">{{sources[loop].title}} <span>{{sources[loop].dur}}</span></h1>
                <p>{{sources[loop].desc}}</p> -->
                <p>{{sources[loop].title}}</p>
            </button>
        </div>
    </div>
</div>
