
<div co-bind="'PC' as source_names">
    <div ng-if="source_names" ng-init="selectSource(source_names[0])">
        <div ng-if="numOutputs > 1">
            <span ng-if="source_names.length === 1">Select a display to show this source</span>
            <span ng-if="source_names.length > 1">Select a PC then select a display.</span>
        </div>
        <div ng-if="numOutputs === 1">
            <span ng-if="source_names.length === 1">The PC is now displaying</span>
            <span ng-if="source_names.length > 1">The selected PC will display.</span>
        </div>
        <div class="sources" ng-if="source_names.length > 1">
            <div btn-group="selectedSource.source">
                <button ng-repeat="pc in source_names" btn="pc" ng-click="selectSource(pc)" class="toggle" ng-class="sources[pc].type"><i class="fa fa-lightbulb-o"></i>{{sources[pc].title}}</button>
            </div>
        </div>
    </div>
</div>
