#pc-inputs {
    .sources {
        margin-top: 15px;

        button {
            height: 7vh;
            font-size: 2.5vh;

            i {
                margin-right: 10px;
                font-size: 3vh;
            }
        }
    }
}