// Import Utility CSS helpers
@import "../bower_components/angular-fancy-tab/fancy-tab.scss";
@import "../bower_components/angular-progress/angular-progress.scss";
@import "../bower_components/angular-button-group/button-group.scss";

@import "../bower_components/angular-range-slider/angular-range-slider.scss";
@import "../bower_components/angular-named-toggle/image-toggle.scss";


// -------------------------
// VARIABLES FOR THE MAIN UI
// -------------------------
$background: #131518;
$backgroundContrast: lighten($background, 15%);

$contentBackground: #F0F0F0;
$footerBackground: darken($contentBackground, 10%);

$padding: 20px;
$color-primary: black;
$color-contrast: white;

$radius: 4px;

$default-font: montserratregular, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;

$button-colour: #777;
$cancel-button-colour: #eee;
$active-button-colour: #222;
