@import "compass";
@import "variables";
@import "branding/fonts/font-awesome/style";
@import "branding/fonts/netto/style";

// Supported browsers
$browser-minimum-versions: ("chrome": "19", "firefox": "6", "ie": "10", "safari": "5") !global;

// Default box sizing
* {
    @include box-sizing(border-box);
}

// Don't use OS defaults
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

//  w3c version for setting the view port (similar to apples meta tag)
//  100% is like device-width however for the current window size
@-webkit-viewport {
    width: 100%;
}
@-moz-viewport {
    width: 100%;
}
@-ms-viewport {
    width: 100%;
}
@-o-viewport {
    width: 100%;
} 
@viewport {
    width: 100%;
}

// This may promote the layer to a composited layer.
.promote-layer {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

// Hide coauth iframe
#coauth, .coauth {
    position: absolute;
    top: -2px;
    left: -2px;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;

    height: 100%;
    color: white;
}

body {
    font-family: $default-font;

    &> main {
        position: relative;
    }

    // Authentication occurs in the background
    &> div.background-oauth, div.keep-alive {
        width: 2px;
        height: 2px;

        position: fixed;
        top: -10px;
        left: -10px;
    }

    // This is where the UI will sit
    &> main {
        display: block;  // required for IE
        height: 100%;
        position: relative;
    }
}

button, .button {
    border: none;
    @include border-radius(3px);
    padding: 6px 15px;
    display: inline-block;
    
    font-family: $default-font;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    background-color: $button-colour;
    color: white;

    cursor: pointer;

    &:hover {
        background-color: darken($button-colour, 10%);
    }

    &.disabled, &[disabled=disabled] {
        opacity: 0.2;
        cursor: default;

        &:hover {
            background-color: $button-colour;
        }
    }

    &.cancel {
        background-color: $cancel-button-colour;
        color: #333;

        &:hover {
            background-color: darken($cancel-button-colour, 10%);
        }
    }

    &.active {
        background-color: $active-button-colour;
    }
}

button.toggle, .button.toggle {
    display: block;
    width: 100%;
    background-color: #ddd;
    color: #333;
    margin-bottom: 10px;

    &.active {
        background-color: #777;
        color: white;
    }

    &.inline {
        display: inline-block;
        width: auto;
    }
}

