<!doctype html>
<html manifest="app.appcache">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>ACA Rooms</title>
    <meta name="description" content="buildings made easy">
    

    <!--
      https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html
      https://developer.chrome.com/multidevice/android/installtohomescreen

      http://blogs.msdn.com/b/ie/archive/2014/05/21/support-a-live-tile-for-your-website-on-windows-and-windows-phone-8-1.aspx
      http://blogs.msdn.com/b/ie/archive/2012/04/03/pinned-sites-in-windows-8.aspx
      http://blogs.msdn.com/b/ie/archive/2012/06/08/high-quality-visuals-for-pinned-sites-in-windows-8.aspx
      http://www.xiconeditor.com/
     -->
    <link rel="icon" type="image/png" href="branding/favicon/w3c_48.png" sizes="48x48">
    <link rel="icon" type="image/png" href="branding/favicon/64.png" sizes="64x64">
    <link rel="icon" type="image/png" href="branding/favicon/128.png" sizes="128x128">
    <link rel="icon" type="image/png" href="branding/favicon/w3c_192.png" sizes="192x192">

    <!-- W3C Icons -->
    <link rel="manifest" href="manifest.json">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- MS Application Icon -->
    <meta name="application-name" content="ACA Rooms">
    <meta name="msapplication-tooltip" content="buildings made easy">
    <meta name="msapplication-starturl" content="./">
    <meta name="msapplication-navbutton-color" content="#b72706">
    <meta name="msapplication-TileColor" content="#b72706" />
    <!-- Win8 -->
    <meta name="msapplication-TileImage" content="branding/favicon/win_144.png" />
    <!-- Win8.1 -->
    <meta name="msapplication-square70x70logo" content="branding/favicon/win_70.png" />
    <meta name="msapplication-square150x150logo" content="branding/favicon/win_150.png" />
    <meta name="msapplication-square310x310logo" content="branding/favicon/win_310.png" />

    <!-- Apple Application Icon -->
    <link rel="apple-touch-icon" href="branding/favicon/ios_76.png">
    <link rel="apple-touch-icon" sizes="76x76" href="branding/favicon/ios_76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="branding/favicon/ios_120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="branding/favicon/ios_152.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">


    <!-- Hide content until page is loaded -->
    <style>
        div#loading {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            padding-top: 4em;
            text-align: center;

            background-color: white;
            color: black;
            z-index: 999999;

            -webkit-transition: opacity linear 0.3s;
            transition: opacity linear 0.3s;
            opacity: 1;
        }

        div#loading.ng-leave {
          opacity: 1;
        }

        div#loading.ng-leave.ng-leave-active {
          opacity: 0;
        }

        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>

    <!-- build:css ./styles.css -->

    <!-- Base styles for all projects -->
    <link rel="stylesheet" href="branding/spinner.css">
    <link rel="stylesheet" href="core.css">
    <link rel="stylesheet" href="components/shared.css">
    <link rel="stylesheet" href="components/shared/popups.css">

    <link rel="stylesheet" href="branding/fonts/font-awesome/scss/font-awesome.css">

    <!-- Tablet/Desktop styles -->
    <link rel="stylesheet" href="components/main/main.css">
    <link rel="stylesheet" href="components/main/outputs.css">
    <link rel="stylesheet" href="components/main/PC/pc.css">
    <link rel="stylesheet" href="components/main/Camera/camera.css">
    <link rel="stylesheet" href="components/main/Visualiser/visualiser.css">
    <link rel="stylesheet" href="components/main/Phone/phone.css">
    <link rel="stylesheet" href="components/main/Wireless/wireless.css">
    <link rel="stylesheet" href="components/main/VC/vc.css">
    
    <!-- Mobile styles -->
    <link rel="stylesheet" href="components/mobile/mobile.css">

    <!-- Define branding in its own style sheet -->
    <link rel="stylesheet" href="branding/pwc/main.css">
    

    <!-- Provide styles for common animations -->
    <link rel="stylesheet" href="animate.css/animate.css">

    <link rel="stylesheet" href="angular-virtual-keyboard/release/angular-virtual-keyboard.css">

    <!-- endbuild -->
  </head>
  <body ng-app="AcaEngine" drag-begin="$event.preventDefault()" touch-action="pan-x" user-select="true">
    <!-- Loading Indicator -->
    <div id="loading" ng-if="$composerConnected !== true">
        <h1 ng-if="loaded !== true">Loading...</h1>
        <div ng-cloak ng-if="loaded === true">
            <h1>Connecting...</h1>
            <p>
                Attempting to contact the control server.<br />
                If this message persists, check network connectivity and try reloading this page
            </p>
        </div>
        <div>
            <div class="spinner"></div>
        </div>
    </div>


    <!-- System definition -->
    <main co-system="controlSystem">
        <div class="noSystem" ng-if="!coSystem.id">
            <h2>System "{{coSystem.$name}}" Not Found</h2>
        </div>
        <div class="noSystem" ng-if="noSystemSelected">
            <h2>No System Selected</h2>
        </div>
        <div ng-if="coSystem.id" co-module="'System'" co-bind="'state'">
            <span co-bind="'analytics' as $root.analytics"></span>

            <!-- Show a splash page when offline -->
            <div 
                class="splash"
                ng-if="state !== 'online'"
                co-bind="'name' as $root.SystemName"
                ng-release="coModuleInstance.$exec('powerup')"
                touch-action="none"
                ng-init="$root.$emit('$track', 'state', 'offline')"
            >
                <div>
                    <div>
                        <div>
                            <h1>Touch to Start</h1>
                            <h2>{{SystemName}}</h2>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Display the most appropriate user interface -->
            <div ng-controller="SharedCtrl" co-bind="'outputs'">
                <div ng-if="width < 700 || height < 600" ng-include="'components/mobile/mobile.html'"></div>
                <div ng-if="width >= 700 && height >= 600" ng-include="'components/main/main.html'" co-bind="'has_preview'"></div>
            </div>
        </div>
    </main>


    <!-- build:js ./app.js -->

    <!-- AngularJS Core -->
    <script src="spark-md5/spark-md5.js"></script>
    <script src="jquery/dist/jquery.js"></script>
    <script src="angular/angular.js"></script>
    <script src="angular-resource/angular-resource.js"></script>
    <script src="angular-animate/angular-animate.js"></script>
    <script src="angular-sanitize/angular-sanitize.js"></script>

    <!-- Gesture support -->
    <script src="pointerevents-polyfill/pointerevents.dev.js"></script>
    <script src="angular-gesture/ngGesture/gesture.js"></script>
    <script src="angular-gesture/ngGesture/directive/ngClick.js"></script>
    <script src="angular-gesture/ngGesture/directive/ngHold.js"></script>
    <script src="angular-gesture/ngGesture/directive/ngSwipe.js"></script>
    <script src="angular-gesture/ngGesture/directive/ngTouch.js"></script>
    <script src="angular-gesture/ngGesture/directive/ngDrag.js"></script>

    <!-- Authentication -->
    <script src="angular-safeapply/safe-apply.js"></script>
    <script src="oauth-interceptor/intercept/endpoint.js"></script>
    <script src="oauth-interceptor/intercept/communication.js"></script>

    <!-- ACA Engine Library -->
    <script src="composer/src/ba-debug.js"></script>
    <script src="composer/src/composer.js"></script>
    <script src="composer/src/resources.js"></script>
    <script src="composer/src/websocket.js"></script>

    <script src="composer/src/directives.js"></script>
    <script src="composer/src/default_settings.js"></script>

    <!-- Optional Helpers -->
    <script src="easy-animate/requestAnimationFrame.js"></script>
    <script src="easy-animate/angular-animate.js"></script>
    <script src="co-cacheman/cacheman.js"></script>
    <script src="co-order-object-by/src/ng-order-object-by.js"></script>

    <!-- UI Widgets -->
    <script src="angular-range-slider/angular-range-slider.js"></script>
    <script src="angular-fancy-tab/fancy-tab.js"></script>
    <script src="angular-button-group/button-group.js"></script>
    <script src="angular-progress/angular-progress.js"></script>
    <script src="angular-named-toggle/angular-named-toggle.js"></script>
    <script src="co-modals/co-modals.js"></script>
    <script src="angular-virtual-keyboard/release/angular-virtual-keyboard.js"></script>


    <!-- Application Components -->
    <script src="components/app.js"></script>
    <script src="components/joystick.js"></script>  <!-- TODO:: isolate -->
    <script src="components/shared-ctrl.js"></script>
    <script src="components/shared/cam-ctrl.js"></script>
    <script src="components/shared/audio-ctrl.js"></script>
    <script src="components/shared/order-ctrl.js"></script>
    <script src="components/shared/joining-ctrl.js"></script>
    
    <script src="components/main/source-ctrl.js"></script>
    <script src="components/main/output-ctrl.js"></script>
    <script src="components/main/Phone/phone-ctrl.js"></script>
    <script src="components/main/VC/vc-ctrl.js"></script>

    <script src="components/mobile/sidebar-ctrl.js"></script>
    <script src="components/mobile/options-ctrl.js"></script>
    <script src="components/mobile/sources/tabs-ctrl.js"></script>

    <!-- <script src="analytics/google.js"></script> -->

    <!-- endbuild -->

    <!-- build:remove -->
        <script src="analytics/tracking_test.js"></script>

        <!-- 
            Place emulation references here so they are not included in the build.
            Composer Websocket.js is automatically replaced by mocksocket in development
         -->

        <!-- sys-B0 == POD System -->
        <script src="branding/usyd/single.js"></script>

        <!-- sys-B1 == Single Projector Room (with preview) -->
        <script src="branding/usyd/preview.js"></script>

        <!-- sys-B2 == POD System with Teacher Sharing -->
        <script src="branding/usyd/shared_pod.js"></script>

        <!-- sys-B3 == Multi Projector Room -->
        <script src="branding/usyd/multi_out.js"></script>

        <!-- sys-B4 == Room Linking -->
        <script src="branding/usyd/linking.js"></script>

        <!-- sys-B5 == Main Lecture Room at Tafe -->
        <script src="branding/tafesa/lecture.js"></script>

        <!-- sys-B6 == Staff board room -->
        <script src="branding/tafesa/dual.js"></script>

        <!-- sys-B7 == Basic pod system -->
        <script src="branding/tafesa/pod.js"></script>

        <!-- sys-B8 == Complex meeting room -->
        <script src="branding/rabobank/single.js"></script>

        <!-- sys-B9 == PwC meeting rooms -->
        <script src="branding/pwc/single.js"></script>
    <!-- endbuild -->
  </body>
</html>
