
<div class="phonemain" co-bind="'phone_settings'" ng-init="coModuleInstance.$exec('init_vc')">
    <span co-bind="'mics_mutes'"></span>
    <span co-bind="'phone_quick_dial'"></span>
    <div
        ng-if="phone_settings"
        co-module="phone_settings.phone_module" co-implicit-index
        class="standard-panel"
        ng-controller="PhoneCtrl"
    >
        
        <div co-bind="phone_settings.ringing_id as phone.ringing">
            <div class="numpad" co-bind="'connected' as phone.dsp_connected">
                <div co-bind="phone_settings.offhook_id as phone.incall">
                    <div>
                        <h1>Number to Dial</h1>
                        <div class="number"
                            co-bind="phone_settings.number_id as phone.number"
                            exec="phone_number(phone.number, phone_settings.number_id)"
                        >
                            <input ng-model="phone.number"
                                ng-touch="$event.stopPropagation()"
                                user-select="true" 
                                no-capture
                            >
                            <span role="button" class="fa fa-arrow-circle-o-left clear-num" ng-click="backspace()" ng-show="phone.number.length"></span>
                        </div>

                        <menu class="numpad">
                            <button ng-click="addNum(1)">1</button>
                            <button ng-click="addNum(2)">2</button>
                            <button ng-click="addNum(3)">3</button>

                            <button ng-click="addNum(4)">4</button>
                            <button ng-click="addNum(5)">5</button>
                            <button ng-click="addNum(6)">6</button>

                            <button ng-click="addNum(7)">7</button>
                            <button ng-click="addNum(8)">8</button>
                            <button ng-click="addNum(9)">9</button>

                            <button ng-click="addNum('*')">*</button>
                            <button ng-click="addNum(0)">0</button>
                            <button ng-click="addNum('#')">#</button>
                        </menu>
                    </div>
                </div>
            </div>
        </div>
        <div class="sources">
            <div>
                <button
                    ng-if="phone_quick_dial"
                    ng-class="{disabled: phone.ringing || phone.incall}"
                    ng-touch="coModuleInstance.$exec('phone_number', phone_quick_dial, phone_settings.number_id); coModuleInstance.$exec('phone_dial', phone_settings.dial_id)"
                >
                    <i class="fa fa-users"></i>&nbsp;&nbsp;Quick Dial Bridge
                </button>
                <br />
                <button class="toggle"
                    ng-class="{disabled: phone.ringing || phone.incall || !phone.number.length}"
                    ng-touch="coModuleInstance.$exec('phone_dial', phone_settings.dial_id)"
                >
                    <i class="fa fa-hand-pointer-o"></i>Dial
                </button>
                <button class="toggle" ng-class="{disabled: !(phone.ringing || phone.incall)}"
                    ng-touch="coModuleInstance.$exec('phone_hangup', phone_settings.hangup_id)"
                >
                    <i class="fa fa-tty"></i>Hang Up
                </button>
                <span ng-if="mics_mutes" co-module="'Mixer'">
                    <span co-bind="'fader' + mics_mutes[0] + '_mute' as phone.muted"></span>
                    <button class="toggle" ng-class="{disabled: !(phone.ringing || phone.incall), muted: phone.muted}"
                        ng-touch="coModuleInstance.$exec('mute', mics_mutes, !phone.muted)"
                    >
                        <span ng-if="!phone.muted"><i class="fa fa-microphone"></i>Mute Mics</span>
                        <span ng-if="phone.muted"><i class="fa fa-microphone-slash"></i>Unmute Mics</span>
                    </button>
                </span>
                <span class="status" co-bind="phone_settings.status_id as phone.status"><br />{{phone.status}}</span>
            </div>
        </div>
    </div>
</div>
