@import "compass";
@import "../common";

#bookings {
    padding: 40px;
    padding-top: 45px;

    #listing {
        position: absolute;
        top: 100px;
        bottom: 40px;
        left: 40px;
        right: 40px;
        overflow: auto;

        background-color: rgba(255, 255, 255, 0.9);
        border: 1px solid #eee;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.05);

        > a {
            padding: 20px;
            display: block;
            margin-top: 5px;
            
            color: #333;
            font-size: 21px;
            text-decoration: none;
            font-weight: 300;
            border-bottom: 1px solid #eee;
        }
    }

    h1 {
        text-transform: uppercase;
        font-size: 26px;
        color: $primary-colour;
        font-weight: 300;
    }
}
