@import "compass";
@import "../common";

#content > menu {
    // arrow positions
    position: absolute;
    top: $header-height - 5px;

    &#camera {
        @include up-arrow(10px, 457px);
        right: 115px;
        height: 440px;
    }

    &#display {
        @include up-arrow(10px, 425px);
        right: 220px;
        height: 450px;
    }

    &#mics {
        @include up-arrow(10px, 398px);
        right: 305px;
        height: 150px;
    }

    &#dvd {
        @include up-arrow(10px, 380px);
        right: 390px;
        height: 270px;
    }


    // panel
    width: 500px;
    padding: 30px;
    border-radius: 3px;
    box-sizing: border-box;
    z-index: 10;
    
    background-color: white;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.2);


    // widgets
    > div {
        overflow: auto;
        width: 100%;
        height: 100%;

        // generic button - can appear in heading or panel section
        button {
            background: none;
            border: none;
            background-color: #eee;
            padding: 10px 15px;
            text-transform: uppercase;
            font-size: 14px;
            color: #777;
            outline: none;

            &.active, &:active {
                background-color: $primary-colour;
                color: white;
            }

            margin-bottom: 0.3em;
        }

        // panel heading
        h1 {
            color: $primary-colour;
            text-transform: uppercase;
            font-size: 20px;
            margin-bottom: 15px;
            font-weight: 400;
        }

        // panel section
        > div {
            margin-bottom: 20px;

            &+h1 {
                margin-top: 60px;
                font-weight: 400;
            }

            label {
                display: inline-block;
                font-size: 15px;
                vertical-align: middle;
                color: #444;
                text-transform: uppercase;
                font-weight: 400;
            }

            joystick {
                position: relative;
                display: block;
                top: 30px;
                left: 80px;
                height: 260px;
                width: 260px;
                border: 1px solid #eee;
                margin-bottom: 60px;

                &> img {
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    z-index: 10;
                }
            }

            // slider
            > div {
                display: inline-block;

                &.slider {
                    width: 235px;
                    margin-right: 20px;
                    padding-left: 12.5px;
                }
            }
        }
    }
}
