
<div co-bind="'TV' as source_names" id="tv-inputs" ng-touch="$event.stopPropagation()" on-target>
    <div ng-if="source_names" ng-init="selectSource(source_names[0])" class="standard-panel">
        <div ng-controller="TvCtrl" co-module="'Television'">
            <span co-bind="'channelName'"></span>
            <div co-bind="'channelNames' as data.channelNames"></div>

            <ul id="tv">
                <li ng-repeat="name in icons" ng-click="coModuleInstance.$exec('goto', name)" ng-class="{highlight: name === channelName}">
                    <div ng-class="build_css_class(name)"></div>
                </li>
            </ul>

            <h1 ng-if="others.length > 0">Other</h1>
            <ul id="others">
                <li ng-repeat="name in others" ng-click="coModuleInstance.$exec('goto', name)" ng-class="{highlight: name === channelName}">
                    <span>{{name}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
