<h1>Select a TV channel</h1>

<div co-bind="'TV' as source_names">
    <div ng-init="currentTab('TV')">
        <div btn-group="selectedSource.source" id="tvchannels">
            <button ng-repeat="channel in source_names" btn="channel" ng-click="selectSource(channel)">
                <div class="img"><div ng-style="{'background-image': 'url(' + sources[channel].image + ')'}"></div></div>
                <h1>{{sources[channel].title}}</h1>
            </button>
        </div>
    </div>
</div>
