@font-face {
    font-family: "Gravur";
    font-style: normal;
    font-weight: 400;
    src: url("gravur.eot");
    src: local("Gravur"),
        url("fonts/gravur/gravur.eot?ie8hack") format("embedded-opentype"),
        url("fonts/gravur/gravur.woff") format("woff"),
        url("fonts/gravur/gravur.ttf") format("truetype"),
        url("fonts/gravur/gravur.svg") format("svg")
}
