
<div ng-controller="AstralCtrl" class="expansive astral-lighting" co-module="'AstralLights'">


<div ng-controller="Modals">
    <modal class="chandelier" name="chandelier" title="Adjust Chandelier Levels">
        <p>Select the levels you would like to adjust, then adjust using the slider.</p>
        <table class="custom-fader">
            <tr style="height: 4.5em;">
                <td>
                    <button class="btn" ng-click="astrals.local_chand = 255">Full</button>
                </td>
            </tr>
            <tr>
                <td co-bind="'chandelier_level' as astrals.chandelier_level">
                    <div co-range horizontal="false" model="astrals.local_chand" min="0" max="255"></div>
                </td>
            </tr>
            <tr style="height: 4.5em;">
                <td>
                    <button class="btn" ng-click="astrals.local_chand = 0">Off</button>
                </td>
            </tr>
        </table>
        <table class="chandelier-diagram" co-bind="'chandelier' as astrals.chandelier">
            <tr>
                <td style="width: 50%"></td>
                <td>
                    <image-toggle model="astrals.chandelier[systemIndex][0]" on-change="selectChand(0)"></image-toggle>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <image-toggle model="astrals.chandelier[systemIndex][1]" on-change="selectChand(1)"></image-toggle>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <image-toggle model="astrals.chandelier[systemIndex][2]" on-change="selectChand(2)"></image-toggle>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <image-toggle model="astrals.chandelier[systemIndex][3]" on-change="selectChand(3)"></image-toggle>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <image-toggle model="astrals.chandelier[systemIndex][4]" on-change="selectChand(4)"></image-toggle>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
        <menu>
            <button class="ok" ng-click="toggleChand(true)">
                Select All
            </button>
            <button class="ok" ng-click="toggleChand(false)">
                Deselect All
            </button>
            <button class="ok" ng-click="sendCurrentChandLevel()">
                Resend Level
            </button>
        </menu>
        <div style="clear: both"></div>
    </modal>

    <modal class="light-presets" name="lightPresets" title="Recall a Preset">
        <p>Select the preset you would like to recall. Note: Only the presets that apply to the current room configuration are shown</p>

        <div class="preset-buttons">
            <h3>House and Chandeliers</h3>
            <button ng-click="callPreset(1)">High</button>
            <button ng-click="callPreset(2)">Medium</button>
            <button ng-click="callPreset(3)">Low</button>
            <button ng-click="callPreset(5)">Very Low</button>
            <button ng-click="callPreset(4)">Off</button>

            <h3>House Only</h3>
            <button ng-click="callPreset(6)">High</button>
            <button ng-click="callPreset(7)">Medium</button>
            <button ng-click="callPreset(8)">Low</button>
            <button ng-click="callPreset(9)">Very Low</button>

            <h3>Custom Presets</h3>
            <select ng-options="key for (key, value) in astrals.valid_presets" ng-model="custom_preset"></select>
            <button ng-if="custom_preset" ng-click="callPreset(custom_preset)">Recall</button>

            <h3>Chandelier Settings</h3>
            <select ng-options="key for (key, value) in astrals.chand_transitions" ng-model="custom_transition"></select>
            <button ng-if="custom_transition" ng-click="setTransition(custom_transition)">Set</button>
            <button ng-click="setTransition(26)">Off</button>
        </div>
        <div style="clear: both"></div>
    </modal>


    <modal class="preset-save" name="lightSave" title="Save a Preset">
        <p>Warning! Make sure the preset you overwrite is no longer required.</p>

        <div class="preset-buttons">
            <div ng-if="astrals.existing_presets.length > 0">
                <h3>Clear a preset</h3>
                <select ng-options="key for (key, value) in astrals.all_presets" ng-model="clear_preset"></select>
                <button ng-if="clear_preset" ng-click="clearPreset(clear_preset)">Clear</button>

                <h3>Overwrite Existing</h3>
                <select ng-options="key for (key, value) in astrals.all_presets" ng-model="over_preset"></select>
            </div>

            <br />
            <b>OR</b>

            <div ng-if="astrals.unused_presets.length > 0">
                <h3>Select an unused preset</h3>
                <select ng-options="value for value in astrals.unused_presets" ng-model="new_preset"></select>
            </div>

            <br />
            <br />
            <h3>Name:</h3>
            <input type="text" ng-bind="preset_name" />
            <button ng-if="preset_name && (over_preset || new_preset)" ng-click="savePreset(new_preset || over_preset, name); closeModal('lightSave')">Save</button>
        </div>
        <div style="clear: both"></div>
    </modal>
</div>


<table style="height: 100%; width: 70%; float: left; text-align: center;">
    <tr style="height: 4.5em;">
        <td style="width: 5em;">
            <button class="btn" ng-click="sendCurrentLevel()">Resend</button>
        </td>
        <td colspan="3" ng-controller="Modals">
            <button class="btn" ng-click="showModal('chandelier')">Chandelier Levels</button>
            <button class="btn" ng-click="showModal('lightPresets')">Recall a Preset</button>
            <button class="btn" ng-click="showModal('lightSave')">Save a Preset</button>

            <!-- This is where the preset binds occur -->
            <div co-bind="'chandelier_presets' as astrals.chand_transitions"></div>
            <div co-bind="'custom_numbers' as astrals.custom_range"></div>
            <div co-bind="'custom_presets' as astrals.all_presets"></div>
        </td>
    </tr>
    <tr class="select-light" co-bind="'selected' as astrals.selected">
        <td co-bind="'selected_level' as astrals.selected_level">
            <!-- Fader -->
            <div co-range horizontal="false" model="astrals.local_level" min="0" max="255"></div>
        </td>
        <td style="width: 30%;">
            <!-- Astral 1 -->
            <table class="light-select" ng-if="show_astral_1">
                <tr style="height: 2em;">
                    <td colspan="2">Astral 1 (front)</td>
                </tr>
                <tr>
                    <td>
                        <image-toggle model="astrals.selected[0][0]" on-change="selected(0)"></image-toggle> 1
                    </td>
                    <td>
                        <image-toggle model="astrals.selected[0][1]" on-change="selected(0)"></image-toggle> 2
                    </td>
                </tr>
                <tr>
                    <td>
                        <image-toggle model="astrals.selected[0][2]" on-change="selected(0)"></image-toggle> 3
                    </td>
                    <td>
                        <image-toggle model="astrals.selected[0][3]" on-change="selected(0)"></image-toggle> 4
                    </td>
                </tr>
                <tr>
                    <td>
                        <image-toggle model="astrals.selected[0][4]" on-change="selected(0)"></image-toggle> 5
                    </td>
                    <td>
                        <image-toggle model="astrals.selected[0][5]" on-change="selected(0)"></image-toggle> 6
                    </td>
                </tr>
            </table>
        </td>
        <td style="width: 25%;">
            <!-- Astral 2 -->
            <table class="light-select" ng-if="show_astral_2">
                <tr style="height: 2em;">
                    <td>Astral 2 (front)</td>
                </tr>
                <tr>
                    <td>
                        <image-toggle model="astrals.selected[1][0]" on-change="selected(1)"></image-toggle> 7
                    </td>
                </tr>
                <tr>
                    <td>
                        <image-toggle model="astrals.selected[1][1]" on-change="selected(1)"></image-toggle> 8
                    </td>
                </tr>
                <tr>
                    <td>
                        <image-toggle model="astrals.selected[1][2]" on-change="selected(1)"></image-toggle> 9
                    </td>
                </tr>
            </table>
        </td>
        <td style="width: 30%;">
            <!-- Astral 3 -->
            <table class="light-select" ng-if="show_astral_3">
                <tr style="height: 2em;">
                    <td colspan="2">Astral 3 (front)</td>
                </tr>
                <tr>
                    <td>
                        <image-toggle model="astrals.selected[2][0]" on-change="selected(2)"></image-toggle> 10
                    </td>
                    <td>
                        <image-toggle model="astrals.selected[2][1]" on-change="selected(2)"></image-toggle> 11
                    </td>
                </tr>
                <tr>
                    <td>
                        <image-toggle model="astrals.selected[2][2]" on-change="selected(2)"></image-toggle> 12
                    </td>
                    <td>
                        <image-toggle model="astrals.selected[2][3]" on-change="selected(2)"></image-toggle> 13
                    </td>
                </tr>
                <tr>
                    <td>
                        <image-toggle model="astrals.selected[2][4]" on-change="selected(2)"></image-toggle> 14
                    </td>
                    <td>
                        <image-toggle model="astrals.selected[2][5]" on-change="selected(2)"></image-toggle> 15
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr class="select-all" style="height: 4.5em;">
        <!-- Select all toggle -->
        <td style="text-align: center;">
            <button class="btn" ng-click="astrals.local_level = 0">Off</button>
        </td>
        <td>
            <span ng-if="show_astral_1"><image-toggle model="astrals.checkBoxes[0]" on-change="toggleAll(0)"></image-toggle> All</span>
        </td>
        <td>
            <span ng-if="show_astral_2"><image-toggle model="astrals.checkBoxes[1]" on-change="toggleAll(1)"></image-toggle> All</span>
        </td>
        <td>
            <span ng-if="show_astral_3"><image-toggle model="astrals.checkBoxes[2]" on-change="toggleAll(2)"></image-toggle> All</span>
        </td>
    </tr>
</table>

<!-- House Lighting Faders -->
<table class="house-lighting">
    <tr style="height: 2em;">
        <td colspan="3">House Lighting</td>
    </tr>
    <tr style="height: 4.5em;">
        <td>
            <!-- Onyx -->
            <button class="btn" ng-click="astrals.onyx_fader = 255">Full</button>
        </td>
        <td>
            <!-- Pelmets -->
            <button class="btn" ng-click="astrals.pelmets_fader = 255">Full</button>
        </td>
        <td>
            <!-- Downlights -->
            <button class="btn" ng-click="astrals.down_fader = 255">Full</button>
        </td>
    </tr>
    <tr co-bind="'house_levels' as astrals.house_levels">
        <td>
            <!-- Onyx -->
            <div co-range horizontal="false" model="astrals.onyx_fader" min="0" max="255"></div>
        </td>
        <td>
            <!-- Pelmets -->
            <div co-range horizontal="false" model="astrals.pelmets_fader" min="0" max="255"></div>
        </td>
        <td>
            <!-- Downlights -->
            <div co-range horizontal="false" model="astrals.down_fader" min="0" max="255"></div>
        </td>
    </tr>
    <tr style="height: 4.5em;">
        <td>
            <!-- Onyx -->
            <button class="btn" ng-click="astrals.onyx_fader = 0">Off</button>
        </td>
        <td>
            <!-- Pelmets -->
            <button class="btn" ng-click="astrals.pelmets_fader = 0">Off</button>
        </td>
        <td>
            <!-- Downlights -->
            <button class="btn" ng-click="astrals.down_fader = 0">Off</button>
        </td>
    </tr>
    <tr style="height: 2em;">
        <td>
            Onyx
        </td>
        <td>
            Pelmets
        </td>
        <td>
            Downlights
        </td>
    </tr>
</table>
</div>
