
<div ng-controller="AstralCtrl" class="expansive astral-lighting" co-module="'AstralLights'">

<!-- This is where the preset binds occur -->
<div co-bind="'presets' as astrals.current_preset"></div>
<div co-bind="'effects' as astrals.current_effect"></div>
<div co-bind="'chandelier_presets' as astrals.chand_transitions"></div>
<div co-bind="'custom_numbers' as astrals.custom_range"></div>
<div co-bind="'custom_presets' as astrals.all_presets"></div>

<div ng-controller="Modals">
    <modal class="chandelier" name="lightAdjust" title="Adjust Levels and Save">
        <p>Preset created! Now adjust the levels and remember to save this preset</p>

        <menu>
            <button class="ok" ng-click="closeModal('lightAdjust')">
                Understood
            </button>
        </menu>

        <div style="clear: both"></div>
    </modal>

    <modal class="chandelier" name="lightSaved" title="Preset Saved!">
        <p>Preset "{{astrals.current_preset_name}}" has been saved!</p>

        <menu>
            <button class="ok" ng-click="closeModal('lightSaved')">
                Understood
            </button>
        </menu>

        <div style="clear: both"></div>
    </modal>

    <modal class="chandelier" name="chandelier" title="Adjust Chandelier Levels">
        <p>Select the levels you would like to adjust, then adjust using the slider.</p>
        <table class="custom-fader">
            <tr style="height: 4.5em;">
                <td>
                    <button class="btn" ng-click="astrals.local_level = 255">Full</button>
                </td>
            </tr>
            <tr>
                <td>
                    <div co-range horizontal="false" model="astrals.local_level" min="0" max="255"></div>
                </td>
            </tr>
            <tr style="height: 4.5em;">
                <td>
                    <button class="btn" ng-click="astrals.local_level = 0">Off</button>
                </td>
            </tr>
        </table>
        <menu>
            <button class="ok" ng-click="toggleChand(true)">
                Select All
            </button>
            <button class="ok" ng-click="toggleChand(false)">
                Deselect All
            </button>
            <button class="ok" ng-click="sendCurrentLevel()">
                Resend Level
            </button>
        </menu>
        <table class="chandelier-diagram" co-bind="'chandelier' as astrals.chandelier">
            <tr>
                <td style="width: 50%"></td>
                <td class="with_checkbox">
                    <image-toggle model="astrals.chandelier[systemIndex][0]" on-change="selectChand(0)"></image-toggle>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="with_checkbox">
                    <image-toggle model="astrals.chandelier[systemIndex][1]" on-change="selectChand(1)"></image-toggle>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="with_checkbox">
                    <image-toggle model="astrals.chandelier[systemIndex][2]" on-change="selectChand(2)"></image-toggle>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="with_checkbox">
                    <image-toggle model="astrals.chandelier[systemIndex][3]" on-change="selectChand(3)"></image-toggle>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="with_checkbox">
                    <image-toggle model="astrals.chandelier[systemIndex][4]" on-change="selectChand(4)"></image-toggle>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>

        <div style="clear: both"></div>

        <div class="chand-effects">
            <h3>Chandelier Effects  <button ng-click="setTransition(26)">Off</button></h3>

            Select Effect: <select ng-options="key for (key, value) in astrals.chand_transitions" ng-model="custom_transition"></select>
            <button ng-if="custom_transition" ng-click="setTransition(custom_transition)">Set</button>

            <p ng-if="astrals.current_effect_name">
                Currently Selected: {{astrals.current_effect_name}}
            </p>
            <div style="clear: both"></div>
        </div>
    </modal>

    <modal class="light-presets" name="lightPresets" title="Recall a Preset">
        <p>Select the preset you would like to recall.</p>

        <div class="preset-buttons">
            <p>
                <h3>Current: {{astrals.current_preset_name}}</h3>
            </p>

            <h3>House and Chandeliers</h3>
            <button ng-click="callPreset(1)">High</button>
            <button ng-click="callPreset(2)">Medium</button>
            <button ng-click="callPreset(3)">Low</button>
            <button ng-click="callPreset(5)">Very Low</button>
            <button ng-click="callPreset(4)">Off</button>

            <h3>House Only</h3>
            <button ng-click="callPreset(6)">High</button>
            <button ng-click="callPreset(7)">Medium</button>
            <button ng-click="callPreset(8)">Low</button>
            <button ng-click="callPreset(9)">Very Low</button>

            <h3>Custom Presets</h3>
            <select ng-options="key for (key, value) in astrals.valid_presets" ng-model="custom_preset">
                <option value="">Select Preset</option>
            </select>
            <button ng-if="custom_preset" ng-click="callPreset(custom_preset);">Recall</button>
        </div>
        <div style="clear: both"></div>
    </modal>


    <modal class="preset-save" name="lightSave" title="Save and Clear Presets">
        <p>NOTE - To create a preset you must do the following:</p>

        <div class="preset-buttons">
            <ol>
                <li>Create the preset below</li>
                <li>Adjust the levels</li>
                <li>Return here to save the preset</li>
            </ol>

            <div ng-if="astrals.can_save && astrals.current_preset_name">
                <h3>
                    Save preset: {{astrals.current_preset_name}}
                    <span>
                        <button ng-click="savePreset(); closeModal('lightSave'); showModal('lightSaved');">Save</button>
                    </span>
                </h3>
            </div>
            <br />


            <div ng-if="astrals.custom_preset_count > 0">
                <h3>Delete an existing preset:</h3>
                <select ng-options="key for (key, value) in astrals.all_presets" ng-model="clear_preset"></select>
                <button ng-if="clear_preset" ng-click="clearPreset(clear_preset.number)">Delete</button>
            </div>


            <div ng-if="astrals.unused_presets.length > 0">   
                <br />
                <br />
                <h3>Create a preset:</h3>
                <input ng-model="astrals.new_preset_name" />
                <button
                    ng-if="astrals.new_preset_name"
                    ng-click="createPreset(astrals.new_preset_name); closeModal('lightSave'); showModal('lightAdjust');">
                    Create
                </button>
            </div>

            <div ng-if="astrals.unused_presets.length === 0">
                <br />
                <h3>Clear an existing preset to create new ones</h3>
            </div>
        </div>
        <div style="clear: both"></div>
    </modal>
</div>


<table style="height: 100%; width: 70%; float: left; text-align: center;">
    <tr style="height: 4.5em;">
        <td style="width: 5em;">
            <button class="btn" ng-click="sendCurrentLevel()">Resend</button>
        </td>
        <td colspan="3" ng-controller="Modals">
            <button class="btn" ng-click="showModal('chandelier')">Chandelier Config</button>
            <button class="btn" ng-click="showModal('lightPresets')">Recall a Preset</button>
            <button class="btn" ng-click="showModal('lightSave')">Manage Presets</button>
        </td>
    </tr>
    <tr class="select-light" co-bind="'selected' as astrals.selected">
        <td co-bind="'selected_level' as astrals.selected_level">
            <!-- Fader -->
            <div co-range horizontal="false" model="astrals.local_level" min="0" max="255"></div>
        </td>
        <td style="width: 30%;">
            <!-- Astral 1 -->
            <table class="light-select" ng-if="show_astral_1">
                <tr style="height: 2em;">
                    <td colspan="2">Astral 1 (front)</td>
                </tr>
                <tr>
                    <td>
                        <image-toggle model="astrals.selected[0][0]" on-change="selected(0)"></image-toggle> 1
                    </td>
                    <td>
                        <image-toggle model="astrals.selected[0][1]" on-change="selected(0)"></image-toggle> 2
                    </td>
                </tr>
                <tr>
                    <td>
                        <image-toggle model="astrals.selected[0][2]" on-change="selected(0)"></image-toggle> 3
                    </td>
                    <td>
                        <image-toggle model="astrals.selected[0][3]" on-change="selected(0)"></image-toggle> 4
                    </td>
                </tr>
                <tr>
                    <td>
                        <image-toggle model="astrals.selected[0][4]" on-change="selected(0)"></image-toggle> 5
                    </td>
                    <td>
                        <image-toggle model="astrals.selected[0][5]" on-change="selected(0)"></image-toggle> 6
                    </td>
                </tr>
            </table>
        </td>
        <td style="width: 25%;">
            <!-- Astral 2 -->
            <table class="light-select" ng-if="show_astral_2">
                <tr style="height: 2em;">
                    <td>Astral 2 (front)</td>
                </tr>
                <tr>
                    <td>
                        <image-toggle model="astrals.selected[1][0]" on-change="selected(1)"></image-toggle> 7
                    </td>
                </tr>
                <tr>
                    <td>
                        <image-toggle model="astrals.selected[1][1]" on-change="selected(1)"></image-toggle> 8
                    </td>
                </tr>
                <tr>
                    <td>
                        <image-toggle model="astrals.selected[1][2]" on-change="selected(1)"></image-toggle> 9
                    </td>
                </tr>
            </table>
        </td>
        <td style="width: 30%;">
            <!-- Astral 3 -->
            <table class="light-select" ng-if="show_astral_3">
                <tr style="height: 2em;">
                    <td colspan="2">Astral 3 (front)</td>
                </tr>
                <tr>
                    <td>
                        <image-toggle model="astrals.selected[2][0]" on-change="selected(2)"></image-toggle> 10
                    </td>
                    <td>
                        <image-toggle model="astrals.selected[2][1]" on-change="selected(2)"></image-toggle> 11
                    </td>
                </tr>
                <tr>
                    <td>
                        <image-toggle model="astrals.selected[2][2]" on-change="selected(2)"></image-toggle> 12
                    </td>
                    <td>
                        <image-toggle model="astrals.selected[2][3]" on-change="selected(2)"></image-toggle> 13
                    </td>
                </tr>
                <tr>
                    <td>
                        <image-toggle model="astrals.selected[2][4]" on-change="selected(2)"></image-toggle> 14
                    </td>
                    <td>
                        <image-toggle model="astrals.selected[2][5]" on-change="selected(2)"></image-toggle> 15
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr class="select-all" style="height: 4.5em;">
        <!-- Select all toggle -->
        <td style="text-align: center;">
            <button class="btn" ng-click="astrals.local_level = 0">Off</button>
        </td>
        <td>
            <span ng-if="show_astral_1"><image-toggle model="astrals.checkBoxes[0]" on-change="toggleAll(0)"></image-toggle> All</span>
        </td>
        <td>
            <span ng-if="show_astral_2"><image-toggle model="astrals.checkBoxes[1]" on-change="toggleAll(1)"></image-toggle> All</span>
        </td>
        <td>
            <span ng-if="show_astral_3"><image-toggle model="astrals.checkBoxes[2]" on-change="toggleAll(2)"></image-toggle> All</span>
        </td>
    </tr>
</table>

<!-- House Lighting Faders -->
<table class="house-lighting">
    <tr style="height: 2em;">
        <td class="with_checkbox" colspan="1">
            <b>House Lighting</b>
        </td>
        <td co-bind="'spots_enabled' as astrals.spots_enabled"
            colspan="2"
            class="with_checkbox">
            Enable Spots: <image-toggle model="astrals.spots_enabled[systemIndex]" on-change="updateSpots()"></image-toggle>
        </td>
    </tr>
    <tr style="height: 4.5em;">
        <td>
            <!-- Onyx -->
            <button class="btn" ng-click="astrals.onyx_fader_ui = 255">Full</button>
        </td>
        <td>
            <!-- Pelmets -->
            <button class="btn" ng-click="astrals.pelmets_fader_ui = 255">Full</button>
        </td>
        <td>
            <!-- Downlights -->
            <button class="btn" ng-click="astrals.down_fader_ui = 255">Full</button>
        </td>
    </tr>
    <tr co-module="'Lighting'">
        <td co-bind="'area' + astrals.area_codes[systemIndex] + '_chan0_level' as astrals.onyx_fader">
            <!-- Onyx -->
            <div co-range horizontal="false" model="astrals.onyx_fader_ui" min="0" max="255"></div>
        </td>
        <td co-bind="'area' + astrals.area_codes[systemIndex] + '_chan1_level' as astrals.pelmets_fader">
            <!-- Pelmets -->
            <div co-range horizontal="false" model="astrals.pelmets_fader_ui" min="0" max="255"></div>
        </td>
        <td co-bind="'area' + astrals.area_codes[systemIndex] + '_chan2_level' as astrals.down_fader">
            <!-- Downlights -->
            <div co-range horizontal="false" model="astrals.down_fader_ui" min="0" max="255"></div>
        </td>
    </tr>
    <tr style="height: 4.5em;">
        <td>
            <!-- Onyx -->
            <button class="btn" ng-click="astrals.onyx_fader_ui = 0">Off</button>
        </td>
        <td>
            <!-- Pelmets -->
            <button class="btn" ng-click="astrals.pelmets_fader_ui = 0">Off</button>
        </td>
        <td>
            <!-- Downlights -->
            <button class="btn" ng-click="astrals.down_fader_ui = 0">Off</button>
        </td>
    </tr>
    <tr style="height: 2em;">
        <td>
            Onyx
        </td>
        <td>
            Pelmets
        </td>
        <td>
            Downlights
        </td>
    </tr>
</table>
</div>
