
<div ng-controller="Modals" co-bind="'Streaming' as source_names" id="camera-inputs" ng-init="coModuleInstance.$exec('start_cameras')">
    <div ng-if="source_names" class="standard-panel" ng-init="selectSource(source_names[0]); stream_preset_update = {}">
        <span co-module="selectedSource.mod" co-index="selectedSource.index" co-bind="'presets' as selectedSource.camera_presets">
            <modal name="save_stream_preset" title="Save preset?" no-close="true">
                <p><b>Save the current camera position to the "{{stream_preset_update.preset}}" preset?<br /></b></p>
                <menu>
                    <button class="cancel" ng-touch="closeModal('save_stream_preset')">Cancel</button>
                    <button class="ok" ng-touch="coModuleInstance.$exec('save_preset', stream_preset_update.preset); closeModal('save_stream_preset')">Save</button>
                </menu>
                <div style="clear: both"></div>
            </modal>
        </span>

        <div class="presets" ng-if="selectedSource.camera_presets && selectedSource.camera_presets.length > 0 && !selectedSource.auto_camera">
            <h3>Presets:</h3>
            <span co-module="selectedSource.mod" co-index="selectedSource.index" co-bind="'connected'">
                <button ng-repeat="preset in selectedSource.camera_presets"
                    ng-click="coModuleInstance.$exec('preset', preset);"
                    ng-hold="stream_preset_update.preset = preset; showModal('save_stream_preset');"
                >
                    {{preset}}
                </button>
            </span>
        </div>
        <div class="camera-control" co-module="selectedSource.mod" co-index="selectedSource.index" co-bind="'joy_right'">
            <div ng-if="!selectedSource.auto_camera" co-bind="'joy_left'">
                <div co-bind="'joy_center'" ng-controller="CamCtrl" class="webcam-controls">
                    <br />
                    <table>
                        <tr>
                            <td></td>
                            <td class="up"
                                ng-touch="coModuleInstance.$exec('adjust_tilt', 'up'); $event.preventDefault();"
                                ng-release="coModuleInstance.$exec('adjust_tilt', 'stop')"
                            ></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="left"
                                ng-touch="coModuleInstance.$exec('adjust_pan', 'left'); $event.preventDefault();"
                                ng-release="coModuleInstance.$exec('adjust_pan', 'stop')"
                            ></td>
                            <td class="center"
                                ng-touch="coModuleInstance.$exec('home')"
                            ></td>
                            <td class="right"
                                ng-touch="coModuleInstance.$exec('adjust_pan', 'right'); $event.preventDefault();"
                                ng-release="coModuleInstance.$exec('adjust_pan', 'stop')"
                            ></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="down"
                                ng-touch="coModuleInstance.$exec('adjust_tilt', 'down'); $event.preventDefault();"
                                ng-release="coModuleInstance.$exec('adjust_tilt', 'stop')"
                            ></td>
                            <td></td>
                        </tr>
                    </table>

                    <span class="zoom-text">Zoom:</span>
                    <div co-bind="'zoom' as cam_zoom" exec="zoom(cam_zoom)">
                        <div co-bind="'zoom_min'">
                            <div co-bind="'zoom_max'">
                                <div co-range model="cam_zoom" min="zoom_min" max="zoom_max"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="selectedSource.auto_camera" style="padding-left: 2em; font-size: larger;">
                This camera will track speakers automatically.
            </div>
        </div>
        <div class="sources" ng-if="source_names.length > 1">
            <div btn-group="selectedSource.source">
                <button ng-repeat="cam in source_names" btn="cam" ng-touch="selectSource(cam)" class="toggle" ng-class="sources[cam].type"><i class="fa fa-video-camera"></i>{{sources[cam].title}}</button>
            </div>
        </div>
    </div>
</div>
