@import "compass";


// AUDIO PAGE
@import "../bower_components/angular-range-slider/angular-range-slider.scss";
@include co-range-slider(
    $handle-size: 40px,
    $track-girth: 20px,
    $track-colour: #FFF
);

@import "../bower_components/angular-named-toggle/image-toggle.scss";

div.audio-pane {
    font-size: 2vw;

    @include image-toggle($trueImage: '../../../components/main/audio/volume-mute.svg', $falseImage: '../../../components/main/audio/volume.svg', $width: 2em, $height: 2em);

    div.panel > div {
        padding: 0!important;
    }

    div.sliders {
        &> div.panel {
            // This is what allows 3 sliders
            // per column 
            @include flex-basis(30%);
        }

        // Slider should take up the full width
        // of the column it is currently in
        table.slider {
            width: 100%;

            text-align: center;

            td.name {
                text-align: left;
            }

            td.btn-adjust {
                width: 5em;
            }
        }
    }

    div.locations {
        font-size: 2.3vw;

        div.location {
            margin-bottom: 0.3em;
        }
    }

    div.master-audio {
        flex-grow: 7!important;
        table {
            height: 100%;
            margin: 0 auto;
        }
    }
}