
<div co-bind="'Wireless' as source_names">
    <div ng-if="source_names" ng-init="selectSource(source_names[0])" class="standard-panel">
        <div id="wirelessmain">
            <span ng-if="numOutputs > 1 || has_preview">
                You can project on one or both displays in this room.<br />
                Touch the screens below to select the display for your presentation.<br /><br />
            </span>
            <div>
                <img src="components/main/Wireless/dongle.png" title="wireless presenter">
                <ol>
                    <li>Connect the Clickshare device to your laptop via the USB port</li>
                    <li>Follow the instructions on the LCD Display or Projector</li>
                </ol>
            </div>
        </div>
    </div>
</div>
