
<nav ng-init="showTab('apps')" co-bind="'cameras'">
    <span
        class="apps"
        ng-class="{active: tab === 'apps'}"
        ng-touch="showTab('apps')"
    ></span>
    <span
        class="tv"
        ng-class="{active: tab === 'tv'}"
        ng-touch="showTab('tv')"
    ></span>
    <span
        class="webcam"
        ng-if="selectedSource.hasWebCam"
        ng-class="{active: tab === 'webcam'}"
        ng-touch="showTab('webcam')"
    ></span>
    <span
        class="webcam"
        ng-if="selectedSource.hasPTZ"
        ng-class="{active: tab === 'ptzcam'}"
        ng-touch="showTab('ptzcam')"
    ></span>
    <span
        class="workshops"
        ng-if="cameras"
        ng-class="{active: tab === 'workshops'}"
        ng-touch="showTab('workshops')"
    ></span>
</nav>

<!-- stopPropagation here supports scrolling -->
<section ng-touch="$event.stopPropagation()" on-target>
    <div> <!-- ng-switch -->
        <div> <!-- ng-switch-when -->
            <div ng-include="'components/mobile/sources/residentpc/' + tab + '.html'">
            </div>
        </div>
    </div>
</section>
