
<!-- 
    This DIV is invisible
    it is used to check if the PCs power is on
 -->
<div
    co-module="selectedSource.mod || Computer"
    co-index="selectedSource.index || 1"
    co-bind="'connected' as $parent.power"
></div>

<nav ng-if="!power">
    <span class="info active"></span>
</nav>

<nav ng-if="power" ng-init="showTab('apps')" co-bind="'cameras'">
    <span
        class="apps"
        ng-class="{active: tab === 'apps'}"
        ng-touch="showTab('apps')"
    ></span>
    <span
        class="tv"
        ng-class="{active: tab === 'tv'}"
        ng-touch="showTab('tv')"
    ></span>
    <span
        class="webcam"
        ng-if="selectedSource.hasWebCam"
        ng-class="{active: tab === 'webcam'}"
        ng-touch="showTab('webcam')"
    ></span>
    <span
        class="webcam"
        ng-if="selectedSource.hasPTZ"
        ng-class="{active: tab === 'ptzcam'}"
        ng-touch="showTab('ptzcam')"
    ></span>
    <span
        class="workshops"
        ng-if="cameras"
        ng-class="{active: tab === 'workshops'}"
        ng-touch="showTab('workshops')"
    ></span>
</nav>

<!-- stopPropagation here supports scrolling -->
<section ng-touch="$event.stopPropagation()" on-target>
    <div> <!-- ng-switch -->
        <div> <!-- ng-switch-when -->
            <div ng-if="power" ng-include="'components/mobile/sources/residentpc/' + tab + '.html'">
            </div>
            <div ng-if="!power">
                <br />Unable to connect to the computer.<br />
                <button ng-touch="coModuleInstance.$exec('wake_pcs')">Attempt Power On</button>
            </div>
        </div>
    </div>
</section>
