@import "compass";

@import "../bower_components/angular-named-toggle/angular-named-toggle.scss";

@include named-toggle();

div.output-select {
    position: absolute;
    top: 0.5em;
    width: 100%;

    z-index: 5;

    font-size: 2.1vw;
    font-weight: bold;
    text-align: center;

    &> select {
        margin-left: 1em;
    }
}

div.vision {

    div.sources {
        width: 100%;
        text-align: center;
        flex-grow: 2!important;

        tabs.room-sources {
            width: 100%;
            height: 100%;

            nav {
                width: 100%;
                height: 3em;

                &> div {
                    max-width: none;

                    &.active {
                        background-color: #aaa;
                    }
                }
            }

            pane {

                &> div {
                    background-color: #aaa;
                }

                div.source-btns > div {
                    position: relative;
                    display: inline-block;

                    width: 13.5vw;
                    height: 12vh;
                    margin: 1vw;

                    background-color: #eeeeee !important;
                    border: 5px solid white;

                    &.active {
                        border: 5px solid #53d76a;
                    }

                    &> span {
                        display: block;
                        position: absolute;
                        bottom: 0.5em;
                        left: 0;

                        width: 100%;
                    }

                    &> div {
                        position: absolute;
                        bottom: 1.5em;
                        left: 0;
                        right: 0;
                        top: 0.2em;

                        text-align: center;
                        font-size: 6vh;
                    }

                }
            }
        }
    }

    div.outputs {
        flex-grow: 3!important;
        text-align: center;

        div.output {
            position: relative;
            display: inline-block;

            margin-right: 1em; 
            min-width: 8em;

            &> div {
                padding: 0.5em;
                margin-bottom: 0.5em;
                width: 100%;

                background-color: #eeeeee !important;
                border: 5px solid white;

                div.source-image {
                    font-size: 6vh;
                    height: 6vh;
                }
            }
        }
    }

    div.controls > div {
        font-size: 2.1vw;

        p {
            margin-top: 0;
            margin-bottom: 0.5em;
        }

        span.switch-min {
            min-width: 8em;
        }
    }
}

