


<div class="expansive" ng-controller="SourceCtrl">

<!-- TODO:: need to check if room support joining -->
<!-- This loads the current joined rooms -->
<div ng-repeat="room in joinedRooms.rooms">
    <div co-system="room" co-module="'System'" co-bind="'outputs' as sysOutputs">
        <div ng-if="sysOutputs" ng-init="addOutputs(room, sysOutputs)"></div>
    </div>
</div>



<div class="panels vision">
    <div class="panel large">
        <div class="expansive">
            <div class="panels vert">
                <div class="panel sources">

                        <!-- Tabs to select inputs here -->

                        <tabs class="room-sources">
                            <pane ng-repeat="room in joinedRooms.rooms" title="{{roomNames[room]}}" name="room">
                                <div co-system="room" co-module="'System'" co-bind="'sources'" ng-init="selectRoom(room)">

                                    <!-- Sources from each room -->
                                    <div btn-group="selectedSource" btn-class="none" class="source-btns">

                                        <div ng-repeat="(name, details) in sources"
                                             btn="room + '_' + name"
                                             ng-touch="selectSource(room, name, details)"
                                        >
                                            <div class="source-image" ng-class="details.type"></div>
                                            <span>{{details.title}}</span>
                                        </div>

                                    </div>
                                </div>
                            </pane>
                        </tabs>


                </div>
                <div class="panel outputs">
                    <div class="center-hori">
                        <div>
                            <!-- All Outputs here -->
                            <div ng-repeat="output in outputs" class="output">
                                <div
                                    co-system="output.sys_id"
                                    co-module="'System'"
                                    co-bind="output.out_id as dispOutput"
                                    exec="present(dispOutput, output.out_id)"
                                    ng-touch="dispOutput = selectedDetails"
                                >
                                    <div>
                                        <span>{{roomNames[dispOutput.sys_id] || '&nbsp;'}}</span>
                                        <div class="source-image" ng-class="dispOutput.type"></div>
                                    </div>
                                </div>
                                <span>{{output.title}}</span><br />
                                <span>{{roomNames[output.sys_id]}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- TODO:: Select Display drop-down -->
    <!-- Manual Controls (auto-select room) -->
    <div class="panel">
        

        <div class="panels vert controls" co-system="output.sys_id" co-module="'System'">
            <select ng-controller="SyncOutputCtrl" ng-options="out.title for out in roomOutputs" ng-model="out" ng-change="selectOutput(out)"></select>

            <div class="panel" ng-if="output.lift">
                <div class="center-vert" co-module="output.lift.module" co-implicit-index>
                    <div
                        co-bind="output.lift.binding + output.lift.index as position"
                        exec="state(position, output.lift.index)"
                    >
                        <p>Projector Lift</p>
                        <div toggle-switch
                             model="position"
                             on-label="'Down'" 
                             off-label="'Up'"
                             true-value="'down'"
                             false-value="'up'"
                        ></div>
                    </div>
                </div>
            </div>
            <div class="panel" ng-if="output.screen">
                <div class="center-vert" co-module="output.screen.module" co-implicit-index>
                    <div
                        co-bind="output.screen.binding + output.screen.index as position"
                        exec="state(position, output.screen.index)"
                    >
                        <p>Screen</p>
                        <div toggle-switch
                             model="position"
                             on-label="'Down'" 
                             off-label="'Up'"
                             true-value="'down'"
                             false-value="'up'"
                        ></div>
                    </div>
                </div>
            </div>
            <div class="panel" ng-if="output">
                <div class="center-vert" co-module="selectedOutput" co-implicit-index>
                    <div co-bind="'power'" exec>
                        <p>{{output.title}}</p>
                        <div toggle-switch model="power" on-label="'On'" off-label="'Off'"></div>
                    </div>
                </div>
            </div>

            <div class="panel" ng-if="output.rotation_screen">
                <div class="center-vert" co-module="output.rotation_screen.module" co-implicit-index>
                    <div
                        co-bind="output.rotation_screen.binding + output.rotation_screen.index as position"
                        exec="state(position, output.rotation_screen.index)"
                    >
                        <p>Alt Screen</p>
                        <div toggle-switch
                             model="position"
                             on-label="'Down'" 
                             off-label="'Up'"
                             true-value="'down'"
                             false-value="'up'"
                        ></div>
                    </div>
                </div>
            </div>

            <div class="panel" ng-if="output.rotation_screen">
                <div class="center-vert" co-module="'Lifter'" index="1">
                    <div
                        co-bind="'lifter1_rotation' as rotation"
                        exec="rotate(rotation)"
                    >
                        <p>Rotation State</p>
                        <div toggle-switch
                             model="rotation"
                             on-label="'rotated'" 
                             off-label="'home'"
                             true-value="'active'"
                             false-value="'inactive'"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
