
<div class="expansive" co-bind="'outputs'">
<div ng-if="numOutputs > 1" class="output-select">
    <span>Selected Display:</span><select
        ng-model="selectedOutput"
        ng-options="key as source.title for (key, source) in outputs"
        ng-change="selectOutput(selectedOutput)"
    >
    </select>
</div>
<div class="panels vision" co-bind="selectedOutput as currSource" exec="present(currSource, selectedOutput)">
    <div class="panel large">
        <div co-bind="'sources'" btn-group="currSource" btn-class="none" class="expansive">
            <div class="panels vert">
                <div class="panel">
                    <div class="center-bottom">
                        <div class="sources">
                            <div ng-repeat="(name, details) in sources"
                                 btn="name" 
                                 ng-touch="$parent.currSource=name"
                            >
                                <div class="source-image" ng-class="details.type"></div>
                                <span>{{details.title}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="center-hori">
                        <div class="sources">
                            <div btn="'blank'" ng-touch="currSource='blank'">
                                <span>Blank</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panels vert controls">
            <div class="panel" ng-if="output.lift">
                <div class="center-vert" co-module="output.lift.module" co-implicit-index>
                    <div
                        co-bind="output.lift.binding + output.lift.index as position"
                        exec="state(position, output.lift.index)"
                    >
                        <p>Projector Lift</p>
                        <div toggle-switch
                             model="position"
                             on-label="'Down'" 
                             off-label="'Up'"
                             true-value="'down'"
                             false-value="'up'"
                        ></div>
                    </div>
                </div>
            </div>
            <div class="panel" ng-if="output.screen">
                <div class="center-vert" co-module="output.screen.module" co-implicit-index>
                    <div
                        co-bind="output.screen.binding + output.screen.index as position"
                        exec="state(position, output.screen.index)"
                    >
                        <p>Screen</p>
                        <div toggle-switch
                             model="position"
                             on-label="'Down'" 
                             off-label="'Up'"
                             true-value="'down'"
                             false-value="'up'"
                        ></div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="center-vert" co-module="selectedOutput" co-implicit-index>
                    <div co-bind="'power'" exec>
                        <p>Projector</p>
                        <div toggle-switch model="power" on-label="'On'" off-label="'Off'"></div>
                    </div>
                </div>
            </div>

            <div class="panel" ng-if="output.rotation_screen">
                <div class="center-vert" co-module="output.rotation_screen.module" co-implicit-index>
                    <div
                        co-bind="output.rotation_screen.binding + output.rotation_screen.index as position"
                        exec="state(position, output.rotation_screen.index)"
                    >
                        <p>Alt Screen</p>
                        <div toggle-switch
                             model="position"
                             on-label="'Down'" 
                             off-label="'Up'"
                             true-value="'down'"
                             false-value="'up'"
                        ></div>
                    </div>
                </div>
            </div>

            <div class="panel" ng-if="output.rotation_screen">
                <div class="center-vert" co-module="'Lifter'" index="1">
                    <div
                        co-bind="'lifter1_rotation' as rotation"
                        exec="rotate(rotation)"
                    >
                        <p>Rotation State</p>
                        <div toggle-switch
                             model="rotation"
                             on-label="'rotated'" 
                             off-label="'home'"
                             true-value="'active'"
                             false-value="'inactive'"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
