

<div class="expansive" co-bind="'light_level'" exec>
    <div class="panels lighting" co-bind="'light_presets' as lights">
        <div class="panel large">
            <div class="center-both">
                <div ng-if="lights[light_level].message"
                     ng-bind-html="lights[light_level].message"
                ></div>
                <div class="expansive"
                     ng-if="lights[light_level].custom"
                      ng-include="'components/main/lights/' + lights[light_level].custom + '.html'"
                ></div>
            </div>
        </div>
        <div class="panel" co-bind="'light_levels'">
            <div btn-group="light_level" class="vert-button-group" btn-class="btn">
                <button ng-repeat="level in light_levels" btn="level" ng-touch="$parent.light_level = level" class="toggle">{{level}}</button>
            </div>
        </div>
    </div>
</div>

