
<div class="phonemain" co-bind="'Skype' as source_names">
    <span ng-if="source_names" ng-init="selectSource(source_names[0])"></span>

    <div class="standard-panel" init="skype = {}" co-module="'Skype'">
        <div co-bind="'in_call' as skype.in_call">
            <div co-bind="'room_user' as skype.room_user">
                <div id="wirelessmain" co-bind="'mute' as skype.muted">
                    <div style="text-align: center">
                        <h2>To share your screen join the Skype link on your laptop</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
