
<div class="phonemain" co-bind="'Skype' as source_names">
    <span ng-if="source_names" ng-init="selectSource(source_names[0])"></span>

    <div class="standard-panel" init="skype = {}" co-module="'Skype'">
        <div co-bind="'in_call' as skype.in_call">
            <div co-bind="'room_user' as skype.room_user">
                <div id="wirelessmain" co-bind="'mute' as skype.muted">
                    <div>
                        <ul>
                            <li>'Join scheduled meeting' to connect to video call in room</li>
                            <li>To add a presentation, click 'Join Online' via Outlook meeting link on laptop<br /><br />OR<br /><br /></li>
                            <li>Create an On-The-Spot meeting via laptop Skype by calling room and other participants</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="sources">
            <div co-bind="'uri' as skype.dial_string">
                <button class="toggle"
                    ng-class="{disabled: !skype.dial_string}"
                    ng-touch="coModuleInstance.$exec('call_uri')"
                >
                    <i class="fa fa-phone"></i>Join scheduled meeting
                </button>
                <button class="toggle" ng-class="{disabled: !skype.in_call}"
                    ng-touch="coModuleInstance.$exec('hang_up')"
                >
                    <i class="fa fa-tty"></i>End current call
                </button>
                <span>
                    <button class="toggle" ng-class="{disabled: !skype.in_call, muted: skype.muted}"
                        ng-touch="coModuleInstance.$exec('mute', !skype.muted)"
                    >
                        <span ng-if="!skype.muted"><i class="fa fa-microphone"></i>Mute room mics</span>
                        <span ng-if="skype.muted"><i class="fa fa-microphone-slash"></i>Unmute room mics</span>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
