
<div co-bind="'Videowall' as source_names" id="pc-inputs" ng-init="hasTabs = false">
    <div style="font-size: larger" ng-if="source_names" ng-init="selectSource(source_names[0])" class="standard-panel">
        <div>
           Videowall output is now being displayed on the screen(s).
        </div>
        <div class="sources" ng-if="source_names.length > 1">
            <div btn-group="selectedSource.source">
                <button ng-repeat="pc in source_names" btn="pc" ng-touch="selectSource(pc)" class="toggle" ng-class="sources[pc].type"><i class="fa fa-desktop"></i>{{sources[pc].title}}</button>
            </div>
        </div>
    </div>
</div>
