

#wirelessmain {

    > div {
        text-align: left;
    }
    
    img {
        float: left;
        margin-left: 2em;
        margin-right: 3em;
    }

    ol {
        padding-top: 1em;
        text-align: left;
        font-size: larger;
        float: left;

        li {
            padding-bottom: 0.5em;
        }
    }

}

#wirelessmobile {
    #wirelessmain {
        > div {
            width: 100%!important;
            margin: 0!important;
            margin-bottom: 3em!important;
            margin-top: 3em!important;
        }

        ol {
            clear: both;
        }
    }
}
