
<article
    ng-if="state === 'online'"
    ng-controller="SidebarCtrl"

    ng-swipe-left="hideNav()"
    ng-swipe-right="showNav()"

    drag-begin="dragStartNav($event)"
    ng-drag="dragNav($event)"
    drag-stop="dragEndNav()"
    drag-directions="'left right'"

    drag-y-axis="false"
    user-select="true"

    class="mobile"
    ng-class="{
        navAnimate: navAnimate,
        navDecorate: navDecorate,
        navOpen: navOpen,
        noAuth: !authenticated
    }"
>
    <div
        id="touch-overlay" 
        ng-touch="toggleNav()"
    >
        <!--
            For closing the mobile sidebar when it is showing
            Provides a touch area over the sliver of the visible content
         -->
    </div>

    <header 
        class="promote-layer" 
        ng-touch="$event.stopPropagation()" 
        user-select="true" 
        no-capture
    >
        <span co-bind="'name' as $root.SystemName" class="name">{{SystemName}}</span>

        <span id="show-menu" ng-touch="toggleNav()">
            <div class="logo"></div>
        </span>
    </header>

    <aside ng-controller="OptionsCtrl"  class="promote-layer" ng-style="{'background-color': selectedSource.colour}">
        <div 
            id="aside-wrapper"
            ng-class="{hasVolume: selectedSource.title && !output.no_audio}"
        >
            <div id="nav-buffer">
                <!-- Place the popup actions here -->
                <div class="tray" ng-include="'components/shared/popups.html'"  ng-controller="Modals"></div>
            </div>

            <div ng-controller="OptionsCtrl" id="source-info">
                <h1 ng-if="selectedSource.title">{{selectedSource.title}} on {{output.title || 'All Displays'}}</h1>
                <h1 ng-if="!selectedSource.title">No source selected</h1>
                <div ng-if="selectedSource.title && !output.no_audio" class="source-volume" ng-controller="JointAudioCtrl">
                    <h2>Volume</h2>
                    <div ng-include="'components/shared/audio.html'"></div>
                </div>
            </div>

            <div 
                id="nav-wrapper"
                ng-include="'components/mobile/sources/' + (selectedSource.type || 'none') + '/source.html'"
                ng-controller="TabsCtrl"
            >
            </div>
        </div>
    </aside>

    <div
        id="mobile-sources"
        co-bind="'sources'"
        ng-controller="OptionsCtrl"
    >

        <div ng-if="numOutputs > 1">
            <h2>Select display:</h2>
            <!-- Output lists -->
            <select
                ng-model="tmp_output"
                ng-change="selectOutput(tmp_output)"
                ng-options="key as output.title for (key, output) in outputs"
                ng-touch="$event.stopPropagation()" 
                user-select="true" 
                no-capture
            >
                <option value="">all displays</option>
            </select>

            <span
                ng-if="output.type == 'projector'"
                co-module="current_output"
                co-implicit-index
            >
                <button
                    co-bind="'mute'"
                    exec

                    class="toggle inline"
                    ng-class="{active: mute}"
                    ng-click="mute=!!!mute"
                >
                    Mute
                </button>
            </span>

            <h2>Select what to show:</h2>
        </div>

        <div ng-if="numOutputs === 1">
            <h2>Select what to show on the display:</h2>
        </div>

        <!-- Source Selection -->
        <div 
            ng-if="sources" 
            co-bind="(current_output || 'all_displays') as selectedSource"
            exec="present(selectedSource.source, current_output)"
            ng-controller="OptionsCtrl"
        >
            <div btn-group="selectedSource.source" class="sources">
                <button ng-repeat="(key, info) in sources" btn="key" ng-click="selectSource(key); $root.$emit('$track', 'present', current_output || 'all_displays', info.record_as || key);" class="toggle" ng-style="{'background-color': info.colour}">
                    <span ng-class="info.type"></span>{{info.title}}
                </button>
            </div>
        </div>


        <br />
        <br />
        <div co-bind="'help_msg'">
            <p ng-bind-html="help_msg"></p>
        </div>
    </div>
</article>
