@import "compass";
@import "variables";


main {
    > div {
        height: 100%;
        > div {
            height: 100%;
            > div {
                height: 100%;
            }
        }
    }
}


// animations
@mixin animation($defn) {
    -webkit-animation: $defn;
    -moz-animation: $defn;
    -ms-animation: $defn;
    animation: $defn;
}


// sizing
@mixin fill-space($position: absolute) {
    position: $position;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}



////////////////////////////////////
//          Panel Sizes           //
////////////////////////////////////
$header-height: 60px;
$mobile-nav-width: 60px;

////////////////////////////////////
//         Content Sizing         //
////////////////////////////////////
$pad: 30px;
$mobile-content-pad: 20px;
$sidebar-pad: 25px;
$sidebar-tab-height: 24px;
$header-logo-width: 150px;


////////////////////////////////////
//            Z-Index             //
////////////////////////////////////

$header-zindex: 31;   // Header needs to be above the content
$sidebar-zindex: 30;

$overlay-zindex: 99;  // Overlay goes over the header and content
$popups-zindex: 100;
$notifications-zindex: 150;

$fixed-elements-zindex: 10;
$video-time-zindex: 11;


// Sidebar is below the content on mobile
// NOTE:: content has to be above the sidebar
// Sidebar closed must be -1 when closed, else breaks webkit
// Sidebar open must be 0, else scrolling broken in firefox
$mobile-content-zindex: 1;
$mobile-sidebar-open-zindex: 0;
$mobile-sidebar-closed-zindex: -1;


////////////////////////////////////
//           Animations           //
////////////////////////////////////
$sidebar-transition-time: 0.3s;      // Animation time (Needs to match JS)
$sidebar-transition-type: ease-out;  // Animation style


////////////////////////////////////
//            Colours             //
////////////////////////////////////
$header-primary-colour: #b72706;
$header-secondary-colour: #9d2408;

$sidebar-secondary-colour: #202328;
$sidebar-primary-colour: lighten($sidebar-secondary-colour, 8%);

$button-colour: #777;
$cancel-button-colour: #eee;
$delete-button-colour: red;

$default-text-colour: #333;

$nav-border: 1px solid #eee;

$tab-colour: white;
$sidebar-tab-hover-colour: transparentize($tab-colour, 0.85);
$sidebar-tab-selected-colour: transparentize($tab-colour, 0.7);


////////////////////////////////////
//             Type               //
////////////////////////////////////
$default-font: lato, "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
$default-font-size: 14px;
$input-font-size: 14px;

$mobile-nav-padding: 10px;



// Tray icons (defined in shared)
article.mobile {
    div.tray {
        &> span.name {
            display: none;
        }

        &> div {
            margin-top: 5px;
            height: 50px;

            &> div {
                width: 50px;
                line-height: 50px;
            }
        }
    }
}


// IOS 8 header support
body.ios-app-mode {
    article.mobile {
        &> header {
            height: $header-height + 15 !important;


            &> span {
                display: inline-block;
                margin-top: 15px;
            }
        }

        &> div#mobile-sources {
            padding-top: $header-height + $mobile-content-pad + 15  !important;
        }


        #nav-buffer {
            height: $header-height + 15 !important;
        }

        #nav-wrapper {
            top: -($header-height + 15) !important;
            padding-top: $header-height + 15 !important;

            > nav {
                top: $header-height + 15 !important;
            }
        }

        div.tray > div {
            margin-top: 20px;
        }
    }
}


body {
    // Don't scroll left and right
    overflow-x: hidden;
}

article.mobile {
    color: black;

    // Sidebar animations (header and main content on mobile move)
    &.navAnimate {
        > header, > div#mobile-sources {
            -webkit-transition: -webkit-transform $sidebar-transition-time $sidebar-transition-type;
            transition: -webkit-transform $sidebar-transition-time $sidebar-transition-type;
            transition: transform $sidebar-transition-time $sidebar-transition-type;
        }
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: $header-height;

        z-index: $header-zindex;

        text-align: center;
        font-size: 18px;

        color: white;

        &> span {
            line-height: $header-height;

            &#show-menu {
                height: $header-height;
                width: $header-height * 1.5;

                float: right;

                &> div.logo {
                    height: 100%;
                }
            }
        }
    }


    // Don't scroll left and right
    //overflow-x: hidden;

    height: 100%;

    // The player is here as it should more or less emulate main
    // Breaks convention a bit however you can't have everything
    > div#mobile-sources {
        display: block;
        
        @include box-sizing(border-box);
        background-color: white;
        position: relative;
        @include pie-clearfix();

        min-height: 100%;
        padding: $mobile-content-pad;
        padding-top: $header-height + $mobile-content-pad;
        z-index: $mobile-content-zindex;

        background-color: white;
    }


    > aside {
        // Animate nav bar in
        -webkit-transition: -webkit-transform $sidebar-transition-time $sidebar-transition-type;
        transition: -webkit-transform $sidebar-transition-time $sidebar-transition-type;
        transition: transform $sidebar-transition-time $sidebar-transition-type;

        // As navigation is full height we add the buffer
        //  so on resize the elements don't jump.
        // It also provides room for a logo or other context
        position: fixed;
        top: 0;
        right: 0;
        left: auto;
        bottom: 0;
        width: 90%;

        display: none;
        z-index: $mobile-sidebar-closed-zindex;
        
        #aside-wrapper {
            @include fill-space(relative);

            // This is displayed on mobile
            #nav-buffer {
                position: relative;
                z-index: $mobile-content-zindex;

                height: $header-height;
                //padding: $mobile-nav-padding 0px;
            }

            #source-info {
                position: relative;
                height: 36px;
                padding-left: 1em;

                color: white;

                h1, h2 {
                    margin: 0.3em;
                    margin-top: 0;
                    padding-top: 0.3em;

                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                h2 {
                    font-size: 16px;
                }

                &> div.source-volume {
                    height: 20px;
                    padding-right: 20px;

                    &> div {
                        height: 100%;

                        &> div {
                            display: table;
                            position: relative;
                            width: 100%;
                            height: 100%;
                            z-index: 10;

                            &> div {
                                display: table-cell;
                                vertical-align: middle;
                                

                                &.mute {
                                    width: 40px;

                                    @include image-toggle(
                                        $trueImage: "../../components/images/volume-white-mute.svg", 
                                        $falseImage: "../../components/images/volume-white.svg",
                                        $width: 30px,
                                        $height: 30px
                                    );
                                }

                                &.volume > div {
                                    width: 100%;
                                }

                                @include co-range-slider(
                                    $handle-size: 40px,
                                    $track-girth: 20px,
                                    $track-colour:white
                                );
                            }
                        }
                    }
                }
            }

            #nav-wrapper {
                @include fill-space(relative);
                @include box-sizing(border-box);

                top: -($header-height + 36);
                padding-top: $header-height + 36;

                > nav {
                    position: absolute;
                    top: $header-height + 36;
                    right: 0;
                    left: auto;

                    width: $mobile-nav-width;
                    height: 100%;
                }

                > section {
                    h1 {
                        margin: 0.5em;
                        margin-top: 0;
                    }

                    @include fill-space(relative);
                    width: auto;

                    overflow-y: auto;
                    -webkit-overflow-scrolling: touch;
                    overflow-scrolling: touch;
                    @include box-sizing(border-box);

                    margin-right: $mobile-nav-width;
                    margin-left: 0px;
                    box-shadow: 4px 0px 4px rgba(20, 20, 20, 0.15);

                    // This is used to allow dragging to occur on IE
                    // As the section element will prevent default on
                    // direct touch to allow using the scroll bar
                    > div {
                        min-height: 100%;
                        position: relative;
                        padding: $mobile-content-pad;
                    }
                }
            }

            // Add more space for the volume control
            &.hasVolume {
                #source-info {
                    height: 100px;
                }

                #nav-wrapper {
                    top: -($header-height + 100);
                    padding-top: $header-height + 100;

                    > nav {
                        top: $header-height + 100;
                    }
                }
            }
        }
    }

    // This is what the user touches to discard the side bar
    #touch-overlay {
        opacity: 0;
        cursor: pointer;

        // Required for IE9, otherwise the div isn't rendered!!!
        background-color: white;
    }

    // Separate class for animation decorators
    // Allows us to 'manually' drag the menu open too
    &.navDecorate {
        > aside {
            display: block;
        }

        > div#mobile-sources {
            @include box-shadow(3px 0px 5px 0px #000);
        }

        overflow: hidden;
    }

    // When the navigation bar is open on mobile
    &.navOpen {
        // Animate the sliding out of the sidebar
        > header, > div#mobile-sources {
            @include translate(-90%, 0);
        }

        > aside {
            z-index: $mobile-sidebar-open-zindex;
        }

        // Overlay to catch any clicks
        #touch-overlay {
            @include fill-space(fixed);
            width: 10%;
            z-index: $overlay-zindex;
        }
    }



    ///////////////////
    // SOURCES ICONS //
    ///////////////////
    div#mobile-sources {
        div.sources > button > span {
            font-family: FontAwesome;
            margin-right: 0.8em;

            &.residentpc::before {
                content: "\f108";
            }

            &.aux_hdmi::before {
                content: "\f109";
            }

            &.vc-camera::before {
                content: "\f03d";
            }

            &.vc-active::before {
                content: "\f0c0";
            }
        }
    }



    ////////////////////
    // SOURCE OPTIONS //
    ////////////////////

    &> aside {
        background-color: $sidebar-primary-colour;

        #nav-wrapper {
            &> section {
                color: white;
                font-size: 18px;
            }

            &> nav {
                background-color: $sidebar-secondary-colour;

                span {
                    display: block;
                    width: $mobile-nav-width;
                    height: $mobile-nav-width;
                    border-bottom: 1px solid $sidebar-primary-colour;
                    position: relative;
                    
                    // each tab icon is a font icon drawn in the ::before
                    // psuedo element of each a element
                    &:before {
                        font-family: FontAwesome;
                        font-size: 30px;
                        color: rgba(255,255,255,0.9);
                        text-decoration: none;
                        text-align: center;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;

                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: $mobile-nav-width - 4px;
                        height: $mobile-nav-width;
                        padding-top: 15px;
                    }

                    &.apps:before {
                        content: "\f022";
                    }
                    
                    &.tv:before {
                        content: "\f03e";
                    }

                    &.workshops:before {
                        content: "\f06e";
                    }

                    &.webcam:before {
                        content: "\f03d";
                    }

                    &.info:before {
                        content: "\f05a";
                    }

                    &.visualiser {
                        background-image: url("../../components/main/Visualiser/visualiser.svg");

                        background-size: auto 2.3em;
                        background-repeat: no-repeat;
                        background-position: center center;
                    }

                    &:hover {
                        background-color: lighten($sidebar-secondary-colour, 8%);
                    }

                    &.active {
                        background-color: lighten($sidebar-secondary-colour, 3%);
                        border-left: 4px solid #3c4e58;
                    }
                }
            }
        }
    }

}
