
<article 
    ng-if="state === 'online'"
    ng-controller="SidebarCtrl"

    ng-swipe-left="hideNav()"
    ng-swipe-right="showNav()"

    drag-begin="dragStartNav($event)"
    ng-drag="dragNav($event)"
    drag-stop="dragEndNav()"
    drag-directions="'left right'"

    touch-action="pan-y"
    drag-y-axis="false"
    user-select="true"

    ng-class="{
        navAnimate: navAnimate,
        navDecorate: navDecorate,
        navOpen: navOpen,
        noAuth: !authenticated
    }"
>
    <div
        id="touch-overlay" 
        ng-touch="toggleNav()"
    >
        <!--
            For closing the mobile sidebar when it is showing
            Provides a touch area over the sliver of the visible content
         -->
    </div>

    <header 
        class="promote-layer" 
        ng-touch="$event.stopPropagation()" 
        user-select="true" 
        no-capture
    >
        <div class="name"></div>

        <span id="show-menu" ng-touch="toggleNav()">
            <div class="logo aca-small"></div>
        </span>
    </header>

    <aside class="promote-layer">
        <div id="aside-wrapper">
            <div id="nav-buffer">
                <!-- Place the popup actions here -->
            </div>

            <div id="nav-wrapper">
                <nav>
                    <span class="apps"></span>
                    <span class="workshops"></span>
                    <span class="webcam"></span>
                </nav>

                <section>
                    <div > <!-- ng-switch -->
                        <div > <!-- ng-switch-when -->
                            <div > <!-- ng-include -->
                                <!-- sidebar content -->

                                SOME SAMPLE CONTENT
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </aside>

    <div id="mobile-sources">
        <!-- Output lists -->
        <!-- Source Selection -->
    </div>
</article>
