
<div co-bind="'Laptop' as source_names" id="laptop-inputs">
    <div ng-if="source_names" ng-init="selectSource(source_names[0])" class="standard-panel">
        <div ng-if="numOutputs > 1 || has_preview">
            <span ng-if="source_names.length === 1">Select displays to show your laptop</span>
            <span ng-if="source_names.length > 1">Select a laptop connection point, then select displays.</span>
        </div>
        <div ng-if="numOutputs === 1 && !has_preview">
            <span ng-if="source_names.length === 1">The laptop connection is now being presented</span>
            <span ng-if="source_names.length > 1">The selected laptop connection will display.</span>
        </div>
        <div class="sources" ng-if="source_names.length > 1">
            <div btn-group="selectedSource.source">
                <button ng-repeat="lap in source_names" btn="lap" ng-touch="selectSource(lap)" class="toggle"><i ng-class="sources[lap].type"></i>{{sources[lap].title}}</button>
            </div>
        </div>
    </div>
</div>
